.oneRow {
    white-space: nowrap;
    padding: 0 2px 0 2px;
}

.tableGridView {
    border-collapse: collapse;
}

.tableGridView tr th {
        color: #000000;
}

 .tableGridView tr th, .tableGridView tr td {
        border: 1px solid Silver;
        padding: 2px;
        line-height: 10px;
 }

.PagerStyle table tr td {
    border: none;
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
    border-right: #888888 1px solid;
    padding-right: 2px;
    border-top: #888888 1px solid;
    padding-left: 2px;
    font-size: 12px;
    height: 20px;
    padding-bottom: 2px;
    border-left: #888888 1px solid;
    color: #000000;
    padding-top: 2px;
    border-bottom: #888888 1px solid;
    font-family: Verdana, Tahoma;
    background-color: #ffffff;
}

.style1 {
    width: 11%;
}

.style2 {
    FONT-SIZE: 11px;
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    width: 11%;
}

.auto-style1 {
    FONT-SIZE: 11px;
    COLOR: #333333;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    height: 22px;
}

.auto-style2 {
    height: 22px;
}

.usermn {
    float: right;
    margin: 0 20px 0 10px;
}

.usermn a {
        color: blue;
        font-size: 14px;
        text-decoration: none;
}

.usermn a:hover {
            color: #e63030;
            font-size: 14px;
            text-decoration: none;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../../../images/loading_double.gif') 50% 50% no-repeat #ffffff;   
    opacity: .7;
}