.oneRow {
    white-space: nowrap;
    padding: 0 2px 0 2px;
}

.tableGridView {
    border-collapse: collapse;
}

    .tableGridView tr th {
        color: #000000;
    }

    .tableGridView tr th, .tableGridView tr td {
        border: 1px solid Silver;
        padding: 2px;
        line-height: 20px;
    }

.PagerStyle table tr td {
    border: none;
    padding: 0;
}

.swifttextnew {
    BORDER-RIGHT: #888888 1px solid;
    PADDING-RIGHT: 2px;
    BORDER-TOP: #888888 1px solid;
    PADDING-LEFT: 2px;
    FONT-SIZE: 11px;
    height: 20px;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: #888888 1px solid;
    COLOR: #000000;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #888888 1px solid;
    FONT-FAMILY: Verdana, Tahoma;
    BACKGROUND-COLOR: #ffffff;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../../../images/loading_double.gif') 50% 50% no-repeat #ffffff;
    opacity: .7;
}
