################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ePortal.API/obj
/ePortal.Application/obj
/ePortal.Domain/obj
/ePortal.Infrastructure/obj
/ePortal.Persistence/obj
/ePortal.Shared/obj
/ePortal.ViewModels/obj
/ePortal.WebUI/obj
*.user
/ePortal.API/bin/Debug/net8.0
/ePortal.Application/bin
/ePortal.Domain/bin
/ePortal.Infrastructure/bin
/ePortal.Persistence/bin
/ePortal.Shared/bin/Debug/net8.0
/ePortal.ViewModels/bin
/ePortal.WebUI/bin
/ePortal.WebUI/Properties/PublishProfiles/FolderProfile.pubxml
/ePortal.Shared/bin/Release/net8.0/ePortal.Shared.pdb
/ePortal.Shared/bin/Release/net8.0/ePortal.Shared.dll
/ePortal.API/bin/Release/net8.0
/ePortal.Domain/Properties/PublishProfiles
/ePortal.WebUI/Logs
/ePortal.WebUI/Uploads
/ePortal.WebUI/Views/AssetDisposal/Master/vssver2.scc
/ePortal.WebUI/Views/AssetDisposal/UploadInvoice/vssver2.scc
/ePortal.WebUI/Views/AssetDisposal/vssver2.scc
/ePortal.WebUI/Views/ICIBM/vssver2.scc
