.fnt {
    font-family: Arial !important;
}

table {
}

.tableMainInner tr td, .tableMainOuter tr td {
    line-height: 20px;
    padding-top: 3px;
}

.tableMainInner, .tableMainInner textarea, .tableMainInner input, select.swiftselect, select.swiftselect option {
    font-size: 11px;
    border-collapse: collapse;
    color: #000000;
    font-family: Verdana, Tahoma;
}

    .tableMainInner tr td {
        border: solid 1px #CCDCE0;
        padding: 0;
    }

        .tableMainInner tr td.heading {
            text-align: right;
        }

.oneRow {
    white-space: nowrap;
    padding: 0 2px 0 2px;
}

.tableGridView {
    border-collapse: collapse;
}

    .tableGridView tr th, .tableGridView tr td {
        border: 1px solid Silver;
        line-height: 24px;
        font-family: Verdana, Arial, Helvetica;
        font-size: 11px;
    }

    .tableGridView tr th {
        background: url(../../assets/images/bg_header.jpg) #cae8ea no-repeat;
    }

.HeaderStyle12 {
    border: 1px solid #C1C4C8;
    border-bottom: none;
}

.swiftselect {
    margin-top: 1px;
    width: 140px;
    border: 1px solid gray !important;
}

.swifttext {
    margin-top: 1px;
}

.noteli li {
    background-image: url('../../../images/bulletlevel2.gif');
    background-repeat: no-repeat;
    list-style: none;
    background-position: 5px 6px;
    padding-left: 25px;
    line-height: 18px;
    margin-top: 3px;
    margin-bottom: 3px;
}

a {
    cursor: pointer;
}



.grd tbody tr:nth-child(even) {
    background-color: white;
}
