.tableView {
    border-collapse: collapse;
    margin-bottom: 4px;
}

    .tableView tr th, .tableView tr td {
        line-height: 20px;
        border: 1px solid Silver;
        font-size: 11px;
    }

    .tableView tr span {
        margin-left: 0px;
    }

    .tableView select {
        margin-top: 3px;
    }

.PagerStyle td {
    border: none !important;
}

.legendcs {
    border: 1px solid #D4D4D4;
    background-color: #E7E6E8;
    line-height: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.style1 {
    width: 15%;
    height: 19px;
}

.causedoc {
    background-color: #FAE7A2;
    border: 1px solid #F5C558;
    width: 99.5%;
    background-image: url('../../../images/alert-triangle-red.png');
    background-position: 5px 5px;
    background-repeat: no-repeat;
    color: black;
    font-family: Arial;
    font-size: 11px;
    padding: 5px 5px 5px 35px;
    text-align: justify;
    margin-left: 4px;
    margin-bottom: 5px;
}



a{
    cursor: pointer;
}


.tablesubcontractGridView tbody tr:nth-child(even) {
    background-color: white;
}


#grdcontractlist > tbody > tr:hover:not(:has(table:hover)) {
    background-color: #F5F3DA;
}
.ui-widget {
    font-size: 0.6em;
}
.ui-widget-header{
    font-weight: 100;
}
.ui-datepicker .ui-datepicker-title {
    line-height: 1.6em;
}