.fnt {
    font-family: Arial !important;
}

.tableMainInner tr td, .tableMainOuter tr td {
    line-height: 20px;
    padding-top: 3px;
}

.tableMainInner, .tableMainInner textarea, .tableMainInner input, select.swiftselect, select.swiftselect option {
    font-size: 11px;
    border-collapse: collapse;
    color: #000000;
    font-family: Verdana, Tahoma;
}

.tableMainInner tr td {
    border: solid 1px #CCDCE0;
    padding: 0;
}

.tableMainInner tr td.heading {
    text-align: right;
}

.oneRow {
    white-space: nowrap;
    padding: 0 2px 0 2px;
}

.tableGridView {
    border-collapse: collapse;
}

.tableGridView tr th, .tableGridView tr td {
    border: 1px solid Silver;
    line-height: 24px;
    font-family: Verdana, Arial, Helvetica;
    font-size: 11px;
}

    .tableGridView tr th {
        background: url('../../../images/bg_header.jpg') #cae8ea no-repeat;
    }

.HeaderStyle12 {
    border: 1px solid #C1C4C8;
    border-bottom: none;
}

.swiftselect {
    margin-top: 1px;
    width: 140px;
    border: 1px solid gray !important;
}

.swifttext {
    margin-top: 1px;
}

.noteli li {
    background: url('../../../images/bulletlevel2.gif');
    background-repeat: no-repeat;
    list-style: none;
    background-position: 5px 6px;
    padding-left: 25px;
    line-height: 18px;
    margin-top: 3px;
    margin-bottom: 3px;
}

a.tooltip {
    outline: none;
    background: url('../../../images/tip_icon_tiny.png');
    background-repeat: no-repeat;
    width: 25px;
    background-position: 0px 3px;
    height: 17px;
}

a.tooltip strong {
    line-height: 30px;
}

a.tooltip:hover {
    text-decoration: none;
}

a.tooltip span {
    z-index: 10;
    display: none;
    padding: 5px 5px;
    margin-top: -30px;
    margin-left: 28px;
    width: 250px;
    line-height: 16px;
}

a.tooltip:hover span {
    display: inline;
    position: absolute;
    color: #111;
    border: 1px solid #9DBEF2;
    background: #E8F1F5;
    margin-left: 5px;
}

.callout {
    z-index: 20;
    position: absolute;
    top: 30px;
    border: 0;
    left: -12px;
}

a.tooltip span {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 4px #b4b4b4;
    -moz-box-shadow: 0px 3px 4px #b4b4b4;
    box-shadow: 0px 3px 4px #b4b4b4;
    background-color: #ecf2fe;
    layer-background-color: #ecf2fe;
    filter: alpha(opacity=90);
    opacity: 0.88;
    width: 400px;
    border: 1px solid;
    border-color: #b2c7ec;
    border-bottom-color: #88a3d2;
    padding: 1em;
    z-index: 999;
    font-weight: normal;
    text-decoration: none;
    white-space: normal;
    margin-right: 50px;
}

.sampfrmt {
    font-weight: 100;
    color: blue;
    font-size: 10px;
    line-height: 25px;
}

.causedoc {
    background-color: #FAE7A2 !important;
    border: 1px solid #F5C558;
    width: 98.6%;
    height: 30px;
    background: url('/images/alert-triangle-red.png');
    background-position: 5px 5px;
    background-repeat: no-repeat;
    color: black;
    font-family: Arial;
    font-size: 11px;
    padding: 5px 5px 5px 35px;
    text-align: justify;
    margin-top: 8px;
    font-weight: 100;
    margin-left: 11px;
}


