.grdheader th {
    padding-left: 3px;
}

.grdrow td {
    padding-left: 3px;
    font-size: 12px;
}

    .grdrow td img {
        margin-top: 5px;
    }

body {
    font-family: Verdana !important;
}


#grdiomrequest tbody tr:nth-child(even) {
    background-color: white;
}

#grdiomrequest th,
#grdiomrequest td {
    text-align: center;
}


a {
    cursor: pointer;
}


