.fnt {
    font-family: Arial !important;
}

table {
}

.tableMainInner tr td, .tableMainOuter tr td {
    line-height: 20px;
}

.tableMainInner, .tableMainInner textarea, .tableMainInner input, select.swiftselect, select.swiftselect option {
    font-size: 11px;
    border-collapse: collapse;
    color: #000000;
    font-family: Verdana, Tahoma;
}

    .tableMainInner tr td {
        border: solid 1px #CCDCE0;
        padding: 0;
    }

        .tableMainInner tr td.heading {
            text-align: right;
        }

.oneRow {
    white-space: nowrap;
    padding: 0 2px 0 2px;
}

.tableGridView {
    border-collapse: collapse;
}

    .tableGridView tr th, .tableGridView tr td {
        border: 1px solid Silver;
        line-height: 24px;
        font-family: Verdana, Arial, Helvetica;
        font-size: 11px;
    }

    .tableGridView tr th {
        background: url(../../asstes/images/bg_header.jpg) #cae8ea no-repeat;
    }

.HeaderStyle12 {
    border: 1px solid #C1C4C8;
    border-bottom: none;
}

.swiftselect {
    margin-top: 1px;
    width: 140px;
    border: 1px solid gray !important;
}

.swifttext {
    margin-top: 1px;
}

.style1 {
    color: #4d4c4c;
    font-family: Verdana, Arial;
    font-size: 11px;
    height: 25px;
}

.style2 {
    font-size: 11px;
    color: #333333;
    font-family: Verdana, Arial, Helvetica;
    height: 25px;
}

#ctl00_InnerContent_grdApprovalDetails td {
    line-height: 13px;
    padding: 2px;
}

.style3 {
    height: 25px;
}

.tableGridView th,
.tableGridView td {
    text-align: center;
}


#grdCommunicationHistory tbody tr:nth-child(odd) {
    background-color: white;
}

#grdPrivContractHistory tbody tr:nth-child(odd) {
    background-color: white;
}

a {
    cursor: pointer;
}