.maincontainer {
    width: 500px;
    border: 0px solid gray;
    height: auto;
    padding: 2px;
    background-color: White;
    margin-left: 5px;
    margin-right: 5px;
}

.mainhead {
    background-image: url('../../images/box_top_m.gif' );
    background-repeat: repeat-x;
    line-height: 25px;
    text-align: left;
    padding-left: 10px;
    color: White;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 0.9em;
}

#grdApprovalDetails {
    width: 98% !important;
}

.tableMainInner tr td, .tableMainOuter tr td {
    line-height: 20px;
}

.tableMainInner, .tableMainInner textarea, .tableMainInner input, select.swiftselect, select.swiftselect option {
    font-size: 11px;
    border-collapse: collapse;
    color: #000000;
    font-family: Verdana, Tahoma;
}

    .tableMainInner tr td {
        border: solid 1px #CCDCE0;
        padding: 0;
    }

        .tableMainInner tr td.heading {
            text-align: right;
        }

.oneRow {
    white-space: nowrap;
    padding: 0 2px 0 2px;
}

.tableGridView {
    border-collapse: collapse;
}

    .tableGridView tr th, .tableGridView tr td {
        border: 1px solid Silver;
        line-height: 24px;
        font-family: Verdana, Arial, Helvetica;
        font-size: 11px;
    }

    .tableGridView tr th {
        background: url(../../Images/bg_header.jpg) #cae8ea no-repeat;
    }

#resignapp th {
    color: #6D929B !important;
    font-weight: bold !important;
}

#pendclrform th {
    color: #6D929B !important;
    font-weight: bold !important;
}

#manageclrheader th {
    color: #6D929B !important;
    font-weight: bold !important;
}

.HeaderStyle12 {
    border: 1px solid #C1C4C8;
    border-bottom: none;
}

.frmtable .inputtxtcss {
    border: 1px solid gray !important;
    width: 168px !important;
    height: 20px;
    padding-left: 3px;
}

.DET_1 {
    width: 100%;
    height: auto;
}

.Head_1 {
    background-color: #2D5094;
    line-height: 25px;
    text-align: center;
    font-weight: bold;
    color: White;
}

.pendingspan {
    color: Red;
    font-weight: bold;
}

.completedspan {
    color: Green;
    font-weight: bold;
}

.holdspan {
    color: Orange;
    font-weight: bold;
}

.lblcss {
    color: #6299C5 !important;
}

.style1 {
    color: #4d4c4c;
    font-family: Verdana, Arial;
    font-size: 11px;
    height: 25px;
}

.style2 {
    font-size: 11px;
    color: #333333;
    font-family: Verdana, Arial, Helvetica;
    height: 25px;
}

a {
    cursor: pointer;
}