/****************** header ********************/
.fl{ float:left;}
.fr{ float:right;}
#wrapper { font-size: 11px; margin: 0px 0 0 14px;width: 990px; font-family:Verdana,Arial,Helvetica;}
#wrapper .page_Head{ padding: 3px 2px 3px 7px;}
#wrapper .page_Head h2{font-weight: 700;}
#divSpectable, #divSpec { float: left; }
#divClear { clear: both; }
.clr { clear: both; }
label{ vertical-align:top;}
a, img { border: 0; text-decoration: none; }
a:hover { text-decoration: none; }
.sect-navigation { color: #4f4f4f; }
.gray-color { color: #8f8d8d; }
.hading-style { font-size: 20px; }
body { font-family: Arial, sans-serif; color: #2c2c2c; font-size: 13px; margin: 0; background-color: #F3F3F4; }
.logo { padding: 8px 0 11px 0; float: left; width: 15%; }
.user-login-section { float: left; text-align: right; width: 23%; position: relative; }
.user-login-section #login-content { background: #010101; border: 1px solid #636363; padding: 6px; position: absolute; right: 19px; top: 54px; width: 168px; border-top: 0; }
.user-login-section #login { *padding-top:20px;
}

input[type="radio"]{ margin-right:3px;}
.edit-icon.right-border-none{border-right:0;}
/*.user-login-section #login-content .btn{ float: right;font-size: 11px;
    margin-right: 0; padding: 5px;}	*/
.user-login-section #login-content a { padding: 0 5px 5px; }
.user-login-section #login-content a.logout { background: url(images/logout_icon.png) no-repeat 0 0; padding-left: 19px; }
.user-login-section #login-content a.logout:hover, .user-login-section #login-content a.logout:focus { background: url(images/logout_hover.png) no-repeat 0 0; }
.user-login-section #login-content a:hover, .user-login-section #login-content a:focus { color: #fff; }
.header { background: url(../../Images/Help_Desk/top-bg.jpg) repeat-x; display: inline-block; height: 142px; margin-bottom: 20px; width: 100%; }
.readcrum-text { margin: 14px 0; display: inline-block; margin: 14px 0; width: 100%; }
.user-login-section a { color: #999a8c; display: inline-block; padding: 0 19px 0 21px; vertical-align: middle; }
.user-login-section a.user-name { background: url(../../Images/Help_Desk/user-icon.jpg) left no-repeat; }
/*.top-navigation{ margin-top:7px;}*/
.top-navigation ul { margin: 0; padding: 0; list-style: none; color: #2c2c2c; display: table; }
.top-navigation ul li { float: left; border-left: 1px solid #636363; *width:12.5%;
}
.top-navigation ul li:hover, .top-navigation ul li.active { background: #23262c; }
/*.top-navigation ul li:last-child:hover { background: url(../images/hover-bg.jpg) repeat-x; }*/
.top-navigation ul li:hover a, .top-navigation ul li.active a { color: #fff; }
.top-navigation ul li a i { background: url(../../Images/Help_Desk/sprit-icon.png) no-repeat; display: block; height: 32px; margin: 0 auto 8px; text-align: center; width: 35px; }
.top-navigation ul li a i.dashboard-icon { background-position: 0 5px; }
.top-navigation ul li a i.master-icon { background-position: 0 -56px; }
.top-navigation ul li a i.manageInv-icon { background-position: 0 -128px; }
.top-navigation ul li a i.manageReq-icon { background-position: 0 -202px; }
.top-navigation ul li:hover a i.dashboard-icon, .top-navigation ul li.active a i.dashboard-icon { background-position: 0 -23px; }
.top-navigation ul li:hover a i.master-icon, .top-navigation ul li.active a i.master-icon { background-position: 0 -89px; }
.top-navigation ul li:hover a i.manageInv-icon, .top-navigation ul li.active a i.manageInv-icon { background-position: 0 -165px; }
.top-navigation ul li:hover a i.manageReq-icon, .top-navigation ul li.active a i.manageReq-icon { background-position: 0 -236px; }
.top-navigation ul li a { color: #737373; display: block; font-size: 15px; padding: 15px; *padding: 14px;
text-align: center; text-decoration: none; }
.top-navigation ul li.last-child { background: none; background-color: #dfdfdf; }
#nav li > ul.child { }
.top-navigation { padding-right: 0; clear: both; float: left; }
nav.navbar-collapse { padding-right: 0; }
.top-heading { width: 62%; text-align: center; float: left; margin-top: 12px; }
.top-heading h1 { margin: 0; color: #8C8C8C; font-weight: 400; *padding-top:5px;
}
.breadcrumb { margin-bottom: 20px; padding: 0; list-style: none outside none; color: #676A6C; float: left; margin-left: 0; }
.breadcrumb > li { display: inline-block; float: left; }
.breadcrumb > .active { font-weight: 700; }
.breadcrumb > li + li:before { color: #CCCCCC; content: "/ "; padding: 0 5px; }
.breadcrumb > li a { color: #676A6C; *padding-right:10px; display:inline-block; border:0; }
/****************** content section ********************/
.page_border { text-align:left; border: 1px solid #9e9e9e; margin-bottom:10px; width: 990px; }
.page_Head  { background:#000000 url(../../images/heading_bg.jpg) repeat-x top;   color:#fff; padding:3px 2px 3px 10px; margin:3px;}
#master_contentplaceholder{ padding:0;}
.container-section { width: 979px; margin: 0 auto; display:inherit\9; }
.heading-section { background-color: #005992; }
.heading-section span { font-size: 16px; color: #fff; display: inline-block; padding: 11px 0 11px 17px; }
.heading-section .more-option { display: inline-block; float: right; font-size: 13px; padding: 10px; }
.heading-section .more-option a { color: #fff; }
.content-heading { color: #676A6C; text-align:left; background: #fff; border-top: 4px solid #E7EAEC;border-bottom: 1px solid #E7EAEC; font-size: 12px; margin: 0px; font-weight: 700; padding: 10px 0; width:100%;float: left; }
.content-heading.approval-heading{border-top:0;}
.form-content { padding:15px 0 0; background: #FFF; float: left; width: 100%;}
.input-color { border: 1px solid #E5E6E7; background: transparent; color: #999999;display: inline-block; height: 20px; padding:5px 2%; width: 100%; font-family: arial; font-size: 12px !important; resize: none; line-height: 20px; }
/*.lab-style { display: block; vertical-align: top; color: #3f3d3d; padding-bottom: 7px;text-align:left; font-weight:700;}*/
/*.lab-style { display: block; vertical-align: top;  font-size: 12px; color: #3f3d3d; padding-bottom: 7px;text-align:left; font-weight:700;}*/
.lab-style { display: block; vertical-align: top;  font-size: 11px; color: #3f3d3d; padding-bottom: 7px;text-align:left;}
.input-section {position: relative; width: inherit; }
.input-section span { display: block; font-size: 11px; position: absolute;color: #f1001f; height: 17px; min-width: 150px;  top: 31px; top: 29px\9; /* IE8 and below */ }
.check-box { float: left; margin: 0 5px 0 0; }
.mg-style { margin-top: 2px; }
.mg133 { margin-left: 133px; }
/*.btn { background: #f1001f; border: 0 none; font-family: verdana; line-height:20px; transition: all 0.2s ease-out 0s; text-transform: capitalize; color: #fff; cursor: pointer; display: inline-block; margin-right: 0px; padding:4px 9px; float:left; }*/
.btn { background: #f1001f; border: 0 none; font-size: 12px; font-family: verdana; line-height:20px; transition: all 0.2s ease-out 0s; text-transform: capitalize; color: #fff; cursor: pointer; display: inline-block; margin-right: 0px; padding:4px 9px; float:left; }
.btn:hover { background: #C80707; }
.black-label { width: 129px; }
.dependency-form .mg133 { margin-left: 148px; }
.dependency-form .black-label { width: 142px; }
.pro-category-form .mg133 { margin-left: 72px; }
.pro-category-form .black-label { width: 67px; }
.select-fd { height: 30px; width: 294px; }
.sc-form .lab-style { width: 155px; }
.scc-form .mg133 { margin-left: 248px }
.sc-form .mg133 { margin-left: 162px; }
.sub-dep-form .lab-style { width: 169px; }
.sub-dep-form .mg133 { margin-left: 175px; }
.case-btn { margin: 10px 0 15px; }
textarea.textarea-field { background: transparent; border: 1px solid #E5E6E7; padding:5px 0 0 0.5%; resize: none; font-family: arial; font-size: 12px; color: #6D6D6D; width:100%; height:60px; }
body .list-table-form table.list-table {width: 100% !important; }
body .list-table-form table.list-table th { border-bottom: solid 1px #DDDDDD; border-top: 0 none; padding-left:0px; text-align: left;color: #676A6C;   padding-bottom: 5px;}
body .list-table-form table.list-table th.last-child-grid, body .list-table-form table.list-table tr td.last-child-grid{ text-align:right; padding-right:0;}
body .list-table-form table.list-table th.last-child-grid{padding-right:10px;}
body .list-table-form table.list-table td.last-child-grid a.add-item{ float:right; margin-right:19px;}
body .list-table-form table.dataTable.no-footer { border: 0; }
body .list-table-form table.list-table tr.even td { background-color: transparent !important; }
body .list-table-form table.list-table tr.odd td { background-color: transparent !important; }
body .list-table-form table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd { background-color: inherit !important; }
body .list-table-form table.list-table tr td a { color: #2C2C2C; margin: 0 3px; vertical-align: top; }
.list-table-form .dataTables_wrapper .dataTables_length { margin: 0 0 10px; }
#manage_form .mid-btn { margin-top: 0; }
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover { background-color: #F9F9F9 !important; }
.dataTables_wrapper.no-footer .dataTables_length select { border: 1px solid #D4D4D4; padding: 0; width: auto; }
.dataTables_filter label { color: #3F3D3D; font-weight: 700; }
.dataTables_filter input[type="search"], .dataTables_filter input[type="text"] { border: 1px solid #E5E6E7; color: #999999;  padding: 5px; width: 150px;}
.addinventory-content .input-field label.lab-style { width: 95px; font-size: 13px; font-weight: bold; padding-bottom: 5px; }
.addinventory-content .form-table tr td { vertical-align: top; padding-bottom: 15px; }
.addinventory-content .middle-section { margin-top: 20px; }
.addinventory-content select.input-color { height: 33px; width: 353px;float: left; padding-top: 7px; padding-right: 5px; }
.container-section.addinventory-content .ddspec-select { width: 392px;}
.addinventory-content .add-item { float: left; margin: 5px 0 0 5px; }
.addinventory-content .lab-style.cat-label { margin-top: 0; }
.middle-section { float: left; width:100%;}
.middle-section .left-section { float: left; width: 36%; margin-top: 0; }
.middle-section .left-section #divSpec { width: 100% }
.addinventory-content .middle-section .left-section .lab-style { width: 17%; }
.commen-field { width: 44%; }
.list-table-form #divSpectable { width: 100%; }
.list-table-form #divSpectable table.list-table { margin: 0; }
.item-section table tr td { padding-bottom: 21px; vertical-align: top; }
.mid-btn { background: #FFFFFF; float: left; margin-top: 15px; padding: 10px 0; float:right; text-align: right; width: 100%; border-top: 4px solid #E7EAEC; }
.mid-btn table{ float:right; width:auto;} 
.mid-btn table tr td{padding-right:0;}
/****************** menu section ********************/
#nav li > ul.child { position: absolute; top: 142px; z-index: 9; *width: 305px;
}
#nav li > ul.child li { width: auto; background-image: none; clear: both; border-bottom: 1px solid #636363; border-right: none; width: 100%; }
#nav li > ul.child li a { background: #2F2F2F; color: #737373; display: block; text-align: left; }
#nav li > ul.child li a:hover { background: #1a1a1a; }
#nav li > ul.child li:hover a { color: #fff; }
.top-navigation ul li:last-child { position: relative; border-right: 1px solid #636363; }
.top-navigation ul li+li+li+li { *width:259px;
}
.top-navigation ul#nav li:last-child ul.child { top: 88px; width: 299px; }
/****************** login Section ********************/
.login { width: 1336px; margin: 0 auto; }
.login .company-logo, .login .logo-form-section { float: left; width: 50%; }
.login .logo-form-section .login-heading { text-align: center; margin-top: 15%; }
.login .logo-form-section .login-heading h1 { font-size: 25px; font-weight: 400; color: #474747; margin: 17px 0 25px; }
.login-form { width: 48%; background:#f2f2f2; border-bottom: solid 3px #dfdfdf; margin: 0 auto; padding: 43px; }
.login-form input::-moz-placeholder {
color:#202020;
} /* firefox 19+ */
.login-form input:-ms-input-placeholder {
color:#202020;
} /* ie */
.login-form input:-moz-placeholder {
color:#202020;
}
.login-form input[type="text"], .login-form input[type="password"] { border: solid 1px #949494; border-radius: 5px; padding:18px 38px 10px 38px; min-width: 180px; width: 75%; background: transparent; margin-bottom: 3px; font-size: 15px; color: #474747; height:20px; }
.keeplogin-font { font-size: 15px; margin-left: 5px; }
.checkbox-section { margin: 0px 0 15px; color: #474747; clear:both;}
#btn_Login{background: #f1001f; margin-right: 16px; border: 0 none; cursor: pointer; border-radius: 5px; color: #FFFFFF; font-size: 15px; padding: 15px; width: 150px; transition: all 0.2s ease-out 0s; }
.login input[type="button"] {background: #f1001f; margin-right: 16px; border: 0 none; cursor: pointer; border-radius: 5px; color: #FFFFFF; font-size: 15px; padding: 15px; width: 150px; transition: all 0.2s ease-out 0s; }
.login input[type="button"]:hover, .login input[type="button"]:focus { background: #cb0b24; }
.login input[type="button"].resetbtn { margin-right: 0; }
.login a.forgot-text { font-size: 15px; color: #f1001f; text-decoration: underline; display: inline-block; padding-top: 15px; }
.user-icon, .lock-icon { padding: 10px 0 5px 10px; position: absolute; left: 0; }
.lock-icon{top: 0px;}
.login-form .fields, .fields { position: relative; padding-bottom: 10px; clear: both;}
.form-content .fields{ float:left;}
.login-form .input-section span { top: 56px; position: static; }
#asstlife_cont .assetlifecycle-form .input-bg{ width:91%;}
#asstlife_cont .assetlifecycle-form select.input-color {height: 30px; width: 95%;}
/****************** dashboard page ********************/
.request-btn { background: inherit; border: 1px solid #C2C2C2; color: #3f3d3d; display: inline-block; padding: 11px 20px; font-size: 14px; margin-right: 10px; cursor: pointer; }
.request-btn:hover, .request-btn:focus { background: #cf1010; color: #fff; border: solid 1px #b62525; }
.toggle { display: inline-block; text-align: right; float: right; }
.toggle a { color: #676A6C; font-size: 24px; display: inline-block; line-height: 17px; margin-right: 3px; }
/****************** viewinventory details page ********************/
.viewinventory .lab-style, .mi-content .lab-style { font-size: 12px; font-weight: 700; width: 90px; }
/*.viewinventory .label-section{ float: left; width:27%;  margin-bottom: 10px;} */
.viewinventory .label-section { float: left; width: 48%; margin-bottom: 10px; } /*By kk*/
.viewinventory label.input-color { color: #7f7f7f; float: left; width: 300px; height: 16px; }
.input-color:focus, .input-bg:focus { border: solid 1px #C5C6C7; }
.specification-section { clear: both; padding: 10px 0; }
.cancel-btn { margin: 20px 0 0; }
.viewinventory .input-color.remark-field { height: 70px; }
.edit-inventory .input-color { width: 352px; }
.edit-inventory .input-color.ddlLocation, .edit-inventory .input-color.ddlSpec { width: 378px; }
.manage-email-form .input-bg.hasDatepicker { width:86%; }
.assetlifecycle-form .input-bg { width: 25%; }
#manage_email .input-section{ width:100%;}
#manage_inventory_form .input-section.purchase_field{ width: 95%;}
/****************** othere page ********************/
.paging_simple_numbers#showSpec1_paginate { *clear:both;
*float:none;
}
.edit-icon, .spt-line { border-right: 1px solid #A0A0A0; padding-right: 4px; }
.edit-icon.right-border-none{border-right:0;}
.edit-icon, .delete-icon, .active-icon, .deactive-icon, .inventory-lost, .view-icon, .asset-icon, .hardware-icon, .a-item-icon, .email-icon, .date-icon, .v-details-icon, .do-allotment-icon, .view-allotment-icon, .de-allotment-icon { background: url(../../Images/Help_Desk/edit.png) no-repeat; display: inline-block; height: 22px; width: 27px; }
.de-allotment-icon { background: url(../../Images/Help_Desk/de-allocate.png) no-repeat; }
.view-allotment-icon { background: url(../../Images/Help_Desk/view-allotment.png) no-repeat; }
.do-allotment-icon { background: url(../../Images/Help_Desk/do-allotment.png) no-repeat; }
.v-details-icon { background: url(../../Images/Help_Desk/view-detail.png) no-repeat; }
.date-icon { background: url(../../Images/Help_Desk/date-icon.png) no-repeat; margin-left: 6px;  margin-top: 3px; }
.email-icon { background: url(../../Images/Help_Desk/email-icon.png) no-repeat; }
.a-item-icon { background: url(../../Images/Help_Desk/allot_item.png) no-repeat; }
.hardware-icon { background: url(../../Images/Help_Desk/allot_hardware.png) no-repeat; }
.asset-icon { background: url(../../Images/Help_Desk/allot_assets.png) no-repeat; }
.view-icon { background: url(../../Images/Help_Desk/view.png) no-repeat; }
.delete-icon { background: url(../../Images/Help_Desk/dete.png) no-repeat; }
.active-icon { background: url(../../Images/Help_Desk/activation.png) no-repeat; }
.deactive-icon { background: url(../../Images/Help_Desk/de-activation.png) no-repeat; }
.inventory-lost {background: url(../../Images/Help_Desk/inventory-lost.png) no-repeat; }
.inventory-scrap {background: url(../../Images/Help_Desk/inventory-scrap.png) no-repeat; }


.list-table-form #divSpectable.inventory-table { width: 64%; }
.filter-heading { float: left; font-size: 21px; font-weight: normal; margin: 0 0 15px; width: 100%; }
.item-section.manageinvertory .input-color { width: 354px; }
.item-section.manageinvertory .input-color.hasDatepicker { width: 84%; }
.item-section.manageinvertory select.input-color { height: 34px }
.item-section.manageinvertory .selectField { width: 380px; }
.item-section.manageinvertory .mid-btn { width: 100%; }
.item-section.manageinvertory .mid-btn tr td { padding-bottom: 0; }
.form-content.middle-table, .mr-tp{ margin-top: 20px; }
#manage_form .content-heading{ margin-top: 12px; }
.gird-section { float: left; margin-bottom: 20px; }
.pd-top { padding-top: 20px; }
.input-bg { border: 1px solid #E5E6E7; color: #999999; display: inline-block; width: 100%; padding: 5px; vertical-align:top;}
.manage-email-form tr td { padding-bottom: 22px; vertical-align: top; }
.manage-email-form.alloti-req-form tr td { width: 32%; }
#wapper .doallotment-table th { padding: 8px; }
.form-content .viewitem-form .input-bg { width: 97%; }
#tblItemData.doallotment-table { border: 0; }
#login_page{ background:#fff;}
.category-section{ padding-bottom:0;}
.input-section.quota-field select{ width:390px;}
/****************** popup windows page ********************/
.requ-form { border: 1px solid #ccc; margin-bottom: 20px; padding: 6px; width: 100%; }
.left-text { font-size: 12px; font-weight: bold; padding: 0 0 5px; }
.asset-request-form .content-heading { font-size: 14px; padding: 5px; }
.requ-id .left-text { width: 27%; }
.subtable { border: 1px solid #ccc; width: 100%; }
.subtable tr th { background: #e0e0e0; padding: 5px 0; }
.subtable tr td { padding: 5px 0 5px 10px; text-align: left; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; }
.subtable tr td.t-align { text-align: center; }
.subtable tr td.b-bottom { border-bottom: 0; }
.subtable tr td.right-border { border-right: 0; }
.requ-form tr td { vertical-align: top; }
.allotment-content .input-field .lab-style { font-weight: 700; margin-top: 7px; width: 170px; }
.allotment-content .input-color { display: inline-block; }
.allotment-content .list-table-form.item-table { float: left; width: 29.8%; }
.item-all-btn { margin-top: 20px; }
.divcapitalization p { font-size: 12px; margin: 0 0 10px; color: #5F5F5F; }
.divcapitalization table { border-top: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; border-right: 1px solid #DDDDDD; font-size: 12px; }
.divcapitalization table tr td { border-bottom: 1px solid #DDDDDD; color: #8F8F8F; font-size: 11px; background: #f5f5f5; padding: 8px;   text-align: left; }
.divcapitalization table tr td:first-child { border-right: 1px solid #DDDDDD; }
.divcapitalization .detail-text { margin-top: 10px; }
#cboxTitle { display: none !important; }
#cboxContent #cboxLoadedContent { margin-bottom: 0 !important; }
.divcapitalization table.grid-view tr td { border-right: 1px solid #DDDDDD; }
.req-form { float: left; margin: 0px 0 20px; width: 100%; }
.allotment-form .input-color { width: 353px; }
.manage-email-form .list-table-form { width: 58%; }
#req-details .req-form table { border-right: 0; }
.ap-tables { float: left; width: 32%; margin-bottom: 15px; margin-right: 15px; }
.ap-tables table tr td.sub-heading { border-right: 0; }
#req-table, #req-table tr td { border: 0; background: none; padding: 0; }
#cboxContent .popupitem-form { width: 93% !important; padding: 12px 0 0 3px; }
#cboxContent .popupitem-form  .form-content table tr td{ padding-bottom:15px; }
#cboxContent .content-heading{ width:100%;}
#cboxContent .popupitem-form table{  font-family: Verdana,Arial,Helvetica;
    font-size: 11px;
    padding: 0 3px;}
.popup-btn{padding-top: 9px;}
#cboxContent .popupitem-form  .form-content .input-field.company-field{ width:45%;}
#login_page .company-logo.moblie-login{ display:none;}
.global-msg{ color:#798D97; font-size: 13px; font-weight: bold; text-align: center; /*margin-top: 20px;*/}
.moblie-menu { display: none; }
#inventory-page .input-section{width: 100%;}
#inventory-page .input-section input[type="text"].input-color{ width:89%;}
#inventory-page .category-field{padding-bottom: 0;}
/****************** field style ********************/
.top-cont-heading{ margin-top:10px;}
.select-field, .input-field{background:none; min-height:16px; border: 1px solid #e5e6e7; color: #6d6d6d; padding:4px 0 4px 5px; font-size: 11px;width: 180px; float:left;}
/*.select-field{padding: 4px 0 4px 5px; height:30px;}*/
.select-field{padding: 4px 0 4px 5px; /*height:30px;*/}
.select-field option{ line-height: 20px; padding-left: 9px;}
.select-field:focus, .input-field:focus{ border:1px solid #cccdce;}
.hide-field{color: #ababab; cursor: none; /*width: 100%;*/  min-height: 14px; word-wrap: break-word;}
.form-content table td{ padding-left:0px;  padding-right: 10px; vertical-align: top;}
.sub-inner-heading{ font-size: 13px; margin:5px 0 20px; color:#676a6c; text-transform: capitalize;}
.form-content .remark-field{ width:450px;}
.m-top{margin-top:20px;}
.form-content .error-msg{left: 0; top:24px; text-align:left; color:#f1001f; }
.simple-form tr td{ padding-bottom:15px;} 
.margin0{ margin-top:0;}
.popup-form .page_Head{ padding:4px 2px 6px 10px;}
.global-msg label.successful_msg{color:#4F8A10; font-weight:700; display:inline-block; margin-top:15px;}
.global-msg label.toperror_msg{color: #9F6000; font-weight:700; display:inline-block; margin-top:15px;}
.form-content .form-table{ width:auto;}

/****************** footer ********************/
.footer { display: inline-block; width: 100%; margin-top: 20px; background: url(../../Images/Help_Desk/footer-bg.jpg) repeat-x; bottom: 0; left: 0; position: static; }
.footer-content { text-align: center; }
.footer p { font-size: 12px; margin: 0; color: #999a8c; padding: 19px 0; }

/****************** @media query all page********************/

@media only screen and (min-width:479px) and (max-width:480px){#wapper #item_form textarea{width: 95%;}}
@media only screen and (min-width:639px) and (max-width:640px){#wapper #item_form textarea{width: 96%;}}

/*for iphone 5 and 6*/

@media only screen and (min-device-width : 320px) and (max-device-width : 736px) 
{
input { -webkit-appearance: none; }
select { -webkit-appearance: none !important; background: #fafafa url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==") no-repeat; background-position-x: 97%; background-position-y: center; border: 1px solid #cccccc; padding: 0.5rem; font-size: 0.875rem; -webkit-border-radius: 0; border-radius: 0; }
select.radius { -webkit-border-radius: 3px; border-radius: 3px; }
select:hover { background: #f3f3f3 url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==") no-repeat; background-position-x: 97%; background-position-y: center; border-color: #999999; }
}

@media only screen and (max-width:1599px){.container-section.right-section{ width:775px;}} 

#master_header{ margin-bottom:5px;}
#master_footer{margin-top:5px;}

/*Ie8 browser Quirks Mode*/
.list-table-form table{border-collapse: collapse !ie;}
.container-section.right-section{margin-left:8px !ie;}
.right-section .input-field.date-picker-field, .right-section .select-field{width:223px !important !ie; height:2em !ie;}
.dataTables_filter input[type="search"], .dataTables_filter input[type="text"]{border:1px solid #e5e6e7 !ie; width:223px !ie; height:2.4em !ie;}
.dataTables_wrapper .dataTables_paginate{clear:both !ie;}
.list-table-form .quality{border:1px solid #e5e6e7 !ie; height:2em !ie; padding:0.3em 0 0 0.3em !ie; }
#tbl_consumableSpecification .quality{border:1px solid #e5e6e7 !ie; height:2em !ie; padding:0.3em 0 0 0.3em !ie; }
.jqueryslidemenu ul li ul{ z-index:999;}
.right-section .content-heading{ width:100% !ie;}
.mid-btn table{ width:100% !ie;}

/*10.08.2015 css*/
.right-section{ display:inherit; width:790px; font-family:Verdana,Arial,Helvetica; font-size:11px;}
.right-section .input-field{ width:180px;}
.right-section .date-picker-img img, .input-section img.ui-datepicker-trigger, img.ui-datepicker-trigger{ margin-left:5px;}
.input-section img.ui-datepicker-trigger, img.ui-datepicker-trigger{margin-top:5px;}
.right-section .content-heading, .right-section .req-form{ width:785px;}
.right-section table.list-table tr td input[type="text"], .list-table-form #divSpectable table.list-table input[type="text"]{ border:1px solid #e5e6e7; min-width:180px; padding:5px 0 5px 2%; color:#6d6d6d;}
.right-section .textarea-section .error-msg, .textarea-section .error-msg{top:60px; top: 66px\9; /* IE8 and below */} 
.right-section .breadcrumb{ padding-top:15px;}
.right-section .sub-inner-heading{ margin:5px 0 20px;}
.form-table.consumable-form, .form-content .form-table.data-serverity-form, .form-content .form-table.commonform-style, .form-table .small-field{ width:50%;}
.form-content .form-table.data-serverity-form .input-field.small-field{ width:40%; float:left; margin-right: 10px; min-width: auto; width: 20%;}
.form-content .form-table.data-serverity-form .select-field, .form-table.form-width{width: auto}
#catalog_form tr td{padding-bottom:0;}
#ctl00_Content_chkLocation tr td label{margin-left:5px; display: inline;}
.tablewidth{width:100%;}
.form-content .input-field.sla-time{width: auto;}
.form-top-btn{float: left; margin-bottom: 20px; width: 100%;  border-bottom: 4px solid #e7eaec; padding-bottom:15px;}
.form-top-btn input[type="submit"]{ float:right; margin-right: 0;}
.form-content .checklist-section .error-msg{top: 160px;}
.container-section.item-specification-page .mid-btn{ margin-top:15px !important;}
.ass-req-section span{top:5px;} 
.margin-top{ margin-top:0;}
.top-singal-btn{float: right; width: auto;}
/*.back-button{ float:left; width:99%; padding:6px 0.4%; background:#FFF8E9; border:solid 1px #688dde; margin:15px 0;}
.back-button a{color:#18397C; background: url(../../images/icon_back.gif) no-repeat; line-height: 22px; font-size: 12px; padding-left: 18px; float:left;}*/
.back-button{ float:left; width:100%; padding:6px 0.4%; background:#FFF8E9; border:solid 1px #688dde; margin:15px 0;}
.back-button a{color:#18397C; background: url(../../images/icon_back.gif) no-repeat 0 2px; line-height: 22px; font-size: 12px; padding-left: 18px; float:left;}
.back-button input{ float:right; background:#F1001F;color: #FFFFFF; font-size: 11px; margin-right: 0; padding: 0 5px; cursor:pointer;}
.select-field.date-picker-field{ width:180px;}
.button-spcing{ margin-right:5px;}
.Itemlist .form-top-btn, .margin-buttom-none{margin-bottom:0;}
.Itemlist .mid-btn, .margin-top-none{ margin-top:0;}
.location-field{width: 203px;}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{ background:#ededed;}
body .list-table-form table.list-table tr td.dataTables_empty{ text-align:center; color: #868686; font-weight: 700;}
#inventoryItemSpec_wrapper, #tblItemData_wrapper, #tblItemAvailable_wrapper, #showSpec_wrapper, #tbl_inventoryItems_wrapper{max-height:226px;
    min-height: 100px; overflow-x: auto;}
#tbl_inventoryItems_wrapper{ max-height:267px; height:400px !ie; overflow: auto !ie;}    

body .list-table-form table.list-table tr td  
{
    table-layout: fixed;   font-size:12px;
    word-wrap: break-word; 
    border-right: 0; 
    text-align: left; 
    color: #676A6C; 
    background: transparent; 
    padding-left:0px; 
    max-width:150px;
    word-break: break-all; }
    
    .select-field option{border-bottom:solid 1px #fff;border-top:solid 1px #fff; box-sizing: border-box; *behavior: url(boxsizing.htc);}
* {
  box-sizing: border-box; *behavior: url(boxsizing.htc);
}

.top-spacing{padding-top:0px;}
.global-msg .toperror-msg{color: #9F6000; font-weight:700;}
.global-msg .successful_msg{color:#4F8A10; font-weight:700;}
#asslife-table .details-control table tr th, #asslife-table .details-control table tr td{ width: 20%; word-break:keep-all;}
.left-tbl{float: left;width: 35%;}
.right-tbl{ padding-left: 10px; width: 64.8%;}
#inventory_form table.form-table{ width: 97%;}
#inventory_form table.form-table textarea.textarea-field{ width:97.6%;}
.addbtn{margin-top: 8px;}
.padding-top-style{padding-top:0px;}
.category-label{margin-right:15px;}
.input-field-width{width: 205px;}
.form-content .manageinventory-field{padding: 0 30px 0 20px;}
.m-right{ margin-right:7px;}
#RemarkValidationMsg.error-msg {top: 63px;}

body #tbl_ManageAssetRequest table.OperationWiseAllotedAsset tr td { width:30% }
body .approval_Quota table.OperationWiseApprovalAsset tr td { width:20% }
body #tbl_StockReport table.StockReport tr td { width:20% }

.realtime_lp { padding-left:15px;}
.m-bottom0{ margin-bottom:0;}
.form-table.data-serverity-form#add_sub{ width:auto;}
 #sp-msg span{ top:-3px;} 
.form-content#dependency-field select.select-field{ width:180px;}
.reslover-group-form label{display: block; font-weight: 700; padding-bottom: 7px;text-align: left; font-size:12px;}
.reslover-group-form .mid-btn input[type="button"]{ float:none;}
.reslover-group-form #tblShowResolverGroupOwner{border:0;}

/* 06.10.2015 css for popup */
#cboxContent #cboxLoadedContent{border: 1px solid #dcdcdc}
#history_table .last-child-grid .v-details-icon{ border-right:1px solid #a0a0a0; margin-right:0;}
.margin-top25{ margin-top:25px;}
.padding-top40{padding-top:40px;}
.assetlifecycle-form label{ padding-bottom:4px;}  

/* ie8 quirks mode css */
.user-heading{padding-bottom:15px;}
.user-page-form .left-raundborder, .user-page-form .sub-inner-heading, .user-page-form .right-raundborder{ background:#f7e9e9 url(images/let-raud-heading.jpg) no-repeat left; padding:0; height:32px;}
.user-page-form .sub-inner-heading{font-size:13px; line-height:19px; color:#000; font-family:arial; font-weight:600; background:#f7e9e9; padding:5px; width:100%;}
.user-page-form .right-raundborder{background:url(images/right-raud-heading.jpg) no-repeat right;}
.user-page-form .user-contentbg{ margin-bottom:15px;}
.user-page-form .user-contentbg td{ padding-right:0;} 
.user-contentbg .user-formbg{ padding-right:0; background:#f7e9e9;}
.user-contentbg .user-formbg table{ width:98%; margin:0 auto;}
.user-contentbg .user-formbg table label{ width:94%; text-align:right; padding-top:5px;}
.user-contentbg .user-formbg table td{ padding:7px 0; border:solid 1px #f7e9e9; border-bottom:0; border-right:0; }
.user-contentbg .user-formbg .input-field.hide-field, .user-contentbg .user-formbg textarea.textarea-field, .user-contentbg .user-formbg .input-field, .user-contentbg .user-formbg .select-field{ text-align:left; width:180px; margin-left:5px; background:#fff; color:#808080; border:1px solid #c8c8c8;}
.user-contentbg .user-formbg .input-field.hide-field{ border:0; background:none; line-height:15px;}
.user-contentbg img.ui-datepicker-trigger, .user-contentbg img.ui-datepicker-trigger{ margin-top:0px;}
.user-page-form .btn{ padding:2px 9px;}
.tr-row1{background:#edf4ff;}
.tr-row2{background:#f7faff;}
.tr-row3{background:#f7e9e9;}
.usergird-form{ width:98%; margin:0 auto; float:none; background:none; padding:0;}
body .user-page-form .usergird-form .list-table tr th{ background:#5989d5; color:#efefef; padding:8px;}
body .user-page-form .usergird-form .list-table tr td{ padding:8px; border-top:solid 1px #f7e9e9; font-size:11px;}
body .user-page-form .usergird-form .list-table tr td, body .user-page-form .usergird-form .list-table tr.odd, body .user-page-form .usergird-form .list-table tr.even {background:#f7faff !important;}
.remark-section{margin-top:5px;}
.user-contentbg .user-formbg textarea.textarea-field.remark-field{ width:450px;}
.user-page-form .back-button input { padding:3px 5px; background:#ffffff; color:#333;}
.user-page-form textarea.textarea-field.remark-field{ background:#fff;} 
.user-page-form .back-button{ margin:5px 0;}
.user-formbg label.hide-field{line-height:25px; padding-left:5px; color:#9b9b9b;}
.user-page-form .input-section, .user-page-form .textarea-section {position:inherit;}
.user-page-form .input-section span.error-msg{position:inherit; height:inherit; padding:2px 0 0 4px;}
.user-page-form .form-content{ width:99.5%;}
 /* ie8 quirks mode css end */
