
.tab-header-btn {
    border: 1px solid #CCDCE0;
    background-color: #f0f0f0;
    padding: 4px 10px;
    cursor: pointer;
}

.tab-header-btn.active {
    background-color: #ffffff;
    font-weight: bold;
}

.tab-panel {
    display: none;
}

    .tab-panel.active {
        display: block;
    }

