.squarebox {
    width: 99%;
    border: solid 1px #CCDCE0;
    text-align: center;
    margin-left:6px;
    overflow: hidden; }
.squareboxgradientcaption {
    color: #4863A0;
    font-weight: bold;
    padding: 5px;
    background-image: url(../images/YahooSprite.gif);
    background-repeat: repeat-x;
    height:35px; }
.squareboxcontent {
    background-color: #e2eaf3;
    padding: 5px;
    overflow: hidden;
    border-top: solid 1px #CCDCE0; }
.squareboxgradientcaption1 {
    color: White;
    font-weight: bold;
    padding: 5px;
    background-image: url(../images/gradient_blue.png);
    background-repeat: repeat-x; }
