.breadcrumb {
    background-color: transparent;
    margin-bottom: 0.1em;
    padding-top: 0.06em;
}

.breadcrumb{
	background-color: transparent;
	margin-bottom: 0.1em;
	padding-top: 0.06em;
}
.breadcrumb-item{
	font-family: 'Roboto-Regular';
	font-size: 0.57em;
}
.breadcrumb > li + li:before{
	padding: 0 0.03em;
}
.breadcrumb > .active {
    color: #666666;
}
.breadcrumb-item a{
	color: #0099FF;
}

/* scroll on each table - removal*/
.table-responsive {
	overflow-x:visible;
	padding:0;
}

.panel-info {
	border-radius: 0;
	border: none;
}

.panel {
	margin-bottom:0;
}

.panel-title {
	font-family: 'Roboto-Regular';
	font-size: 0.78em;
	color:#ffffff;
}

.tour {
	width: 81.1%;
}

h1.tourRequestHeading{
	font-family: 'Roboto-Regular';
	background-color: #8A8A8A;
	color: #FFF;
	font-weight: bold;
	text-align: left;
	font-size: 0.94em;
	padding: 0.52em 1.3em;
	margin-bottom: 1.11em;
}

.approvalContent {
	padding-left: 1.3em;
    padding-right: 1.3em;
}

.approvalContent>.row:first-child {
	margin-bottom:1.04em;
}

.custom-panel1{
	background-color: #dbf1ff;
	border-radius:0;
	padding-bottom: 0.78em;
}


.custom-panel1 .panel-body {
	padding: 0.78em 0.78em 0.52em;
}	 

.custom-panel1 .panel-heading,.anticipated .panel-heading {
	padding: 0.52em;
	border-radius:0;
	background-color:#18c0ff;
	border: 1px solid #18c0ff;	
}

.custom-panel1 .wrapper{
	border: 1px solid #fff;
	padding: 0.52em;
	line-height: 1.2;
}

.custom-panel1 .wrapper strong {
	font-family: 'Roboto-Regular';
	font-size: 0.72em;
	font-weight: bold;
	color:#666666;
}

#tourDetails .panel-heading{
	background-color: #88deff;
	border: 1px solid #88deff;
}

.custom-panel1 .wrapper p {
	font-family: 'Roboto-Regular';
	font-size: 0.72em;
	color:#333333;
} 

.custom-panel1 .wrapper .col-sm-6{
	margin-top: 0.26em;
}

#tourDetails .panel-title {
	font-size: 0.78em;
	text-decoration:none;
}

#tourDetails .wrapper {
	padding: 0;
	white-space: nowrap; 
}

#tourDetails .panel-heading.active{
	background-image: url(../images/icon_accordion_open_mobile.png);
	background-repeat:no-repeat;
	background-size: 0.78em 0.625em;
    background-position: right 0.52em center;
}

#tourDetails .panel-heading {
	background-image: url(../images/icon_accordion_close_mobile.png);
	background-repeat:no-repeat;
	background-size: 0.78em 0.625em;
    background-position: right 0.52em center;
}

#tourDetails .panel-body {
	padding: 0.78em 1.04em 0.52em;
}

#tourDetails .tourTable thead tr:first-child th:first-child{
	background-color: #dedbdb; 
	font-family: 'Roboto-Regular';
	font-size: 0.72em;
	color:#ffffff;
	font-weight: bold;
	width: 4.19em;
}

#tourDetails .table{
	margin-bottom:0;
	width: 15.3em;
}

#tourDetails .tourTable thead tr:first-child th:nth-child(2) {
	border-left:0;
	font-family: 'Roboto-Regular';
	font-size: 0.72em;
	color:#666666;
}

 #tourDetails .tourTable thead tr:first-child th:nth-child(3) {
	display:none;
}

 #tourDetails .tourTable tbody tr th{
	background-color: #f6f6f6; 
	border-right-color:#f6f6f6;
	font-family: 'Roboto-Regular';
	font-size: 0.72em;
	font-weight: bold;
	color:#666666;
}

#tourDetails .tourTable tbody tr td {
	font-family: 'Roboto-Regular';
	font-size: 0.72em;
	color:#666666;
	width:11.57em;
}

#tourDetails {
	margin: 0 0.78em;
} 

#tourDetails .col-sm-4 {
	padding:0;
	display: inline-block; 
	margin-left: 1.04em;
	width: auto;
}

#tourDetails .col-sm-4:first-child {
	margin-left: 0;
}

#tourDetails .tourTable thead tr:first-child th,#tourDetails .tourTable tbody tr th,#tourDetails .tourTable tbody tr td {
	padding: 0.43em 0.57em;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
	border-bottom-width:1px;
}

.pending {
	width: 17.7%;
    padding: 0;
}

.pending .panel-info {	
	border: 1px solid #3fb3fe;	
}
.pending .panel-heading {
	border-radius: 0;
    background-color: #3fb3fe;
    border: 1px solid #3fb3fe;
}

.pending .panel-title {	
    text-align: right;
    margin-right: 0.6em;
}

.pending .pending-request-img img {
	width: 2.6em;
    height: 2.6em;
    margin-left: 0.26em;
}

.pending .pending-request-img {
	margin-top: -2.4em;
}

.pending .list-group {
	padding: 0.72em 0 1.04em;
}

.pending .list-group-item{
	padding:0;
	margin-bottom: 1.04em;
	text-align:center;
	font-size:0.72em;
	border:none;
}

.pending .list-group-item:last-child{
	margin-bottom: 0;
} 

.pending .list-group .list-group-item ul li:first-child,.pending .list-group .list-group-item ul li:nth-child(2){
    margin: 0 0.26em;
    border: 1px solid #ffcccb;
    border-bottom: none;
    padding: 0.57em 0;
}
	
.pending .list-group .list-group-item ul li:last-child {
	background-color: #ffcccb;
    padding: 0.72em 0;
}

.pending .list-group .list-group-item ul li:first-child{
	color:#3fb3fe;
	font-family: 'Roboto-Regular';
	font-weight:bold;
}

.pending .list-group .list-group-item ul li:first-child span{
	font-family: 'Roboto-Light';
} 

.pending .list-group .list-group-item ul li:nth-child(2),.pending .list-group .list-group-item ul li:last-child {
	font-family: 'Roboto-Light';
	font-weight: bold;
	color:#666666;
}

.antiCol {
	width: 39.5%;
    padding-right: 0;
}

.aprroveCol {
	width: 59.5%;
    padding: 0;
}

.anticipated {
	float:left;
	font-family: 'Roboto-Regular';
}

.anticipated .panel-body{
	padding:0.78em;
	border: 1px solid #18c0ff;
}

.grayContent {
	background-color: #f4f4f4;
	color: #666666;
	font-size:0.72em;
	padding: 0.78em;
	line-height:1.2;
}

.grayContent div{
	display:inline-block;
}

.grayContent div:last-child{
	margin-left:3.61em;
}

.grayContent div p:first-child{
	font-weight:bold;
}

td:empty{
	display:none;
}

.stayCharges,.dailyAllowance {
	border: 1px solid #66cccc;
	display: inline-block;
	margin-right:0.26em;
}
 
.tableWrap {
	margin:0.52em 0 0.41em;
}

.tableHead {
	background-color:#edba85;
}

.tableFoot {
	background-color:#c79a70;
}

.tableHead td:first-child,.tableFoot td:first-child{
	padding:0.72em 0;
	font-size: 0.72em;
	text-align:center;
}

.tableHead td:first-child {
	color: #669999;
    background-color: #ccffff;
    border-bottom: 1px solid #66cccc;
}

.tableFoot td:first-child {
	color: #ffffff;
    background-color: #66cccc;;
}

.tableFoot td:first-child span {
	font-weight:bold;
}

.stayCharges tr:nth-child(2) td:nth-child(odd),.dailyAllowance tr:nth-child(2) td:nth-child(odd) {
	background-color:#f4f4f4;
}

.stayCharges tr:nth-child(2) td:nth-child(even),.dailyAllowance tr:nth-child(2) td:nth-child(even) {
	background-color:#fafeff;
}

.stayCharges tr:nth-child(3) td:nth-child(odd),.dailyAllowance tr:nth-child(3) td:nth-child(odd) {
	background-color:#e9e9e9;
}

.stayCharges tr:nth-child(3) td:nth-child(even),.dailyAllowance tr:nth-child(3) td:nth-child(even) {
	background-color:#f7fcff;
}

.stayCharges tr:nth-child(2) td,.dailyAllowance tr:nth-child(2) td{
	height:2.89em;
	vertical-align:middle;
}

.stayCharges tr:nth-child(3) td,.dailyAllowance tr:nth-child(3) td{
	height:2.38em;
	vertical-align:middle;
} 

.stayCharges tr:nth-child(2),.stayCharges tr:nth-child(3),.dailyAllowance tr:nth-child(2),.dailyAllowance tr:nth-child(3){
	font-weight:bold;
	color:#666666;
	text-align:center;
}

.stayCharges tr:nth-child(2) td,.stayCharges tr:nth-child(3) td,.dailyAllowance tr:nth-child(2) td,.dailyAllowance tr:nth-child(3) td{
	width:3.32em;
	font-size:0.72em;
}

.stayCharges tr:nth-child(2) td:last-child,.dailyAllowance tr:nth-child(2) td:last-child {
	width:5.1em;
}

.amount{
	display:inline-block;
	width:8.59em;
	text-align:center;
	vertical-align:top;
} 

.amount p:first-child {
    background-color: #c5efff;
    font-weight: bold;
    color: #669999;
    font-size: 0.78em;
	height: 5.41em;
	padding: 1.2em;	
    line-height: 1.1;
}

.amount.one p:first-child {
	padding: 1.67em;
}

.amount p:last-child  {
    background-color: #80b8cf;
    font-weight: bold;
    color: #ffffff;
    font-size: 1.45em;
	padding: 0.53em 0;
}

.approvalDetails {
	float:right;
	width: 100%;
}

.approvalDetails .panel-heading{
    padding: 0.52em;
    border-radius: 0;
    color: #ffffff;
	background-color: #edba85;
	border: 1px solid #edba85;
}

.approvalDetails .panel-body {
	border: 1px solid #edba85;	
	background-color: #ffe0c1;
	padding: 0.78em;
}


.approvalDetails .approval {
	margin: 0 15px;
}

.approvalDetails .approval .row p{
	font-family: 'Roboto-Regular';
	font-size:0.72em;
	color:#666666;	
	padding:0;
}

.approvalDetails .approval .row p:first-child{
	font-weight:bold;
}

.approvalDetails .approval .row {
	border-bottom: 1px solid #c79a70; 
	padding:0.78em 0;
}

.approvalDetails .approval .row:first-child{
	padding-top:0;
} 

.approvalDetails .approval .row:last-child {
	border-bottom: none; 
}

.calendar {
	width: 1.15em;
	height: 1.15em;
	margin-right: 0.72em;
	vertical-align:bottom;
}

.comments {
	width: 1.3em;
	height: 1.3em;
	margin-right: 0.72em;
	vertical-align:bottom;
}

.approvalCopy {
	padding:0.26em;
	border: 1px solid #c79a70; 
}

.hardCopy {
	background-color:#edba85;
	display:inline-block;
	width:49.6%;
	height:2.86em;
	text-align:center;
	vertical-align:top;
	padding: 0.8em 0;
	position: relative;
}

.hardCopy:last-child{
	padding:0.6em 0;
}

.hardCopy label,.approvalRemarks h4,.approvalRemarks .remarks{
	font-family: 'Roboto-Regular';
	font-size:0.72em;
	font-weight:bold;
	color:#666633;
}

.hardCopy label {
	margin-right: 1.44em;
}

.transfer {
	width: 4.58em;
    height: 2.5em;
	font-size: 0.625em;
    text-align: center;
}

.hardCopy .check,.approvalRemarks .status .radio,.approvalRemarks .remarks .send{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


.hardCopy .checkmark {
	position: absolute;
    top: 1.37em;
    right: 6.15em;
    height: 1.23em;
    width: 1.23em;
    background-color: #ffffff;
	border: 1px solid #c79a70;
}

.hardCopy .checkmark:after {
    content: "\2713";
    position: absolute;
    display: none;
}

.hardCopy .check:checked ~ .checkmark:after {
    display: block;
}

.hardCopy .checkmark:after {
    left: 0.14em;
    top: 0.14em;
	color:#000000;
}

.approvalRemarks {
	background-color:#edba85;	
	padding: 1.04em 0.78em 0.78em;
	margin-top:1.04em;
	overflow:hidden;
}

.approvalRemarks .status {
	position:relative;
	float: left;
	padding: 0.93em 0;
	border:1px solid #c79a70;
	width: 45%;
}

.approvalRemarks .status h4 {
	position:absolute;
	left: 0.86em;
    top: -0.57em;
    background-color: #edba85;
	padding: 0 0.14em;
}

.approvalRemarks .status label{
	font-family: 'Roboto-Regular';
	font-size:0.72em;
	color:#666633;
	padding:0;
	text-align:right;
}

.status .radiomark {
    position: absolute;
    top: 0;
    left: 1.3em;
    height: 1.08em;
    width: 1.08em;
    background-color: #ffffff;
	border: 1px solid #c79a70;
    border-radius: 50%;
}

.status .radiomark:after {
    content: "";
    position: absolute;
    display: none;
}

.status .radio:checked ~ .radiomark {
    background-color: #987349;
} 

.status .radio:checked ~ .radiomark:after {
    display: block;
}

.status .radiomark:after {
 	top: 0.18em;
	left: 0.18em;
	width: 0.57em;
	height: 0.57em;
	border-radius: 50%;
	background: white;
}

.approvalRemarks .remarks {
    float: left;
    margin-top: -0.52em;
	width: 52%;
	margin-left: 1.04em;
}

.approvalRemarks .remarks label{
	display:block;
	margin-bottom:0.15em;
}

.approvalRemarks .remarks textarea {
	width:100%;
	height:3.25em;
}

.approvalRemarks .remarks label:last-child{
	position: relative;
	text-align:right;
	margin-top: 0.36em;
    font-size: 0.86em;
}

.approvalRemarks .remarks .sendmark {
	position: absolute;
    bottom: 0;
    right: 12.62em;
    height: 1.17em;
    width: 1.17em;
    background-color: #ffffff;
    border: 1px solid #c79a70;
}

.approvalRemarks .remarks .sendmark:after {
	content: "\2713";
    position: absolute;
    display: none;
}

.approvalRemarks .remarks .send:checked ~ .sendmark:after{
    display: block;
}

.approvalRemarks .remarks .sendmark:after {
    left: 0.08em;
    top: 0.08em;
	color:#000000;
}

.buttons {
	margin: 1.56em 0;
    float: right;
}

.submit,.cancel {
	font-family: 'Roboto-Regular';
	font-size:0.72em;
	color:#ffffff;
	padding: 0.72em 1.44em;
	margin-right:0.72em;
	display:inline-block;
}

.submit {
	background-color:#2185d0;
}

.cancel {
	background-color:#ef383d;
	margin-right:0;
}

.buttons a,.buttons a:focus,.buttons a:hover,.buttons a:active,.tourAcoordion,.tourAcoordion:focus,.tourAcoordion:hover,.tourAcoordion:active {
	outline: 0;
    text-decoration: none;
	color: #ffffff;
}

#tourWrap .mCSB_dragger_bar {
	background-color: #7a7a7a;
	border-radius:10px;	
	height:0.3125em;
}

#tourWrap .mCSB_draggerRail {
	background-color: transparent;	
}

#tourWrap .mCSB_horizontal.mCSB_inside > .mCSB_container {
	margin-bottom:25px;
}

@media (max-width: 767px){
	.approvalContent {
		padding-left:1em;
		padding-right:1em;
		position: relative;
		overflow: hidden;
	}
	
	.tour {
		width:100%;
	}

	.panel-title {
		font-size:0.93em;
	}

	.accordion{
		padding:0.33em 0.66em;
		background-image: url(../images/icon_accordion_close_mobile.png);
		background-size: 0.73em 0.6em;
		background-position: right 0.52em center;		
		background-repeat: no-repeat;
	}
	
	.accordion.activePanel {
		background-image: url(../images/icon_accordion_open_mobile.png);
	}

	.custom-panel1 .wrapper{
		padding:0;
		border:none;
	}

	.custom-panel1 .panel-body {
		padding: 1em 0.66em;
	}

	#tourDetails .panel-title {
		font-size:0.83em;
	}

	#tourDetails .panel-heading {
		margin: 0 -0.75em;
	}

	#tourDetails .panel-body {
		padding: 1em 1em 0.66em;
	}
	
	#tourDetails .tourTable thead tr:first-child th:first-child,#tourDetails .tourTable thead tr:first-child th:nth-child(2),#tourDetails .tourTable tbody tr th,#tourDetails .tourTable tbody tr td{
		font-size:0.86em;
	}

	#tourDetails .tourTable thead tr:first-child th {
		padding:0.4em 0.77em;
	}
	
	#tourDetails .tourTable tbody tr th, #tourDetails .tourTable tbody tr td {
		padding:0.3em 1.16em;
	}
	
	#tourDetails .table {
		width:19.1em;
	}
	
	#tourWrap .mCSB_dragger_bar { 
		height:0.33em;
	}
	
	#tourWrap .mCSB_horizontal.mCSB_inside > .mCSB_container {
		margin-bottom:10px;
	}
	
	.pending .panel {
		/* right:0; */
		position:fixed;
		top: 12.6em;
		right: -12.6em;
		width: 12.6em;
		margin: 0;
		z-index: 9;
		border: none;
		-moz-transition: all 0.4s;
		-webkit-transition: all 0.4s;
		transition: all 0.4s;
		border: 1px solid #0099FF;;
	}
	
	.pending .panel.active {
		right: 0em;
	}
	
	.pending .panel-heading {	
	    transform: rotate(90deg);
		transform-origin: left top;
		position: absolute;
		padding: 0.2em 0 0.6em;
		font-size: 0.78em;
		width: 12.26em;
		background-color: #0099FF;
		top: -1px;
	}
	
	.pending .panel-heading:before{
		content: '';
		background-image: url(../images/quicklinks_arrow_open.png);
		background-repeat: no-repeat;
		background-size: 1.903em 1.903em;
		width: 1.903em;
		height: 1.903em;
		position: absolute;
		top: 0.7em;
		left: -0.4em;
		z-index: 99;
		transform: rotate(-90deg);
	}
	
	.pending .panel.active .panel-heading:before{
		background-image: url(../images/quicklinks_arrow_close.png);
	}
	
	.panel > .list-group .list-group-item {
		display:inline-block;
		font-size:0.93em;
		margin: 0 0.5em 0 0;
	}
	
	.panel > .list-group .list-group-item:last-child {
		margin: 0;
	}
	
	.pending .panel-title {
		text-align:center;
		margin-right:0;
	}
	
	.pending .list-group {
		height: 8.6em;
		overflow-y: hidden;
		white-space: nowrap;
		margin: 0 0.5em 0.66em;
	}
	
	.pending .list-group .list-group-item ul li:first-child, .pending .list-group .list-group-item ul li:nth-child(2) {
		margin:0;
		padding: 0.75em 0.54em;
	}
	
	#pendingScroll .mCSB_dragger_bar {
		background-color: #7a7a7a;
		border-radius:10px;	
		height:0.3125em;
	}

	#pendingScroll .mCSB_draggerRail {
		background-color: transparent;	
	}

	#pendingScroll .mCSB_horizontal.mCSB_inside > .mCSB_container {
		margin-bottom:25px;
	}
		
	.aprroveCol,.antiCol {
		width: 100%;
		margin-bottom:1em;
	}

	.antiCol{
		padding-right: 15px;
	}
	
	.anticipated {
		width:100%;
	}
	
	.anticipated .panel-body {
		padding:0.66em;
	}
	
	.tableWrap {
		margin:0;
	}
	
	.stayCharges tr:nth-child(2) td, .stayCharges tr:nth-child(3) td, .dailyAllowance tr:nth-child(2) td, .dailyAllowance tr:nth-child(3) td{
		width:4.38em;
		font-size: 0.93em;
	}
	
	.stayCharges tr:nth-child(2) td:last-child, .dailyAllowance tr:nth-child(2) td:last-child {
		width:5.55em;
	}
	
	.tableHead td:first-child, .tableFoot td:first-child {
		font-size: 0.93em;
		padding: 0.71em 0;
	}
	
	.stayCharges, .dailyAllowance {
		margin-right:0;
		margin-bottom: 0.66em;
	}
	
	.aprroveCol {
		padding: 0 15px;
	}

	.approvalDetails {
		width: 100%;
	}

	.approvalDetails .panel-body {
		padding: 0.33em 0;
	}
		
	.approvalDetails .approval .row ,.approvalDetails .approval .row:first-child{
		padding: 0.66em;
		border-bottom:none;
		background-color:#f4c79d;
	}
	
	.approvalDetails .approval .row:nth-child(2) {
		background-color:#edba85;		
	}
	
	.approvalDetails .approval .row p:first-child,.approvalDetails .approval .row p:nth-child(2) {
		padding: 0 0 0.33em;
	}
	
	.approvalDetails .approval .row p:nth-child(2),.approvalDetails .approval .row p:last-child {
		padding-left: 0.8em;
	}	
	
	.approvalDetails .approval .row p {
		font-size:0.93em;
	}
	
	.approvalCopy {
		border:none;
	}
	
	.hardCopy,.hardCopy:last-child{
		width:49.3%;
		padding:0.8em 0 3.7em;
	}
	
	.hardCopy label {
		margin-right:0;
	}
	
	.hardCopy label, .approvalRemarks h4, .approvalRemarks .remarks {
		font-size:0.93em;
	}
	
	.hardCopy .checkmark{
		left: 5.37em;
		top: 2.43em;
	}
	
	.approvalRemarks .status ,.approvalRemarks .remarks{
		width:100%;
	}
	
	.approvalRemarks {
		margin-top:0;
	}
	
	.approvalRemarks .status label {
		font-size:0.93em;
	}
	
	.approvalRemarks .remarks{ 
		margin:0.66em 0 0;
	}
	
	.approvalRemarks .remarks label {
		margin-bottom: 0.25em;
	}
	
	.transfer{
		position:absolute;
		left: 5.76em;
		top: 3.36em;
	}
	
	.status .radiomark {
		width:1.07em;
		height:1.07em;
	}
	
	.status .radiomark:after {
		left:0.2em;
		top:0.2em;
	}
	
	.buttons{
		background-color:#dbf1ff;
		margin: 0 -0.99em 1.33em;
		padding: 0.84em 1em;
	}

	.submit,.cancel {
		margin-right:0;
		margin-bottom: 1em;
		text-align:center;
		font-size:1em;
		width: 22.99em;
	}

	.cancel {
		margin-bottom: 0em;
	}
	
	/* Amount table section - MOBILE VIEW */
	.amountMobile tr {
		height:4.66em;
	}
	
	.amountMobile {
		vertical-align:top;
	}
	.amountMobile tr td {
		vertical-align:middle;
	}

	.amountMobile tr:first-child{
		border-bottom:0.104em solid #ffffff;
	}
	
	.amountMobile tr td:nth-child(odd){
		background-color:#c5efff;
		font-weight:bold;
		color:#669999;
		font-size:1em;
		width:13.3em;
		padding:0 1em;
		text-align:right;
		line-height:1.1;
	}

	.amountMobile tr td:nth-child(even){
		background-color:#80b8cf;
		font-weight:bold;
		color:#ffffff;
		font-size:2.06em;
		width:4.32em;
		text-align:center;
	}
}


