*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a, a:focus, a:hover, a:active{
	outline: 0;
	text-decoration: none;
	color: #FFF;
}
input::-ms-clear {
    display: none;
}
.associateEntryContent{
	padding-left: 1.3em;
    padding-right: 1.3em;
}
.breadcrumb{
	background-color: transparent;
	margin-bottom: 0.1em;
	padding-top: 0.06em;
}
.breadcrumb-item{
	font-family: 'Roboto-Regular';
	font-size: 0.57em;
}
.breadcrumb > li + li:before{
	padding: 0 0.03em;
}
.breadcrumb > .active {
    color: #666666;
}
.breadcrumb-item a{
	color: #0099FF;
}
h1.tourRequestHeading{
	font-family: 'Roboto-Regular';
	background-color: #8A8A8A;
	color: #FFF;
	font-weight: bold;
	text-align: left;
	font-size: 0.94em;
	padding: 0.52em 1.3em;
	margin-bottom: 1.11em;
}
.left-entry-content{
	width: 80.7%;
    display: inline-block;
}
.accordion{
	margin-bottom: 1.04em;
}

.accordion.tour {
	background-color: #DBF1FF;
}
.accordion > .accordion-head{
	background-color: #18C0FF;
    padding: 0.66em;
    color: #FFF;
    font-size: 0.78em;
    font-family: Roboto-Regular;
	position: relative;
	text-decoration: none;
	display: block;
	outline: 0;
	cursor: default;
	border: 1px solid #18c0ff;
}

/* background for accordian heading start */

.bgTicket{
	background-image:url(../images/icon_ticket_white.png);
	background-size:1.53em 1.53em;
	background-repeat:no-repeat;
	background-position:0.66em;
}

.bgTicket a,.bgStay a,.bgExpend a{
	margin-left:1.67em;
}

.bgStay{
	background-image:url(../images/icon_stay_details.png);
	background-size:1.13em 1.33em;
	background-repeat:no-repeat;
	background-position:0.66em;
}
.bgExpend {
	background-image:url(../images/icon_exp_asst_entry.png);
	background-size:1.53em 1.53em;
	background-repeat:no-repeat;
	background-position:0.66em;
}
/* background for accordian heading end*/

.form{
	position: relative;
}
.tour .form{
	padding: 0.78em;
}

.ticketDetails .accordion-body,.stayDetails .accordion-body {
	background-color:#ffffff;
	
}

.ticketDetails .form,.stayDetails .form {
	padding: 0 0 0 0.78em;
	background-color: #f7fcff;
	display:block;
	border: 1px solid #2fda70;
} 

.addField {
	display: inline-block;
    background: #2fda70;
    padding: 0.98em 0.78em;
	border: 1px solid #2fda70;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}

.addField .add {
	width: 1.14em;
	height:1.14em;
	display:block;
}

.form, .form-group{
	display: inline-block;
}
.form-group{
	margin-right: 0.47em;
	vertical-align: top;
	margin-bottom: 0.3125em;
}
.form-group label{
	color: #666666;
    font-size: 0.73em;
    font-family: Roboto-Regular;
	margin-bottom: 0.26em;
}
.form-group label .required-field{
	color: #EC353A;
	padding-left: 0.25em;
}

.input-form input{
	border: 1px solid #999999;
	padding: 0.46em 0.52em;
	font-family: Roboto-Regular;
	color: #333333;
	font-size: 0.68em;
	line-height: 1.5;
	width: 100%;
}
::placeholder, ::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
	color: #666666;
}
.value-required .input-form input, .value-required .input-form .custom-select-head{
	border: 2px solid #cd3333;
}
.form-group.input-form-start-date, .form-group.input-form-end-date{
	width: 7.2em;
}
.input-form-start-date input, .input-form-end-date input, .input-form-ticket-date input, .input-form-stay-from input, .input-form-stay-to input{
	background-image: url('../images/icon_calendar.png');
    background-repeat: no-repeat;
	background-size: 1.4em;
    background-position: right 0.4em center;
	
}
.form-group.input-form-email{
	width: 10.58em;
}
.form-group.input-form-number{
	width: 5.7em;
}
.input-form-number input{
	-moz-appearance:textfield;
}
.form-group.input-form-days input{
	width: 3.4em;
	-moz-appearance:textfield;
}
.form-group.input-form-objective{
	width: 10.1em;
	margin: 0;
}
.disabled input {
	background-color: #d9e4eb;
    border-color: #c9c0c1;
}
.form-group.input-form-advance, .form-group.input-form-approval{
	width: 10.5em;
}
.input-form.custom-select{
	width: inherit;
	position: relative;
}
.input-form .custom-select-head{
	border: 1px solid #999999;
    padding: 0.46em 2em 0.46em 0.52em;
    font-family: Roboto-Regular;
    background-color: #FFF;
    font-size: 0.68em;
	text-decoration: none;
	display: inline-block;
	background-image: url(../images/arrow_main_menu.png);
	background-repeat: no-repeat;
	background-size: 0.9em;
    background-position: right 0.8em center;
	width: 100%;
	cursor: pointer;
	color: transparent;
	color: #333333 \9;
	text-shadow: 0 0 0 #333333;
}

.form-group.input-form-stay-accomodation .input-form .custom-select-head{
	width: 60%;
}

.input-form .custom-select-head.open{
	background-image: url(../images/arrow_main_menu_open.png);
}
.custom-select-options{
    display: none;	
	border: 1px solid #999999;
	position: absolute;
	width: inherit;
	z-index: 1;
}
.form-group.input-form-stay-accomodation .input-form .custom-select-options{
	width: 60%;
}
.custom-select-options li{
	border-bottom: 1px solid #999999;
    padding: 0.46em 0.52em;
    font-family: Roboto-Regular;
    background-color: #FFF;
    color: #333333;
    font-size: 0.68em;
	cursor: pointer;
}
.custom-select-options li:last-child{
	border: none;
}
.custom-select-options li:hover{
	background-color: #dddddd;
}
.form-group.input-form-save{
	width: 5em;
    background-color: #18acea;
    display: block;
    margin: 0 0 0 auto;
	padding-right: 0;
	font-size: 0.72em;
}
a.form-submit{
    padding: 0.5em 0;
    display: block;
    color: #FFF;
    text-align: center;
	text-decoration: none;
	padding: 0.72em 1.44em;
}

.error-list{
	background-color: #cd3333;
    padding: 0.7em;
    font-size: 0.6em;
    color: #FFF;
	display: none;
	transition: all 10s;
}
.error-list ul li{
	padding-bottom: 0.6em;
	background-image: url(../images/icon_error_validate.png);
    background-size: 1.128em;
    background-repeat: no-repeat;
    padding-left: 1.56em;
}
.error-list ul li:last-child{
	padding-bottom: 0;
}


.form-group.input-form-ticket-from-place, .form-group.input-form-ticket-to-place{
	width: 5.25em;
}
.form-group.input-form-ticket-date{
	width: 6em;
}
.form-group.input-form-ticket-time{
	width: 3em;
}
.form-group.input-form-ticket-mode{
	width: 4.5em;
}
.form-group.input-form-ticket-class{
	width: 5.8em;
}
.form-group.input-form-ticket-transport{
	width: 6.8em;
}
.form-group.input-form-ticket-by{
	width: 5.2em;
}
.form-group.input-form-stay-from, .form-group.input-form-stay-to{
	width: 7.35em;
}
.form-group.input-form-stay-city{
	width: 6em;
}
.form-group.input-form-stay-othercity{
	width: 6.5em;
}
.form-group.input-form-stay-accomodation{
	width: 7em;
}
.form-group.input-form-stay-objective{
	width: 9em;
}
.right-entry-content{
	width: 18.9%;
    display: inline-block;
	vertical-align: top;
	padding-left: 0.55em;
}

.anticipated {
	border: 1px solid #18c0ff;
	background-color:#ffffff;
}

.miscallenous .col-sm-4,.miscallenous .col-sm-8 {
	padding:0px;
}

.miscallenous .col-sm-8 {
	text-align:right;
}

.miscallenous {
	padding: 0.52em 0.78em;
	background-color:#f7fcff;
}

.miscAmount,.remarks{
	display:inline-block;
}
.miscAmount label,.remarks label{
	font-family: 'Roboto-Regular';
	font-size:0.72em;
	color:#666666;
	margin-right:0.72em;
}

.miscAmount input {
	width:8.07em;
}


.remarks input {
	width:23.67em;
}

table {
	display:inline-block;
	font-family: 'Roboto-Regular';
	table-layout:fixed;
}

.tableSection {
	padding: 0.52em 0.78em;
}


.tableSection .col-sm-4 {
	padding:0px;
	text-align:right;
}

.tableSection .col-sm-4:first-child{
	text-align:left;
	padding-right:0.36em;
}

.tableSection .col-sm-4:nth-child(2){
	padding-left:0.36em;
}

.tableSection .col-sm-4:last-child{
	padding-left:0.67em;
}

td:empty{
	display:none;
}

.tableHead {
	background-color:#edba85;
}

.tableFoot {
	background-color:#c79a70;
}

.tableHead td:first-child,.tableFoot td:first-child{
	padding:0.57em 0;
	font-size: 0.72em;
	text-align:center;
}

.tableHead td:first-child {
	color: #669999;
    background-color: #ccffff;
    border: 1px solid #66cccc;
}

.tableFoot td:first-child {
	color: #ffffff;
    background-color: #66cccc;;
}

.tableFoot td:first-child span {
	font-weight:bold;
}

.stayCharges tr:nth-child(2) td:nth-child(odd),.dailyAllowance tr:nth-child(2) td:nth-child(odd) {
	background-color:#f4f4f4;
}

.stayCharges tr:nth-child(2) td:nth-child(even),.dailyAllowance tr:nth-child(2) td:nth-child(even) {
	background-color:#fafeff;
}

.stayCharges tr:nth-child(3) td:nth-child(odd),.dailyAllowance tr:nth-child(3) td:nth-child(odd) {
	background-color:#e9e9e9;
}

.stayCharges tr:nth-child(3) td:nth-child(even),.dailyAllowance tr:nth-child(3) td:nth-child(even) {
	background-color:#f7fcff;
}

.stayCharges tr:nth-child(2) td,.dailyAllowance tr:nth-child(2) td{
	height:2.89em;
	vertical-align:middle;
}

.stayCharges tr:nth-child(3) td,.dailyAllowance tr:nth-child(3) td{
	height:2.53em;
	vertical-align:middle;
} 

.stayCharges tr:nth-child(2),.stayCharges tr:nth-child(3),.dailyAllowance tr:nth-child(2),.dailyAllowance tr:nth-child(3){
	font-weight:bold;
	color:#666666;
	text-align:center;
}

.stayCharges tr:nth-child(2) td,.stayCharges tr:nth-child(3) td,.dailyAllowance tr:nth-child(2) td,.dailyAllowance tr:nth-child(3) td{
	width:4.34em;
	font-size:0.72em;
}

.stayCharges tr:nth-child(2) td:last-child,.dailyAllowance tr:nth-child(2) td:last-child {
	font-size:0.625em;
	width:6.09em;
	padding: 0 1.04em;
}

.amount {
	vertical-align:top;
}
.amount tr td {
	vertical-align:middle;
}

.amount tr{
	height:3.4em;
}

.amount tr:first-child{
	border-bottom:0.104em solid #ffffff;
}
.amount tr td:nth-child(odd){
	background-color:#c5efff;
	font-weight:bold;
	color:#669999;
	font-size:0.72em;
	width:13.3em;
	padding:0 1.44em;
	text-align:right;
	line-height:1.1;
}

.amount tr td:nth-child(even){
	background-color:#80b8cf;
	font-weight:bold;
	color:#ffffff;
	font-size:1.45em;
	width:4.42em;
	text-align:center;
}

.buttons {
	margin-bottom: 1.56em;
    float: right;
}

.save,.submit,.cancel {
	font-family: 'Roboto-Regular';
	font-size:0.72em;
	color:#ffffff;
	padding: 0.72em 1.44em;
	margin-right:0.72em;
	display:inline-block;
}

.save {
	background-color:#18acea;
}

.submit {
	background-color:#2185d0;
}

.cancel {
	background-color:#ef383d;
	margin-right:0;
}

/* right content start */
.pending-request-section{
	border: 1px solid #18C0FF;
	margin-bottom: 1.56em;
	background-color: #FFF;
}
.pending-request-img{
	margin-top: -2.4em;
}
.pending-request-img img{
	width: 2.6em;
	height: 2.6em;
	margin-left: 0.25em;
}
.pending-request-heading{
	background-color: #3fb3fe;
    color: #FFF;
    padding: 0.7em 0;
    font-size: 0.78em;
}
.pending-request-heading h4{
	padding-left: 4.2em;
	font-family: Roboto-Regular;
}
.pending-request-content{
	padding: 0.7em 0.52em;
}
.pending-request-content hr{
	margin: 0.78em 2em;
	border-color: #b2c7da;
}
.request-content h5{
	font-family: Roboto-Regular;
	font-weight: bold;
	font-size: 0.83em;
	color: #3fb3fe;
	text-decoration: underline;
	display: inline-block;
}

.request-content span{
	font-size: 0.73em;
	font-family: Roboto-Light;
	color: #3fb3fe;
}

.request-content p{
	font-size: 0.73em;
	font-family: Roboto-Light;
	color: #999999;
	padding-top: 0.42em;
	line-height: 1.4;
}
.request-content p .request-approval{
	font-size: 1em;
	font-weight: bold;
	color: #999999;
 }
.pending-settlement-section {
	border: 1px solid #18C0FF;
	background-color: #FFF;
}
.pending-settlement-section .pending-request-content {
	padding-top: 2.3em;
	padding-bottom: 3em;
}
.no-content{
	text-align: center;
}
 .no-content p{
	font-size: 0.73em;
    font-family: Roboto-Light;
    color: #999999;
	text-align: center;
	line-height: 1.5;
}
.no-content img{
	width: 1.2em;
	
}
/* right content end */

.prepend{
	display:none;
	border-left:1px solid #18c0ff;
	border-right:1px solid #18c0ff;
	padding:0.52em 0;
}

.prepend > .form {
	margin-bottom:0.52em;
}

.prepend > .form:last-child {
	margin-bottom:0em;
}

.editField {
	background-color:#18c0ff;
	border:1px solid #18c0ff;
	display: inline-block;
    padding: 0.98em 0.78em;
	float:right;
}
.spacefix {
	margin-top:0.52em;
}

.saveDeleteField {
	background-color:#18c0ff;
	border:1px solid #18c0ff;
	display: inline-block;
    float:right;
	width:2.7em;
}
.saveDeleteField img{
	width: 1.04em;
	height: 1.04em;
    display:block;
	margin:0 auto;
}

.saveDeleteField .saveField,.saveDeleteField .deleteField {
	padding: 0.26em 0;
	display:block;
}

.saveDeleteField .saveField {
	 border-bottom: 1px solid white;
}

.editImg {
	width: 1.04em;
	height: 1.04em;
}

#myTourModal.modal.in .modal-dialog {
	min-width:46.87em;
	margin-top: 4.1em;
}

.sectionTitle.bgTicket,.sectionTitle.bgStay  {
	background-position: 1em;
}
.modal-content {
    box-shadow: none;
	border-radius: 0;
}
	
.modal-header,.modal-body {
	padding:0;
	border-bottom: none;
}

.modal-header .tourRequestHeading{
	margin-bottom: 0.26em;
	padding: 0.57em 0.95em;
}

.modal-body .sectionTitle {
	background-color:#1683c8;
	font-family: 'Roboto-Regular';
	font-size:0.78em;
	padding: 0.53em 2.6em;
	color:white;
}

.modal-body .sectionTitle:first-child{
	padding-left: 1.15em;
}
.modalTourSection{
	padding: 0.78em 1.04em;
}

.modalTourSection div {
	display:inline-block;
	vertical-align: top;
}

.modalTourSection div:first-child,.modalTourSection div:nth-child(2) {
	border-right: 1px solid #d1d1d1;
	padding-right: 1.56em;
}

.modalTourSection div:last-child,.modalTourSection div:nth-child(2) {
	padding-left: 1.56em;
} 

.modalTourSection p ,.modalTicketSection .trip p, .modalStaySection .stay p{
	font-family: 'Roboto-Regular';
	font-size: 0.72em;
	color:#666666;
	line-height:1.65;
}

.fromTo {
	font-size: 0.93em !important;
}

.dateBold,.fromTo span {
	font-weight:bold;
}
.modalTicketSection,.modal-footer {
	padding: 0.52em 1.04em;
}
.modalTicketSection .trip h2,.modalStaySection .stay h2 {
	font-family: 'Roboto-Regular';
	background-color: #43bdf0;
	font-size: 0.78em;
	color: #ffffff;
	padding: 0.52em;
}

.modalTicketSection .trip,.modalStaySection .stay{
	display:inline-block;
	border:1px solid #43bdf0;
	width: 14.06em;
    margin-right: 0.97em;
} 

.modalTicketSection .trip:last-child {
	margin-right: 0;
}

.modalStaySection {
	padding: 0.52em 1.04em 1.04em;
}

.stayCity {
	font-size:0.93em !important;
}

.stayCity span{
	font-weight:bold;
}

.tripDetails {
	padding: 0.35em 0.52em;
}

.stay .tripDetails div {
	display:inline-block;
	vertical-align:top;
	line-height:1;
}

.stay .tripDetails div p {
    display: inline-block;
    vertical-align: top;
    line-height: 1; 
}
	
.fromToTable {
	vertical-align: bottom;
}
.fromToTable td{
	font-size: 0.72em;
	padding-left: 0.26em;
	color: #666666;
}

.fromToTable tr:last-child {
	line-height:1.5;
}

.fromToTable tr:first-child{
	margin-bottom: 0.52em;
}


.modalTerms {
	background-color: #f4fbff;
	padding: 0.78em 1.04em;
	margin-bottom: 1.04em;
}

.modalTerms h1 {
	font-family: 'Roboto-Regular';
	color: #666666;
	font-weight:bold;
	font-size: 0.72em;
	border-bottom: 1px solid #8a8a8a;
	padding-bottom: 0.52em;
	margin-bottom: 0.52em;
}

.modalTerms p {
	font-family: 'Roboto-Regular';
	color: #333333;
	font-size: 0.67em;
	line-height: 1.5;
} 

.modal-footer {
	border-top: none;
	background-color: #f2f2f2;
}

.modalEdit,.modalConfirm{
	font-family: 'Roboto-Regular';
    font-size: 0.72em;
    color: #ffffff;
    padding: 0.72em 1.44em;
	display: inline-block;
}

.modalEdit {
	background-color: #ef383d;
	margin-right:0.78em;
}

.modalConfirm {
	background-color: #2185d0;
}

.planNum {
	display:none;
}

@media (max-width: 767px){
	.associateEntryContent{
		padding-left: 1em;
		padding-right: 1em;
		position: relative;
		overflow: hidden;
	}
	.left-entry-content {
		width: 100%;
	}
	.right-entry-content {
		width: 100%;
	}
	/* Right content start*/
	.pending-request-section, .pending-settlement-section {
		position: fixed;
		top: 12.6em;
		right: -11em;
		width: 11em;
		margin: 0;
		z-index: 9;
		border: none;
		-moz-transition: all 0.4s;
		-webkit-transition: all 0.4s;
		transition: all 0.4s;
	}
	.pending-request-section .pending-request-heading {
		background-color: #CC0001;
	}
	.pending-settlement-section .pending-request-heading {
		background-color: #0099FF;
	}
	.pending-request-section.active, .pending-settlement-section.active {
		right: 0;
	}
	.pending-settlement-section.active:before{
		background-image: url(../images/quicklinks_arrow_close.png);
	}
	.pending-request-heading {
		transform: rotate(90deg);
		transform-origin: left top;
		position: absolute;
		padding: 0.2em 0 0.6em;
	}
	.pending-request-section .pending-request-heading:before, .pending-settlement-section .pending-request-heading:before {
		content: '';
		background-image: url(../images/todo_arrow_open.png);
		background-repeat: no-repeat;
		background-size: 1.903em 1.903em;
		width: 1.903em;
		height: 1.903em;
		position: absolute;
		top: 0.7em;
		left: -0.4em;
		z-index: 99;
		transform: rotate(-90deg);
	}
	.pending-settlement-section .pending-request-heading:before {
		background-image: url(../images/quicklinks_arrow_open.png);
	}
	
	.pending-request-section.active .pending-request-heading:before {
		background-image: url(../images/todo_arrow_close.png);
	}
	.pending-settlement-section.active .pending-request-heading:before {
		background-image: url(../images/quicklinks_arrow_close.png);
	}
	
	.pending-request-heading h4{
		padding-left: 0;
		text-align: center;
	}
	.pending-request-section .pending-request-content {
		border: 1px solid #CC0001;
	}
	.pending-settlement-section .pending-request-content {
		border: 1px solid #0099FF;
	}
	
	.pending-settlement-section {
		top: 23.4em;
	}
	/* Right content end */
	
	.breadcrumb{
		margin-bottom: 0.26em;
	}
	.breadcrumb-item{
		font-size: 0.47em;
	}
	h1.tourRequestHeading{
		font-size: 0.86em;
		padding: 0.89em 0;
		text-align: center;
		margin-bottom: 1.33em;
	}
	.accordion > .accordion-head{
		cursor: pointer;
	}
	.accordion > .accordion-head:after{
		content: '';
		background-image: url(../images/icon_accordion_close_mobile.png);
		background-size: 0.8em 0.8em;
		position: absolute;
		width: 0.8em;
		height: 0.8em;
		right: 1em;
		background-repeat: no-repeat;
		top: 0.8em;
	}
	.accordion.active > .accordion-head:after{
		background-image: url(../images/icon_accordion_open_mobile.png);
	}
	
	.form-group{
		margin-right: 0;
		padding-right: 0.47em;
	}
	.tour .form, .ticketDetails .form, .stayDetails .form {
		padding: 0.67em;
	}
	.form-group.input-form-start-date, .form-group.input-form-end-date, .form-group.input-form-days, .form-group.input-form-number, .form-group.input-form-ticket-date, .form-group.input-form-ticket-time, .form-group.input-form-ticket-transport, .form-group.input-form-stay-from, .form-group.input-form-stay-to, .form-group.input-form-stay-othercity, .form-group.input-form-stay-objective {
		width: 10.62em; 
		width: 10.2em \9; 
	}
	.form-group.input-form-end-date, .form-group.input-form-number, .form-group.input-form-ticket-to-place, .form-group.input-form-ticket-time, .form-group.input-form-stay-to, .form-group.input-form-stay-othercity, .form-group.input-form-stay-objective {
		padding-right: 0;
		padding-left: 0.47em;
	}
	.form-group.input-form-advance, .form-group.input-form-approval, .form-group.input-form-ticket-from-place, .form-group.input-form-ticket-to-place, .form-group.input-form-ticket-mode, .form-group.input-form-ticket-class, .form-group.input-form-ticket-by, .form-group.input-form-stay-city, .form-group.input-form-stay-accomodation {
		width: 10.15em;
		width: 9.75em \9;
	}
	.form-group.input-form-advance, .form-group.input-form-ticket-from-place, .form-group.input-form-ticket-mode, .form-group.input-form-stay-city, .form-group.input-form-stay-accomodation{
		padding-right: 0;
		margin-right: 0.47em;
	}
	.form-group.input-form-approval, .form-group.input-form-ticket-to-place, .form-group.input-form-ticket-class, .form-group.input-form-ticket-by{
		padding-left: 0.47em;
		padding-right: 0;
	}
	.form-group.input-form-email, .form-group.input-form-objective{
		width: 100%;
		padding-right: 0;
	}
	
	.form-group.input-form-stay-accomodation .input-form .custom-select-head, .form-group.input-form-stay-accomodation .input-form .custom-select-options {
		width: 100%;
	}
	
	.anticipated {
		padding: 0.66em;
	}
	
	.miscallenous {
		padding: 0.66em 0.33em 1em;
		margin:0;
	}
	.miscAmount label, .remarks label {
		font-size:0.84em;
		margin-right:0;
	}
	
	.remarks {
		margin-left:0.33em;
	}
	
	.miscAmount input,.remarks input{
		width: 10em;
	}
	
	.miscallenous .col-sm-8,.tableSection .col-sm-4{
		text-align:left;	
	}
	
	.tableSection {
		padding: 0;
		margin:0;
	}
	
	.tableHead td:first-child, .tableFoot td:first-child {
		padding: 0.71em 0;
	}
	
	.stayCharges tr:nth-child(2) td:last-child, .dailyAllowance tr:nth-child(2) td:last-child {
		padding: 0 1.66em;
		width: 6.45em;
	}
	
	.dailyAllowance tr:nth-child(2) td:last-child {
		 padding: 0 1.84em;
	}
	
	.tableHead td:first-child, .tableFoot td:first-child,.stayCharges tr:nth-child(2) td, .stayCharges tr:nth-child(3) td, .dailyAllowance tr:nth-child(2) td, .dailyAllowance tr:nth-child(3) td{
		font-size:0.93em;
	}
	.stayCharges tr:nth-child(2) td:last-child, .dailyAllowance tr:nth-child(2) td:last-child {
		font-size:0.8em;
	}
	
	.tableSection .col-sm-4:first-child {
		padding-right:0;
	}
	
	.tableSection .col-sm-4:nth-child(2),.tableSection .col-sm-4:last-child {
		padding-left:0;
	}
	
	.stayCharges,.dailyAllowance {
		margin-bottom:1em;
	}
	
	.amount tr {
		height:4.66em;
	}
	
	.amount tr td:nth-child(odd) {
		font-size:1em;
	}
	
	.amount tr td:nth-child(even) {
		font-size:2.06em;
		width:4.32em;
	}
	.buttons{
		background-color:#dbf1ff;
		margin: 0 -0.99em 0.7em;
		padding: 0.84em 1em;
	}
	
	.save,.submit,.cancel {
		margin-right:0;
		margin-bottom: 1em;
		text-align:center;
		font-size:1em;
		width: 22.99em;
	}
	
	.cancel {
		margin-bottom: 0em;
	}
	
	.form-group.input-form-save {
	    width: 100%;
		margin-top: 0.52em;
		font-size: 1em;
	}
	
	.addField {
		position: relative;
		padding: 0.33em;
		display: block;
		margin: 0.66em 0 0.33em;
	}
	
	.addField .add {
		margin: 0 auto;
	}
	
	.ticketDetails .form, .stayDetails .form {
		border:1px solid #18c0ff;
		border-top: none;
	}
	
	#myTourModal.modal.in .modal-dialog {
		min-width: auto;
	}
		
	.modal-header .tourRequestHeading {
		font-size: 1.2em;
		padding: 0.83em 1.11em;
		text-align: left;
	}
	
	.modal-body .sectionTitle {
		font-size: 1.2em;
	}
	.modalTourSection,.modalTicketSection {
		padding:1em 1em 1.33em 1em;
	}
	
	.modalStaySection {
		padding:1em;
	}
	
	.trip:first-child,.trip:nth-child(2),.stay:first-child {
		margin-bottom: 1em;
	}
	
	.tripDetails {
		padding: 0.5em 1em;
	}
	
	.modalTourSection div:first-child, .modalTourSection div:nth-child(2) {
		border-bottom: 1px solid #d1d1d1;
		border-right:none;
		padding-right:0;
		padding-bottom: 1em;
	}
	
	.modalTourSection div {
		display: block;
	}
	
	.modalTourSection div:last-child, .modalTourSection div:nth-child(2) {
		padding-left:0;
		padding-top: 1em;
	}
	
	.modalTicketSection .trip h2, .modalStaySection .stay h2 {
		font-size: 1.2em;
		padding:0.69em;
	}
	
	.modalTourSection div:first-child p{
		font-size:1.06em;
	}
	
	.modalTourSection p {
		font-size:1em;
	}
	
	.modalTicketSection .trip p,.modalStaySection .stay p,.fromToTable td{
		font-size:1.13em;
	}

	.fromTo,.stayCity{
		font-size:1.46em !important;
	}
	
	.modalTicketSection .trip, .modalStaySection .stay {
		width:100%;
	}
	
	.modal-footer {
		padding: 0.66em 1em;
	}
	
	.modalEdit, .modalConfirm {
		display:block;
		text-align:center;
	}
	
	.modalEdit {
		margin-bottom:1em;
		margin-right: 0;
	}
	
	.modalTerms {
		padding:0.66em ;
		margin: 0 1em 0.66em;
	}
	
	.modalTerms h1 {
		font-size: 1.2em;
		margin-bottom: 0.55em;
		padding-bottom: 0.55em;
	}
	
	.modalTerms p {
		font-size:0.8em;
		
	}
	
	.bgStay {
		background-image: url(../images/icon_stay_white.png);
		background-size: 1.13em 1.5em;
	}
	
	.modal-body .bgStay {
		background-size: 0.85em 1.1em;
	}
	
	.bgExpend {
		background-size: 1.3em 1.3em;
	}
	
	.planNum {
		display:block;
		background-color: #cdedfc;
		padding: 0.89em 0.71em;
		margin: -0.71em -0.71em 0.71em -0.71em;
		font-size: 0.93em;
	} 
	
	.editField {
		position: absolute;
		top: 0.46em;
		right: 2.8em;
		padding: 0.3em 0.4em;
	}
	
	.editImg {
		width: 0.83em;
		height: 0.83em;
	}
	
	.saveDeleteField {
		display: block;
		float: none;
		width: 100%;
		background-color:transparent;
		border:none;
		margin-top:0.66em;
	}
	
	.saveDeleteField .saveField, .saveDeleteField .deleteField {
	    display: inline-block;
		background-color: #18c0ff;
		border: 1px solid #18c0ff;
		width: 10.13em; 
		padding: 0.33em 0;
	}
	
	.saveDeleteField .saveField {
		margin-right: 1.2em;
	}
	
	.saveDeleteField img {
		width:1.5em;
		height:1.5em;
	}
	
	.prepend {
		padding:0;
	}
	
	.prepend{
		padding-bottom: 1em;
	}
	
	.prepend > .form {
		margin-bottom: 1em;
	}
	
	.minus {
		display: inline-block;
		position: absolute;
		background-image: url(../images/icon_accord_minus_2.png);
		background-size: 0.86em 0.1em;
		background-position: center;
		background-repeat: no-repeat;
		background-color: #18c0ff;
		padding: 0.1em 0.48em 0.72em;
		top: 0.5em;
		right: 0.8em;
		width: 1.79em;
		height: 1.79em;
	}
	
	.plus {
		display: inline-block;
		position: absolute;
		background-image: url(../images/icon_accord_plus_2.png);
		background-size: 0.86em 0.86em;
		background-position: center;
		background-repeat: no-repeat;
		background-color: #18c0ff;
		padding: 0.1em 0.48em 0.72em;
		top: 0.5em;
		right: 0.8em;
		width: 1.79em;
		height: 1.79em;
	}
}

@media only screen and (max-width: 767px) and (orientation : landscape){
	.pending-request-section, .pending-settlement-section{
		position: absolute;
		top: 0.3em;
	}
	.pending-settlement-section{
		top: 10.5em;
	}
}