@import url(owl.carousel.css);
@import url(owl.theme.default.css);

@import url(fonts/stylesheet.css);
@import url(roboto/stylesheet.css);


/* css-reset code start */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
n, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header,
hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*font: inherit;*/
    vertical-align: baseline;
}

.container-content {
    width: 100%;
}

.body-content {
    padding: 15px !important;
    font-size: 14px;
    /*width:100%;*/
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* css-reset code end */

* {
    box-sizing: border-box;
}

body {
    font-size: 1.5vw;
}

.clear-both {
    clear: both;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

    select::-ms-expand {
        display: none;
    }

#myBirthdayModal.modal.in .modal-dialog {
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    margin: 0 auto;
    min-width: 37.7em;
    min-height: 23.1em;
}

.section1 {
    width: 16.92em;
}

.tableSec {
    width: calc(100% - 16.92em);
}

.section2 {
    width: 32.03em;
}

.section3 {
    width: calc(100% - 32.03em);
}

.homeContent {
    max-width: 66.66em;
    width: 100%;
    padding: 0em;
    font-family: 'Roboto-Regular';
}

.homeContent {
    padding: 0.52em 1.3em 0.78em;
}

    .homeContent div {
        padding: 0px;
    }

    .homeContent .president {
        padding: 0.52em 1.04em;
        -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
        margin-left: 0.26em;
    }

.president .heading {
    line-height: 1.4;
    border-bottom: 1px solid #cbcbcb;
    display: inline-block;
    padding: 0.26em;
}

.presidentOne {
    margin-top: 1.04em;
    margin-bottom: 1.56em;
}

.presidentTwo {
    margin-bottom: 0.52em;
}

.president .heading h4 {
    font-size: 0.88em;
    font-family: 'Roboto-Bold';
    color: #28abe3;
}

.president .heading h5 {
    font-size: 0.67em;
    color: #666666;
}

.presidentImg {
    float: left;
    margin-top: -1.4em;
    margin-right: 0.52em;
    background-color: #e28484;
    width: 4.06em;
    height: 4.06em;
    border-radius: 50%;
    position: relative;
}

    .presidentImg img {
        width: 3.48em;
        height: 3.48em;
        bottom: 0;
        position: absolute;
        right: 50%;
        -moz-transform: translateX(50%);
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
        border-radius: 50%;
    }

.president .owl-item {
    padding-bottom: 0.26em;
}

.president .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0;
}

.president .owl-theme .owl-dots .owl-dot span {
    background: transparent;
    border: 1px solid #676767;
}

.president .owl-theme .owl-dots .owl-dot.active span {
    background: #666666;
    border: 1px solid #676767;
}

.vision h5 {
    font-size: 0.72em;
    color: #4e4e4e;
    padding-top: 0.5em;
    margin-bottom: 1em;
    font-family: 'Roboto-Medium';
}

.vision p {
    font-size: 0.625em;
    color: #666666;
    line-height: 1.45;
}

/*#visionHMSI .vision p{
	padding-top:0.9em;
}*/

.vision a {
    font-size: 0.625em;
    color: #cc0001;
    text-decoration: underline;
    float: right;
}

.homeContent .president, .homeContent .canvas {
    margin-left: 0.26em;
}

.homeContent .canvas {
    position: relative;
    background-color: #3a2426;
    margin-left: 0.26em;
    margin-top: 0.5em;
    /*width: 45%;*/
}

.canvasImg {
    width: 6.5em;
    display: inline-block;
    margin-left: 0.52em;
}

.canvas .archive {
    margin-top: 0.52em;
    background-color: #3e8cb2;
    padding: 0.26em 0.36em;
    display: inline-block;
}

.archive span {
    color: #ffffff;
    font-size: 0.625em;
}

.archive img {
    width: 0.93em;
    height: 0.72em;
    vertical-align: middle;
}

.canvas .rightCanvas {
    display: inline-block;
    background-color: #ee3e40;
    color: #ffffff;
    height: 5.2em;
    width: 4.5em;
    position: absolute;
    right: 2.18em;
    top: 0;
    padding: 0.36em 0 0 0.36em;
}

    .canvas .rightCanvas p {
        font-size: 0.78em;
        line-height: 1.2;
    }

.canvas .vol {
    background-color: #bc2421;
    color: #ffffff;
    padding: 0.36em;
    position: absolute;
    right: 0;
    bottom: 0.0em;
}

    .canvas .vol p {
        font-size: 0.67em;
    }

.homeContent .csr {
    position: relative;
    background-color: #3a2426;
    margin-left: 0.5em;
    margin-top: 0.5em;
    width: 45%;
}

.csrImg {
    width: 6.5em;
    display: inline-block;
    margin-left: 0.52em;
    margin-top: 2px;
}

.csr .rightcsr {
    display: inline-block;
    background-color: blue;
    color: #ffffff;
    height: 5.2em;
    width: 4.5em;
    position: absolute;
    right: 0.0em;
    top: 0;
    padding: 0.0em 0 0 0.0em;
}

.homeContent .announcements {
    position: relative;
    color: #ffffff;
    margin-left: 0.52em;
    margin-right: 0.52em;
}

#announce .announcementImg {
    width: 8.125em;
    margin-right: -0.15em;
}

#announce .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 0;
}

.announcements .owl-theme .owl-dots {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.homeContent .announceContent {
    display: inline-block;
    position: relative;
    padding: 0.78em 0.78em 3.12em 2.86em;
    /*line-height: 1.25em;*/
    line-height: 0.9em;
    height: 16.2em;
}

.announceContent h1 {
    font-size: 1.1em;
    /*font-size: 1.2em;*/
    font-family: 'Roboto-Bold';
    /*margin-top: 0.66em;*/
}

.announceContent h3 {
    font-size: 0.73em;
    /*font-size: 0.83em;*/
}

.announceContent p {
    /*font-size: 0.62em;*/
    font-size: 0.72em;
}

.announcementImg {
    position: absolute;
    right: 0em;
    bottom: 0;
}

.announcePause {
    position: absolute;
    bottom: 0.4em;
    right: 2em;
    z-index: 1;
    width: 0.52em;
    height: 0.78em;
    cursor: pointer;
}

.homeContent .hasyaKaviLogo {
    float: right;
    padding: 0.2em 0.41em;
    /*background-color: #ffffff;*/
    border-radius: 3%;
    height: 75px;
    width: 200px;
    overflow: hidden;
    /*opacity: 0.8;*/
}

.announceContent .topMargin {
    margin-top: 0.38em;
    /*margin-top: 0.78em;*/
}

.homeContent .announceContent .readAnnounce {
    padding: 0.66em 0.83em;
    background-color: #cc0001;
    border: 1px solid #fc4f51;
    font-size: 0.625em;
    position: absolute;
    bottom: 4.16em;
    right: 1.4em;
    z-index: 999;
    color: #fff;
    line-height: 1;
    text-decoration: none;
}

.homeContent .announceContent .readCommunication {
    padding: 0.66em 0.83em;
    background-color: #cc0001;
    border: 1px solid #fc4f51;
    font-size: 0.625em;
    position: absolute;
    bottom: 4.16em;
    right: 1.4em;
    z-index: 999;
    color: #fff;
    line-height: 1;
    text-decoration: none;
}

.homeContent .announceContent .readArchive {
    padding: 0.66em 0.83em;
    background-color: #cc0001;
    border: 1px solid #fc4f51;
    font-size: 0.625em;
    position: absolute;
    bottom: 4.16em;
    /*right: 39.6em;*/
    z-index: 999;
    color: #fff;
    line-height: 1;
    text-decoration: none;
}

.homeContent .announcements .owl-theme .owl-dots .owl-dot.active span {
    width: 0.78em;
    height: 0.78em;
    border-radius: 50%;
}

.homeContent .announcements .owl-theme .owl-dots .owl-dot span {
    width: 0.52em;
    height: 0.52em;
}

.homeContent .announcements .owl-nav .owl-prev img, .homeContent .announcements .owl-nav .owl-next img {
    width: 0.9em;
}

.homeContent .announcements .owl-theme .owl-dots .owl-dot span,
.homeContent .announcements .owl-theme .owl-dots .owl-dot.active span,
.homeContent .announcements .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
}

.announcements .owl-theme .owl-nav {
    display: inline-block;
    position: absolute;
    right: -0.67em;
    bottom: 0.25em;
    margin-top: 0;
    z-index: 1;
}

    .announcements .owl-theme .owl-nav [class*='owl-'] {
        font-size: 0.71em;
        background-color: transparent;
        margin: 0;
        margin-right: 2.21em;
        padding: 0;
    }

.announcements .owl-theme .owl-dots {
    background-color: rgba(0,0,0,0.5);
    text-align: left;
    padding-left: 2.86em;
    padding-bottom: 0.26em;
    padding-top: 0.26em;
    min-height: 1.56em;
}

.announcements .verticalText {
    background-color: rgba(204,1,2,0.5);
    padding: 0.52em;
    color: #ffffff;
    position: absolute;
    top: 0;
    z-index: 2;
    width: 2.08em;
    height: 100%;
}

    .announcements .verticalText h4, .search .verticalText h4, .thought .verticalText h4, .quickLinks .verticalText h4, .toDos .verticalText h4, .emergency .verticalText h4 {
        font-family: 'roboto_slabregular';
        font-size: 1.04em;
        position: absolute;
        bottom: 4em;
        left: -3em;
        -ms-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

.search {
    background-image: url('../images/peopleSearch_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0.57em 0.26em 0 0.52em;
}

    .search .bgColor {
        background-image: url('../images/peoplesearch_opacity_bg.png');
        background-repeat: repeat;
        position: relative;
        min-height: 11.5em;
        padding-top: 3.27em;
    }

    .search .searchInput {
        margin-left: 3.01em;
        position: relative;
    }

.onlyIE9 {
    display: none;
    display: block\9;
    font-family: 'Roboto-Light';
    top: 50%;
    transform: translateY(-50%);
    left: 0.8em;
    position: absolute;
    font-size: 0.78em;
    color: #666666;
    Cursor: text;
}

    .onlyIE9.hideLabel {
        display: none;
    }

.search .verticalText h4 {
    bottom: 3.5em;
    left: -2.3em;
}

.searchInput input {
    border-radius: 2%;
    width: 14.33em;
    padding: 0.66em 3.4em 0.66em 0.8em;
    border: none;
    font-size: 0.78em;
    font-family: 'Roboto-Light';
    color: #666666;
    line-height: 1;
    outline: 0;
}

.searchInput .searchIcon {
    background-color: #cc0001;
    position: absolute;
    right: 1em;
    width: 2.08em;
    height: 2.1em;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}

    .searchInput .searchIcon img {
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1em;
    }

.searchInput a {
    text-decoration: underline;
    color: #ffffff;
    font-size: 0.72em;
    font-family: 'Roboto-Regular';
    float: right;
    padding-top: 0.26em;
    padding-right: 1.2em;
}

.search .verticalText {
    background-color: rgba(204,1,2,0.5);
    color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 2.08em;
}

.homeContent .thought {
    /*background-image:url('../images/thought_of_the_day_bg.png');*/
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0.57em 0.52em 0em 0.26em;
}

.thought .bgColor {
    background-color: white; /*background-image: url('../images/thoughts_opacity_bg.png');*/
    background-repeat: repeat;
    position: relative;
    /*padding: 0.78em 0.52em 0.78em 3.125em;*/
    min-height: 11.5em;
}

.thought .verticalText h4 {
    bottom: 4.5em;
    left: -2.2em;
    /*left: -3.5em;*/
}

.thought p {
    font-size: 0.83em;
    color: #ffffff;
    font-family: 'Roboto-Regular';
    font-style: italic;
    padding-bottom: 0.78em;
    line-height: 1.35;
    letter-spacing: 0.5px;
}

/*.thought span {
    font-size: 0.83em;
    color: #ffffff;
    font-family: 'Roboto-Regular';
    font-style: italic;
    position: absolute;
    bottom: 0.93em;
    right: 0.52em;
}*/

.thought .verticalText {
    background-color: #ababab; /*rgba(115,115,115,0.5);*/
    color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 2.08em;
}

.thought .topLinksMain {
    border: 0.1em solid #ababab;
    /*padding: 0 0.41em;*/
    padding: 0 0.41em 0 2.4em;
}

.thought .topLinks {
    padding-bottom: 0.71em;
    padding-top: 0.71em;
    border-bottom: 1px solid #ababab;
}

.thought .links {
    display: inline-block;
    border-right: 1px solid #ababab;
    text-align: center;
    width: 48%;
    min-height: 3.95em;
    vertical-align: top;
}

    .thought .links a {
        display: block;
        text-decoration: none;
    }

    .thought .links img {
        display: inline-block;
        width: 2.3em;
        height: 2.3em;
    }

    .thought .links span {
        font-size: 0.6em;
        color: #333333;
        display: block;
        margin-top: 0.52em;
        padding: 0 0.5em;
    }

    .thought .links:nth-child(3), .thought .links:last-child {
        border-right: none;
    }

.thought .topLinks:last-child {
    border-bottom: none;
}


.homeContent .quickLinks {
    position: relative;
    padding-left: 1.4em;
}

.quickLinks .verticalText {
    background-color: #3fb3fe;
    color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 1.56em;
}

.quickLinks .links {
    display: inline-block;
    border-right: 1px solid #3fb3fe;
    text-align: center;
    width: 31.9%;
    min-height: 2.95em;
    vertical-align: top;
}

    .quickLinks .links:nth-child(4), .quickLinks .links:last-child {
        border-right: none;
    }

.quickLinks .topLinksMain {
    border: 0.1em solid #3fb3fe;
    padding: 0 0.41em;
}

.quickLinks .topLinks {
    padding-bottom: 0.41em;
    padding-top: 0.41em;
    border-bottom: 1px solid #3fb3fe;
}

    .quickLinks .topLinks:last-child {
        border-bottom: none;
    }

.quickLinks .links img {
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
}

.quickLinks .links span {
    font-size: 0.6em;
    color: #333333;
    display: block;
    margin-top: 0.52em;
    padding: 0 0.5em;
}

.quickLinks .verticalText h4 {
    left: -2em;
    bottom: 2.8em;
}

.quickLinks .links a {
    display: block;
    text-decoration: none;
}

.homeContent .toDos {
    padding: 0 0 0 1.5em;
    background: #ffffff;
    position: relative;
    overflow: hidden;
    margin-top: 0.52em;
    min-height: 6.29em;
}

/* Start (Add & Modify By Govind on 03-Oct-2019) */
.toDos .verticalText h4 {
    bottom: 1.5em;
    left: -0.9em;
}

.toDos .toDosMain {
    border: 0.1em solid #cc0001;
    margin-left: -0.1em;
}

.requestBg {
    width: 100%;
    height: 0;
    border-bottom: 7.1em solid #fff;
    /*border-left: 13.58em solid transparent;*/
}

.toDos .verticalText {
    background-color: #cc0001;
    color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 1.56em;
    border: 0.1em solid #cc0001;
}

.toDos .approvals {
    /*position: absolute;
    left: 2.5em;
    top: 0.93em;*/
    color: #333333;
    height: 2.36em;
    padding-top: 10px;
}

.toDos .requests {
    /*position: absolute;
    bottom: 0.93em;
    right: 0.93em;
    text-align: right;*/
    color: #333333;
    height: 2.36em;
    border-bottom: 2px solid #cc0001;
    padding-top: 10px;
}

.toDos .selfPending {
    /*position: absolute;
    bottom: 0.93em;
    right: 0.93em;
    text-align: right;*/
    color: #333333;
    height: 2.36em;
    border-bottom: 2px solid #cc0001;
    padding-top: 10px;
}

    .toDos .approvals h3, .toDos .requests h3, .toDos .selfPending h3 {
        font-family: 'Roboto-Bold';
        font-size: 0.93em;
    }

    .toDos .approvals h1, .toDos .requests h1, .toDos .selfPending h1 {
        font-family: 'Roboto-Bold';
        font-size: 1.5em;
    }
/* End */

.homeContent .emergency {
    margin-top: 0.40em;
    position: relative;
    min-height: 11.5em;
}

.emergency .dropdownMain {
    border: 0.1em solid #3fb3fe;
    padding: 1.2em 0.3em 2.3em 1.7em;
    padding-bottom: 0.2em;
    min-height: 11.5em;
}

.emergency select {
    cursor: pointer;
    outline: 0;
    display: block;
    width: 13.57em;
    color: #006699;
    font-size: 0.72em;
    padding: 0.61em 0.57em;
    border: 1px solid #006699;
    margin: 0 auto;
    border-radius: 4px;
    background-image: url('../images/arrow_main_menu.png');
    background-size: 0.8em;
    background-repeat: no-repeat;
    background-position: right 0.8em center;
}

    .emergency select:last-child {
        margin-top: 0.78em;
    }

.emergency .verticalText {
    background-color: #3fb3fe;
    border: 0.1em solid #3fb3fe;
    color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 1.56em;
}

    .emergency .verticalText h4 {
        bottom: 4.9em;
        left: -4.4em;
    }

.homeContent .number {
    margin-top: 0.78em;
}

.number .tollfree {
    padding-left: 2.2em;
}

.hide_select {
    display: none;
}

.number .tollfree p {
    color: #2d6090;
    font-size: 1.14em;
    font-family: 'Roboto-Bold';
}

    .number .tollfree p:last-child {
        padding-top: 0.2em;
    }

.number p span {
    font-family: 'Roboto-Regular';
}

.contact {
    width: 1.56em;
    height: 1.56em;
    position: absolute;
    left: 2.3em;
}

/*---------------------- .headerStart ----------------------*/
.headerStart {
    max-width: 56.5em;
    width: 100%;
    padding: 0;
    font-family: 'Roboto-Regular';
    background-color: #4e4e4e;
    padding: 0.05em 0.85em;
    color: #ffffff;
    margin-right: 0;
}

    .headerStart .date {
        display: inline-block;
        vertical-align: text-bottom;
    }

        .headerStart .date span:first-child {
            font-size: 0.83em;
        }

        .headerStart .date span:last-child {
            font-size: 0.625em;
        }

.flag1, .flag2, .flag3 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.78em;
}

    .flag1 img, .flag2 img, .flag3 img {
        vertical-align: middle;
    }

    .flag1 span, .flag2 span, .flag3 span {
        font-size: 0.57em;
        vertical-align: middle;
    }

.welcome {
    float: right;
}

    .welcome, .welcome p, .welcome button {
        display: inline-block;
    }

        .welcome p {
            font-size: 0.72em;
            font-style: italic;
        }

            .welcome p span {
                font-weight: bold;
                font-style: normal;
            }

        .welcome a.logout_desktop {
            background-color: #878787;
            margin: 0.15em 0 0.15em 0.4em;
            padding: 0.21em 0.86em;
            border-radius: 3px;
            display: inline-block;
            line-height: 0;
            text-decoration: none;
        }

            .welcome a.logout_desktop img {
                vertical-align: middle;
                width: 0.83em;
            }

            .welcome a.logout_desktop span {
                font-size: 0.87em;
                color: #FFF;
            }

/* ----------------------footer---------------------- */
.footer {
    max-width: 66.66em;
    width: 100%;
    padding: 0em;
    font-family: 'Roboto-Regular';
    background-color: #4e4e4e;
    color: #ffffff;
    text-align: center;
    min-height: 1.3em;
    vertical-align: middle;
    position: relative;
    bottom: 0;
}

    .footer span {
        font-family: 'Roboto-Light';
        font-size: 0.52em;
    }

/* ----------------------modal---------------------------- */
.modal {
    z-index: 99999;
}

#myBirthdayModal .modal-body {
    background-image: url('../images/birthday_doddle_bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    padding: 0;
    min-width: 37.7em;
    min-height: 23.1em;
}

#myBirthdayModal .doodle .modal-dialog {
    min-width: 37.7em;
    min-height: 23.1em;
}

#myBirthdayModal .modal-body .closeDoodle {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -7%;
}

#myBirthdayModal .name-banner {
    display: inline-block;
    position: absolute;
    top: 54%;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: 'roboto_slabbold';
}

    #myBirthdayModal .name-banner img, .name-banner p {
        float: left;
    }

    #myBirthdayModal .name-banner img {
        float: left;
        height: 2.92em;
        margin-top: -0.05em;
    }

    #myBirthdayModal .name-banner p {
        padding: 0.7em 0.8em 1.05em;
        font-size: 0.93em;
        letter-spacing: 0.1em;
        color: #ffffff;
        background-color: #724170;
        height: 2.5em;
        z-index: 0;
    }

        #myBirthdayModal .name-banner p:before {
            content: '';
            background-image: url(../images/name_bg_left.png);
            background-size: 0.625em 2.5em;
            position: absolute;
            width: 0.625em;
            height: 2.5em;
            background-repeat: no-repeat;
            left: -0.52em;
            top: 0;
            z-index: -1;
        }

        #myBirthdayModal .name-banner p:after {
            content: '';
            background-image: url(../images/name_bg_right.png);
            background-size: 0.625em 2.5em;
            position: absolute;
            width: 0.625em;
            height: 2.5em;
            background-repeat: no-repeat;
            right: -0.52em;
            top: 0;
            z-index: -1;
        }

#myAnnouncementsModal .modal-header {
    padding: 0;
    border: none;
    border-radius: 0;
    position: relative;
}

#myAnnouncementsModal .modal-dialog {
    width: 34.4em;
}

#myAnnouncementsModal .close-announcements-modal {
    position: absolute;
    top: -1.3em;
    right: 0;
    cursor: pointer;
}

#myAnnouncementsModal .announcements-read-more-banner {
    width: 34.3em;
    height: 4.16em;
    display: block;
}

#myAnnouncementsModal .modal-header .announcements-read-more-logo {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0.78em;
    width: 8.33em;
    height: 1.72em;
}

#myAnnouncementsModal .modal-header h2 {
    position: absolute;
    right: 0.78em;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #FFF;
    font-size: 1.04em;
    font-family: roboto_slabbold;
}

#myAnnouncementsModal .modal-body {
    padding: 0;
    background-color: #FFF;
    margin: 0.78em 0 1em;
}

#myAnnouncementsModal .modal-content {
    border-radius: 0;
    margin-top: 5.5em;
}

#myAnnouncementsModal .modal-left-content, #myAnnouncementsModal .modal-right-content {
    display: inline-block;
}

#myAnnouncementsModal .modal-left-content {
    width: 34.3%;
    vertical-align: top;
    padding: 0 0.55em 0 0.78em;
}

#myAnnouncementsModal .left-content-img {
    width: 10.5em;
    height: 9.5em;
    border: 2px solid #ed3237;
    padding: 0.6em 0.2em;
}

#myAnnouncementsModal .modal-left-content .download-links h6 {
    font-family: Roboto-Regular;
    font-weight: bold;
    font-size: 0.625em;
    color: #333333;
    margin-top: 0.52em;
}

#myAnnouncementsModal .modal-left-content .download-links a {
    font-family: Roboto-Regular;
    font-size: 0.625em;
    color: #0078de;
    text-decoration: underline;
    display: block;
    margin-top: 0.52em;
}

#myAnnouncementsModal .modal-right-content {
    width: 64.9%;
}

    #myAnnouncementsModal .modal-right-content h3 {
        background-color: #cc0001;
        font-family: Roboto-Regular;
        font-size: 0.83em;
        font-weight: bold;
        color: #FFF;
        padding: 0.52em;
        margin-bottom: 0.5em;
    }

        #myAnnouncementsModal .modal-right-content h3 span.heading {
            display: block;
            font-family: Roboto-Regular;
            color: #FFF;
            font-size: 0.72em;
            padding-top: 1em;
        }

    #myAnnouncementsModal .modal-right-content p {
        font-family: Roboto-Regular;
        font-size: 0.68em;
        color: #333333;
        line-height: 1.5;
        margin-bottom: 1.15em;
    }

        #myAnnouncementsModal .modal-right-content p.venue-text {
            margin-bottom: 0.2em;
        }

        #myAnnouncementsModal .modal-right-content p span.content-bold {
            font-weight: bold;
        }

/*Communication*/
#myCommunicationModal .modal-header {
    padding: 0;
    border: none;
    border-radius: 0;
    position: relative;
}

#myCommunicationModal .modal-dialog {
    width: 34.4em;
}

#myCommunicationModal .close-announcements-modal {
    position: absolute;
    top: -1.3em;
    right: 0;
    cursor: pointer;
}

#myCommunicationModal .announcements-read-more-banner {
    width: 34.3em;
    height: 4.16em;
    display: block;
}

#myCommunicationModal .modal-header .announcements-read-more-logo {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0.78em;
    width: 8.33em;
    height: 1.72em;
}

#myCommunicationModal .modal-header h2 {
    position: absolute;
    right: 0.78em;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #FFF;
    font-size: 1.04em;
    font-family: roboto_slabbold;
}

#myCommunicationModal .modal-body {
    padding: 0;
    background-color: #FFF;
    margin: 0.78em 0 1em;
}

#myCommunicationModal .modal-content {
    border-radius: 0;
    margin-top: 5.5em;
}

#myCommunicationModal .modal-left-content, #myCommunicationModal .modal-right-content {
    display: inline-block;
}

#myCommunicationModal .modal-left-content {
    width: 34.3%;
    vertical-align: top;
    padding: 0 0.55em 0 0.78em;
}

#myCommunicationModal .left-content-img {
    width: 10.5em;
    height: 9.5em;
    border: 2px solid #ed3237;
    padding: 0.6em 0.2em;
}

#myCommunicationModal .modal-left-content .download-links h6 {
    font-family: Roboto-Regular;
    font-weight: bold;
    font-size: 0.625em;
    color: #333333;
    margin-top: 0.52em;
}

#myCommunicationModal .modal-left-content .download-links a {
    font-family: Roboto-Regular;
    font-size: 0.625em;
    color: #0078de;
    text-decoration: underline;
    display: block;
    margin-top: 0.52em;
}

#myCommunicationModal .modal-right-content {
    width: 64.9%;
}

    #myCommunicationModal .modal-right-content h3 {
        background-color: #cc0001;
        font-family: Roboto-Regular;
        font-size: 0.83em;
        font-weight: bold;
        color: #FFF;
        padding: 0.52em;
        margin-bottom: 0.5em;
    }

        #myCommunicationModal .modal-right-content h3 span.heading {
            display: block;
            font-family: Roboto-Regular;
            color: #FFF;
            font-size: 0.72em;
            padding-top: 1em;
        }

    #myCommunicationModal .modal-right-content p {
        font-family: Roboto-Regular;
        font-size: 0.68em;
        color: #333333;
        line-height: 1.5;
        margin-bottom: 1.15em;
    }

        #myCommunicationModal .modal-right-content p.venue-text {
            margin-bottom: 0.2em;
        }

        #myCommunicationModal .modal-right-content p span.content-bold {
            font-weight: bold;
        }


#myPresidentModal .modal-header {
    padding: 0;
    border: none;
    border-radius: 0;
    width: 34.3em;
    height: 3.16em;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
}

#myPresidentModal .modal-dialog {
    width: 34.4em;
}

#myPresidentModal .close-readmore-modal {
    position: absolute;
    top: -1.3em;
    right: 0;
    cursor: pointer;
}

#myPresidentModal .read-more-banner {
    width: 34.3em;
    height: 4.16em;
    display: block;
}

#myPresidentModal .modal-body {
    padding: 0;
    background-color: #FFF;
    margin-top: 0.78em;
}

#myPresidentModal .modal-content {
    border-radius: 0;
    margin-top: 5em;
}

#myPresidentModal .modal-left-content, #myPresidentModal .modal-right-content {
    display: inline-block;
}

#myPresidentModal .modal-left-content {
    width: 24.3%;
    vertical-align: top;
    padding: 0 0.55em 0 0.78em;
}

#myPresidentModal .left-content-img {
    width: 10.4em;
    height: 7.55em;
}

#myPresidentModal .modal-left-content .download-links h6 {
    font-family: Roboto-Regular;
    font-weight: bold;
    font-size: 0.625em;
    color: #333333;
    margin-top: 0.52em;
}

#myPresidentModal .modal-left-content .download-links a {
    font-family: Roboto-Regular;
    font-size: 0.625em;
    color: #0078de;
    text-decoration: underline;
    display: block;
    margin-top: 0.52em;
}

#myPresidentModal .modal-right-content {
    width: 74.9%;
}

    #myPresidentModal .modal-right-content h3 {
        background-color: #cc0001;
        font-family: Roboto-Regular;
        font-size: 0.78em;
        font-weight: bold;
        color: #FFF;
        padding: 0.52em;
        margin-bottom: 0.5em;
    }

    #myPresidentModal .modal-right-content p {
        font-family: Roboto-Regular;
        font-size: 0.67em;
        color: #333333;
        line-height: 1.25;
        margin-bottom: 1.15em;
        width: 99%;
    }

#myPresidentModal .modal-header h2 {
    color: #FFF;
    font-size: 1.04em;
    font-family: roboto_slabbold;
    text-align: right;
}
/*---------------------- media queries ----------------------*/

@media only screen and (max-width: 767px) {

    body {
        font-size: 4.5vw;
    }

    #myBirthdayModal.modal.in .modal-dialog {
        min-width: auto;
    }

    #myBirthdayModal .modal-body {
        min-width: auto;
        min-height: 16.16em;
    }

    #myBirthdayModal .modal-content {
        margin: 8.2em 1.6em;
    }

    #myBirthdayModal .doodle .modal-dialog {
        min-width: auto;
        margin-top: 2em;
    }

    #myBirthdayModal .name-banner p {
        font-size: 0.66em;
    }

    #myBirthdayModal .name-banner img {
        margin-top: -0.01em;
        height: 1.85em;
    }

    #myBirthdayModal .name-banner {
        left: 50%;
    }

    .tableSec {
        width: auto;
    }

    .section1, .section2, .section3 {
        width: 100%;
    }

    .defaultTime {
        background: #4e4e4e;
        border: none;
        font-size: 0.66em;
        background-image: url(../images/icon_time_change.png);
        background-repeat: no-repeat;
        display: inline-block;
        background-position: center right;
        min-width: 11.11em;
        float: right;
    }

        .defaultTime span {
            vertical-align: middle;
        }

        .defaultTime img {
            margin-right: 0.25em;
            vertical-align: middle;
            width: 1.26em;
            height: 1.26em;
        }

    .flagMobile {
        display: inline-block;
        background: #4e4e4e;
        border: none;
        background-position: 8.16em;
        float: right;
        display: none;
        color: #ffffff;
        position: absolute;
        right: 1em;
        top: 1.1em;
        z-index: 999;
        padding: 0.33em 0em;
    }

        .flagMobile .flag1 img, .flagMobile .flag2 img, .flagMobile .flag3 img {
            margin-right: 0.16em;
            width: 0.83em;
            height: 0.83em;
        }

        .flagMobile .flag1 span, .flagMobile .flag2 span, .flagMobile .flag3 span {
            font-size: 0.66em;
        }

        .flagMobile .flag1, .flagMobile .flag2, .flagMobile .flag3 {
            display: block;
            margin: 0;
            padding: 0.25em 0.45em;
        }

            .flagMobile .flag1:hover, .flagMobile .flag2:hover, .flagMobile .flag3:hover {
                background-color: darkgray;
            }

    .selectToggle {
        display: block;
    }

    .welcomeMobile {
        font-family: 'Roboto-Regular';
        font-style: italic;
        text-align: center;
        font-size: 0.8em;
        margin: 0.83em auto 0.78em;
    }

        .welcomeMobile span {
            font-family: 'Roboto-Bold';
            font-style: normal;
        }

    .quickLinks .verticalText h4, .toDos .verticalText h4 {
        bottom: 45%;
    }

    .quickLinks .verticalText h4 {
        left: -2em;
    }

    .homeContent .toDos {
        cursor: pointer;
        margin-top: 0;
        position: fixed;
        right: -41%;
        top: 12em;
        z-index: 99;
        -moz-transition: all 0.4s;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
        overflow: visible;
    }

        .homeContent .toDos:before, .homeContent .quickLinks:before {
            content: '';
            background-image: url(../images/todo_arrow_open.png);
            background-repeat: no-repeat;
            background-size: 1.5em 1.5em;
            width: 1.5em;
            height: 1.5em;
            position: absolute;
            top: -0.411em;
            left: -0.6em;
            z-index: 99;
        }

        .homeContent .toDos.active {
            right: 0;
            -moz-transition: all 0.4s;
            -webkit-transition: all 0.4s;
            transition: all 0.4s;
        }

            .homeContent .toDos.active:before {
                background-image: url(../images/todo_arrow_close.png);
            }

    .homeContent .quickLinks {
        position: fixed;
        right: -79.7%; /*add by vishal old - -86.5*/
        top: 22.5em;
        z-index: 99;
        background-color: #FFF;
        -moz-transition: all 0.4s;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
    }

    .quickLinks .topLinksMain {
        padding-left: 1.1em;
        width: 20.6em; /*add by vishal*/
    }

    .homeContent .quickLinks.active {
        right: 0;
        -moz-transition: all 0.4s;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
    }

        .homeContent .quickLinks.active:before {
            background-image: url(../images/quicklinks_arrow_close.png);
        }

    .homeContent .quickLinks:before {
        background-image: url(../images/quicklinks_arrow_open.png);
    }

    /* Start (Add & Modify By Govind on 03-Oct-2019) */
    .requestBg {
        width: 10.1em;
        height: 9.75em;
        border: none;
        border-bottom: 5em solid #fff;
    }

    .toDos .approvals {
        height: 3.25em;
        padding-top: 10px;
    }

    .toDos .requests {
        height: 3.25em;
        padding-top: 10px;
    }

    .toDos .selfPending {
        height: 3.25em;
        padding-top: 10px;
    }

        .toDos .approvals h3, .toDos .requests h3, .toDos .selfPending h3 {
            font-family: 'Roboto-Bold';
            font-size: 0.80em;
        }

        .toDos .approvals h1, .toDos .requests h1, .toDos .selfPending h1 {
            font-size: 1.66em;
        }

    .toDos .toDosMain {
        margin-left: -0.2em;
    }
    /* End */

    .homeContent .quickLinks {
        padding: 0 0 0 0.66em;
    }

    .quickLinks .topLinks {
        /*padding-top: 0.83em;
        padding-bottom: 0.5em;*/
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }

        .quickLinks .topLinks:last-child {
            padding-top: 0.5em;
            padding-bottom: 0.83em;
        }

    .quickLinks .links {
        min-height: 3.43em;
    }

        .quickLinks .links span {
            font-size: 0.8em;
        }

    .quickLinks .verticalText {
        background-color: #0099ff;
    }

        .quickLinks .verticalText h4, .toDos .verticalText h4 {
            -moz-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }

    .headerStart .date span:first-child {
        font-size: 0.8em;
    }

    .headerStart .date span:last-child {
        font-size: 0.8em;
    }

    .announcements .verticalText h4, .search .verticalText h4, .thought .verticalText h4, .quickLinks .verticalText h4, .toDos .verticalText h4, .emergency .verticalText h4 {
        font-size: 0.87em;
    }

    .thought .verticalText h4 {
        left: -2.4em; /*left: -3.7em;*/
    }

    .emergency .verticalText h4 {
        left: -4.3em;
    }

    .search .verticalText h4 {
        left: -2.6em;
    }

    .announceContent h1 {
        font-size: 1em;
    }

    .announceContent p {
        font-size: 0.8em;
        line-height: 1.25em;
    }

    .president .heading h4 {
        font-size: 1.2em;
    }

    .president .heading h5 {
        font-size: 0.8em;
    }

    .vision h5 {
        font-size: 0.93em;
    }

    .vision p {
        font-size: 0.8em;
    }

    .vision a {
        font-size: 0.8em;
        margin-top: 0.625em;
    }

    .owl-theme .owl-dots .owl-dot span {
        width: 0.66em;
        height: 0.66em;
        border-radius: 50%;
        margin-right: 0.6em;
    }

    .emergency select {
        font-size: 0.8em;
        margin: 0 0 0 1.66em;
        padding: 0.33em;
        width: 11.66em;
    }

    .number .tollfree p {
        font-size: 1.2em;
        font-family: 'Roboto-Bold';
        color: #2d6090;
    }

        .number .tollfree p span {
            font-family: 'Roboto-Regular';
        }

    .searchInput input {
        font-size: 1em;
    }

    .searchInput a {
        font-size: 0.8em;
        padding-right: 4.4em;
        padding-right: 3.1em;
    }

    .onlyIE9 {
        font-size: 0.78em\9;
    }

    .archive span {
        font-size: 0.8em;
    }

    .canvas .rightCanvas p {
        /*font-size: 1.06em;*/
    }

    .canvas .vol p {
        font-size: 0.93em;
    }

    .footer span {
        font-size: 0.8em;
    }

    .thought p, .thought span {
        font-size: 1.06em;
    }

    .search {
        background-image: url('../images/mobile_people_search_bg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

        .search .bgColor {
            min-height: 11.16em;
        }

    .homeContent .thought {
        background-image: url('../images/mobile_thought_of_the_day_bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid #3fb3fe;
    }

    .headerStart {
        padding-left: 1em;
        padding-right: 1em;
    }

    .homeContent {
        padding: 0.52em 1.66em 2em;
    }

        .homeContent .announcements, .search, .homeContent .thought, .homeContent .emergency, .homeContent .president, .homeContent .canvas {
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
        }

        .homeContent .presidentOne {
            margin-top: 1.33em;
        }

        .search, .homeContent .thought, .homeContent .president, .homeContent .emergency {
            margin-bottom: 1.33em;
        }

        .homeContent .president {
            padding: 0.66em 1.33em;
        }

    .announcePause {
        right: 2em;
    }

    .announcements .verticalText, .search .verticalText, .thought .verticalText, .emergency .verticalText, .quickLinks .verticalText, .toDos .verticalText {
        width: 1.33em;
    }

    .homeContent .announceContent {
        padding: 0.5em 0.33em 4.7em 2.2em;
    }

    .announceContent h1 {
        margin-top: 0.66em;
    }

    .homeContent .announcements {
        padding: 0em;
    }

    .announcements .verticalText h4 {
        left: -3.1em;
    }

    #announce .announcementImg {
        width: 5.2em;
    }

    .homeContent .announceContent .readAnnounce {
        font-size: 0.8em;
        padding: 0.45em 0.65em;
        bottom: 2.91em;
    }

    .homeContent .announceContent .readCommunication {
        font-size: 0.8em;
        padding: 0.45em 0.65em;
        bottom: 2.91em;
    }

    .homeContent .announceContent .readArchive {
        font-size: 0.8em;
        padding: 0.45em 0.65em;
        bottom: 2.91em;
    }

    .homeContent .hasyaKaviLogo {
        padding: 0.12em 0.18em;
    }


    .presidentImg {
        margin-top: 0;
        margin-right: 1em;
        width: 4.33em;
        height: 4.33em;
    }

        .presidentImg img {
            width: 3.83em;
            height: 3.83em;
        }

    .vision h5, .presidentTwo p {
        padding-top: 0.66em;
    }

    .announcements .owl-theme .owl-dots {
        padding: 0.33em 0 0.33em 2em;
    }

    .owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: 0;
        line-height: 0;
    }

    .president .heading {
        padding: 0.26em 0.26em 0.26em 0em;
        min-width: 13.33em;
        min-width: auto \9;
    }

    .homeContent .announcements .owl-theme .owl-dots .owl-dot.active span {
        width: 0.66em;
        height: 0.66em;
        border-radius: 50%;
    }

    .homeContent .announcements .owl-theme .owl-dots .owl-dot span {
        width: 0.5em;
        height: 0.5em;
        border-radius: 50%;
    }

    .announcements .owl-theme .owl-nav, .announcePause {
        display: none;
    }

    .announcements .owl-theme .owl-dots {
        min-height: 1.3em;
    }

    .contact {
        left: 3em;
        width: 1.66em;
        height: 1.66em;
    }

    .homeContent .emergency {
        padding-left: 1.33em;
        min-height: 10em;
    }

    .emergency select:last-child {
        margin-top: 1em;
    }

    .emergency .dropdownMain {
        padding-left: 0.33em;
        padding-top: 1.5em;
        padding-bottom: 1.66em;
        padding-right: 0.66em;
        min-height: 10em;
    }

    .number .tollfree {
        padding-left: 3.3em;
    }

    .homeContent .number {
        margin-top: 1em;
    }

    .searchInput input {
        padding: 0.39em 2.66em 0.39em 0.66em;
        width: 13.33em;
    }

    .searchInput .searchIcon {
        padding: 1em;
        right: 3.6em;
        right: 2.3em\9;
    }

    .search .searchInput {
        margin-left: 4.73em;
    }

    .search {
        min-height: 10.16em;
    }

    .thought .bgColor {
        padding: 1.5em 1.66em 1.5em 3em;
    }

    .thought p {
        padding-bottom: 1.35em;
    }

    .thought span {
        bottom: 1.66em;
    }

    .canvasImg {
        width: 12.5em;
        margin: 2em 0em 1.16em 0em;
    }

    .canvas .archive {
        margin-top: 0;
        padding: 0.45em 0.5em 0.56em 0.5em;
        border-top-right-radius: 3%;
    }

    .canvas .rightCanvas {
        padding: 1em 0em 0em 0.83em;
        width: 4.83em;
        height: 7.5em;
        right: 3.33em;
    }

    .canvas .vol {
        bottom: 4em;
        padding: 0.5em;
    }

    .archive img {
        width: 0.7em;
    }

    .footer {
        min-height: 2.66em;
        padding: 0.66em 0;
        position: absolute;
        bottom: inherit;
    }

    #myAnnouncementsModal .modal-dialog {
        width: 100%;
        margin: 0;
    }

    #myAnnouncementsModal .modal-content {
        margin: 8.2em 1.3em;
    }

    #myAnnouncementsModal .announcements-read-more-banner {
        width: 100%;
    }

    #myAnnouncementsModal .modal-header h2 {
        font-size: 0.83em;
    }

    #myAnnouncementsModal .modal-left-content {
        width: 100%;
        padding: 0;
    }

        #myAnnouncementsModal .modal-left-content h3 {
            background-color: #cc0001;
            font-family: Roboto-Regular;
            font-size: 0.93em;
            font-weight: bold;
            color: #FFF;
            padding: 0.72em;
            margin-bottom: 0.6em;
            text-align: center;
        }

            #myAnnouncementsModal .modal-left-content h3 span.heading {
                display: block;
                font-family: Roboto-Regular;
                color: #FFF;
                font-size: 0.86em;
                padding-top: 1em;
            }

    #myAnnouncementsModal .left-content-img {
        margin: 0 auto;
        display: block;
        padding: 2.6em 0.2em;
    }

    #myAnnouncementsModal .modal-right-content {
        width: 100%;
        padding: 1em 1em 0;
    }

        #myAnnouncementsModal .modal-right-content p {
            font-size: 0.87em;
        }

        #myAnnouncementsModal .modal-right-content .download-links {
            border-top: 1px solid #ddd;
            padding-top: 1em;
            margin-top: 1em;
        }

            #myAnnouncementsModal .modal-right-content .download-links h6 {
                margin-bottom: 1em;
                font-size: 0.8em;
            }

            #myAnnouncementsModal .modal-right-content .download-links a {
                display: inline-block;
                margin-bottom: 1.04em;
                margin-right: 0.8em;
                font-size: 0.67em;
                text-decoration: underline;
                width: 13em;
                vertical-align: top;
            }

    /*Communication*/

    #myCommunicationModal .modal-dialog {
        width: 100%;
        margin: 0;
    }

    #myCommunicationModal .modal-content {
        margin: 8.2em 1.3em;
    }

    #myCommunicationModal .announcements-read-more-banner {
        width: 100%;
    }

    #myCommunicationModal .modal-header h2 {
        font-size: 0.83em;
    }

    #myCommunicationModal .modal-left-content {
        width: 100%;
        padding: 0;
    }

        #myCommunicationModal .modal-left-content h3 {
            background-color: #cc0001;
            font-family: Roboto-Regular;
            font-size: 0.93em;
            font-weight: bold;
            color: #FFF;
            padding: 0.72em;
            margin-bottom: 0.6em;
            text-align: center;
        }

            #myCommunicationModal .modal-left-content h3 span.heading {
                display: block;
                font-family: Roboto-Regular;
                color: #FFF;
                font-size: 0.86em;
                padding-top: 1em;
            }

    #myCommunicationModal .left-content-img {
        margin: 0 auto;
        display: block;
        padding: 2.6em 0.2em;
    }

    #myCommunicationModal .modal-right-content {
        width: 100%;
        padding: 1em 1em 0;
    }

        #myCommunicationModal .modal-right-content p {
            font-size: 0.87em;
        }

        #myCommunicationModal .modal-right-content .download-links {
            border-top: 1px solid #ddd;
            padding-top: 1em;
            margin-top: 1em;
        }

            #myCommunicationModal .modal-right-content .download-links h6 {
                margin-bottom: 1em;
                font-size: 0.8em;
            }

            #myCommunicationModal .modal-right-content .download-links a {
                display: inline-block;
                margin-bottom: 1.04em;
                margin-right: 0.8em;
                font-size: 0.67em;
                text-decoration: underline;
                width: 13em;
                vertical-align: top;
            }


    #myPresidentModal .modal-dialog {
        width: auto;
    }

    #myPresidentModal .modal-content {
        margin: 2.2em auto;
        width: 22em;
    }

    #myPresidentModal .modal-header {
        width: 100%;
        background-image: url('../images/corporate_news_header_bg_1.jpg');
    }

    #myPresidentModal .modal-right-content {
        text-align: center;
        width: 99%;
    }

        #myPresidentModal .modal-right-content h3 {
            margin: 0.8em 0em;
            text-align: center;
            font-size: 0.87em;
            padding: 0.8em 5em;
            line-height: 1.05;
        }

    #myPresidentModal .left-content-img {
        width: 8.33em;
        height: 6em;
        margin-bottom: 1em;
        margin-left: 50%;
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    #myPresidentModal .modal-body {
        margin: 0.2em;
    }

    #myPresidentModal .modal-right-content p {
        font-size: 0.86em;
        line-height: 1.25;
        text-align: left;
    }

    #myPresidentModal .close-readmore-modal {
        top: -1em;
    }
}

@media only screen and (max-width: 767px) and (orientation : landscape) {
    .homeContent {
        overflow: hidden;
    }

        .homeContent .toDos {
            position: absolute;
            top: 4em;
            right: -54.8%;
        }

            .homeContent .toDos.active, .homeContent .quickLinks.active {
                right: -7.8%;
            }

        .homeContent .quickLinks {
            position: absolute;
            top: 14.5em;
            right: -21.6em; /*Add by vishal old- -22.6*/
        }

        .homeContent .announceContent {
            height: inherit;
        }
}

/* Mozilla hacks */
@-moz-document url-prefix() {
    .section2 {
        width: 30.98em;
        margin-left: 0.52em;
        margin-right: 0.52em;
    }

    .announcePause {
        right: 2.1em;
    }

    .homeContent .announcements {
        margin-left: 0;
        margin-right: 0;
    }

    .announcements .verticalText, .search .verticalText, .thought .verticalText, .quickLinks .verticalText, .toDos .verticalText, .emergency .verticalText {
        left: 0;
    }

    .search {
        margin-left: 0;
        margin-right: 0.26em;
    }

    .homeContent .thought {
        margin-right: 0;
    }

    .section3 {
        width: calc(100% - 32.05em);
    }

    .requestBg {
        border-bottom: 7.3em solid #d14747;
        /*border-left: 13.5em solid transparent;*/
    }

    @media only screen and (max-width: 767px) {
        .section2 {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }

        .search {
            margin-right: 0;
        }

        .homeContent .toDos {
            right: -40.8%;
        }

        .requestBg {
            /*border-left: 14.4em solid transparent;*/
            width: 10em;
            height: 9.73em;
            border: none;
            border-bottom: 5em solid #d14747;
        }
    }

    @media only screen and (max-width: 767px) and (orientation : landscape) {
        .section3 .col-sm-12 {
            position: static;
        }

        .homeContent .toDos {
            right: -33.5em;
        }

        .homeContent .quickLinks {
            top: 16em;
            right: -39.4em;
        }

            .homeContent .toDos.active, .homeContent .quickLinks.active {
                right: -23.35em;
            }
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .onlyIE9 {
        display: none;
    }
}

.homeContent .emergency {
    margin-top: 11px;
}

#myPresidentModal #modal-scroll {
    height: 15em;
    overflow: auto;
    padding: 0px;
}

.tollfree {
    min-height: 51px;
}

/*search menu*/

#myUL li a {
    margin-top: -1px;
    padding: 6px;
    text-decoration: none;
    font-size: 13px;
    color: #fff;
    display: block;
}

    #myUL li a:hover:not(.header) {
        background-color: #878787;
    }

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* The actual popup */
    .popup .popuptext {
        width: 230px;
        background-color: #4e4e4e;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        top: 125%;
        left: 50%;
        margin-left: -246px;
        margin-top: 37px;
        max-height: 616px;
        /*overflow-y: auto;*/
    }
        /* Popup arrow */
        .popup .popuptext::after {
            content: " ";
            position: absolute;
            bottom: 100%; /* At the top of the tooltip */
            left: 60%;
            margin-left: -5px;
            border-width: 13px;
            border-style: solid;
            border-color: transparent transparent #4e4e4e transparent;
        }

/* Clearable text inputs */
.clearable__clear {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px 25px;
    font-style: normal;
    font-size: 1.5em;
    user-select: none;
    cursor: pointer;
}

.search_menu input::-ms-clear { /* Remove IE default X */
    display: none;
}

/*/////////--Video--//////////*/
.bannerVideo {
    position: absolute;
    z-index: 999;
    top: 50%;
    -moz-transform: translate(-50%);
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    left: 50%;
    display: none;
}

    .bannerVideo.show {
        display: block;
    }

#videoModal .modal-dialog {
    width: 50em;
    margin-top: 2em;
}

#videoModal .video-js {
    width: 100%;
    height: 54em;
}

.video-js .vjs-tech {
    height: 54em;
}

#videoModal .modal-body button.closeVideo {
    position: absolute;
    top: -1em;
    right: -0.2em;
    background: transparent;
    border: navajowhite;
    color: #FFF;
    font-size: 2em;
}

.contribution {
    padding: 0.66em 0.83em;
    background-color: #cc0001;
    border: 1px solid #fc4f51;
    font-size: 0.625em;
    position: absolute;
    bottom: 4.16em;
    right: 1.5em;
    z-index: 999;
    color: #fff;
    line-height: 1;
    text-decoration: none;
}
