/*GridViewCSS Soft Grey Style*/
.IGridViewStyle
{
	font-size: 12px;
	color: #333333;
	font-family: Helvetica, Segoe UI, Verdana, Arial;
	table-layout: auto;
	border-collapse: collapse; /*border:#CCDCE0 1px solid;*/
	border: #CCDCE0 1px solid;
}
/*Header and Pager styles*/
.IHeaderStyle, .IPagerStyle /*Common Styles*/
{
	
	background-position: top;
	background-repeat: repeat-x; /*background-repeat: repeat-y;*/
	background-color: #eff0f2;
	text-align: left;
}

.IFooterStyle /*Common Styles*/
{
	
	background-position: top;
	background-repeat: repeat-x;
	background-color: #eff0f2;
	text-align: left;
	padding: 5px;
	color: #4863A0;
	font-size: 12px;
	line-height: 25px;
	font-weight: bold;
	
}
.IHeaderStyle th
{
	padding: 5px;
	color: #5D5E5E;
	font-size: 12px;
	font-weight: bold;
	border-right: solid 1px #8c8c8c;
	border-left: solid 1px #8c8c8c;
	border-bottom: solid 1px #8c8c8c;
	border-top: solid 1px #8c8c8c;
	font-family:Arial,Helvetica,Sans-Serif;
	font-size: 11px;
}
.IHeaderStyle a
{
	text-decoration: none;
	color: black;
	overflow: auto;
	text-align: left;
	font-weight: bold;
}
.IPagerStyle table
{
	text-align: center;
	margin: auto;
}
.IPagerStyle table td
{
	border: 0px;
	padding: 5px;
}
.IPagerStyle td
{
	border-top: #91a7b4 1px solid;
}
.IPagerStyle a
{
	color: #16387c;
	text-decoration: none;
	padding: 2px 8px 2px 10px;
	border-top: solid 1px #7AA3FA;
	border-right: solid 1px #7AA3FA;
	border-bottom: solid 1px #7AA3FA;
	border-left: solid 1px #7AA3FA;
}
.IPagerStyle span
{
	font-weight: bold;
	color: #fff;
	background-color: #A4C0FC;
	text-decoration: none;
	padding: 2px 8px 2px 10px;
	border-top: solid 1px #7AA3FA;
	border-right: solid 1px #7AA3FA;
	border-bottom: solid 1px #7AA3FA;
	border-left: solid 1px #7AA3FA;
}
/*RowStyles*/
.IRowStyle td, .IAltRowStyle td, .ISelectedRowStyle td, .IEditRowStyle td /*Common Styles*/
{
	padding: 5px;
	border-right: solid 1px #8c8c8c;
	border-left: solid 1px #8c8c8c;
	border-bottom: solid 1px #8c8c8c;
	border-top: solid 1px #8c8c8c;
	font-family:Arial,Helvetica,Sans-Serif;
	font-size: 11px;
	color:Black;
}
.IRowStyle td
{
	background-color: white; /*color: #646060;*/
	font-family:Arial,Helvetica,Sans-Serif;
}
.IAltRowStyle td
{
	background-color: white;
	background-position: 0 -80px;
	background-repeat: repeat-x;
	font-family:Arial,Helvetica,Sans-Serif;
}
.ISelectedRowStyle td
{
	background-color: white;
	background-position: center;
	background-repeat: repeat-x;
	font-family:Arial,Helvetica,Sans-Serif;
}

