 .tableView{border-collapse: collapse;margin-bottom: 4px;padding:0px;margin:0px;margin-top:8px!Important;}
 .tableView tr th, .tableView tr td{border: 1px solid Silver;line-height: 24px;font-size: 11px;}
 .tableView tr span {margin-left:5px;}
 .tableView select {margin-top:3px;border:1px solid gray;}
 .PagerStyle td {border:none!Important;}
 .legendcs {border:1px solid #D4D4D4;background-color:#E7E6E8;line-height:25px;padding-left:10px;margin-bottom:10px;}
 .tableView .forminput {border:1px solid gray;margin-left:5px;height:21px;width:150px;line-height:20px;padding-left:5px;font-family:Arial;}
 .tableView .formlabel {color:#6299c5;margin-left:10px;}
 .tableView select {width:130px;margin-left:5px;}
 .tableView .tcat {font-weight:bold;}
 .tableView .collvlstyle {text-align:right;color:#454545;}
 .tableGridView .collvlstyle {text-align:right;color:#454545;font-family:Verdana, Arial, Helvetica!Importants;}
 .emptyrow {font-weight:bold;padding-left:10px;font-size:12px;margin-left:5px;}
 .mandatory {color:Red;}
 .HeaderStyle12 {padding:0px;}
 .clear {clear:both;}
 .backrowdiv {font-weight: bold;border: 1px solid #C0C0C0;background-color: #F0F0F0;width: 99%;padding-left: 5px;text-align:left;
             margin-left: 7px;margin-top: 5px;line-height: 23px;font-size: 11px;font-family: Trebuchet MS;margin-bottom:5px;}
 .backrowdiv a {background-image: url('../images/icon_back.gif');background-repeat: no-repeat;padding-left: 19px;}             
 .collvlstyle {text-align:right;}   
 .assettable td {padding:2px;}   
 .mainpgheading {padding: 2px; padding-left: 13px; font-family: Cambria; font-size: 14px;font-weight: bold; letter-spacing: 1px; color: #4D4D4D;}
 .headmain {margin-left:7px;}
 .assettable {text-align:center;font-weight:bold;margin:2px;border-collapse:collapse;}
 .assettable .header_1 {background-color:#CAE8EA;color: #6d929b;}
 .assettable .header_1 td {line-height:21px;}
 .assettable .header_2 {background-color:#CAE8EA;color: #6d929b;}
 .assettable .header_3 {line-height:15px!IMPORTANT;}
 .assettable .header_4 {text-align:left;padding-left:10PX;}
 .disclaim {background-color:#FFFDF1;}
 .disclaim li{background-image: url( '../Images/bulletlevel2.gif' );background-repeat: no-repeat;list-style: none;background-position: 5px 6px;
             padding-left: 25px;line-height: 18px;margin-top: 3px;margin-bottom: 3px;}
 .errorbox_1 {background-color:#ED8E93;border:1px solid #9C0B12;color:#9C0B12;padding:5px;width:785px;border-bottom:2px solid #9C0B12;margin-top:5px;margin-bottom:2px;} 
 .errorbox_1 ul {margin-left:5px;list-style:none;} 
 .errorbox_1 li {background-repeat: no-repeat;padding-left: 20px;background-image: url('../Images/cross_01.png');}
 .lblcss {color:#6299c5;}
 .txtmultiline {border-color: gray;border-width: 1px;border-style: solid;height: 60px;width: 620px;margin: 5px;}
 .tablepadding td {padding:2px 0px;}
 .term * {float: left;margin-left: 8px !important;line-height: 20px;font-size: 11px;}
 .itemlist td {font-weight:100;line-height:13px!Important;padding:4px 2px 4px 2px;background-color:White;}
 .collvlstyle {text-align:right;color:#454545;}
 .buttontrbg {background-color:#D3D3D3;}
 .erow td {line-height:13px!Important;}
 .nodata {width: 99.9%;background-color: #FFF8E9;font-weight: bold;color: red;border: 1px solid #CDCDCD;margin: 2px;padding-left: 3px;line-height:21px;}
 .paging_1 {font-size: 14px;background-color: #6D929B;text-align: center;color: white;font-weight: bold;font-family:calibri;width: 29px;}
 .paging_2 {font-size: 14px;background-color: #6D929B;text-align: center;color: white;font-weight: bold;font-family:calibri;padding:4px 14px;}
 .paging_1:hover {font-size: 14px;background-color: #8AAFB8;text-align: center;color: white;font-weight: bold;font-family:calibri;width: 29px;}
 .paging_2:hover {font-size: 14px;background-color: #8AAFB8;text-align: center;color: white;font-weight: bold;font-family:calibri;padding:4px 14px;}     
 .paging_3 {font-size: 14px;background-color: #838D97;text-align: center;color: white;font-weight: bold;font-family:calibri;width: 95px;}
 .paging_1 td {border:0px!Important;}
 .Pagingtbl td {border:0px!Important;}
 .trbottom {background-color:#E0E0E0;}
 .assetbtn {background-color: #2160A6;color: white;line-height: 22px;font-weight: bold;margin-top: 3px;border: 1px solid black;margin-bottom: 3px;height: 24px;cursor: pointer;}
 .assetadminbtn {background-color: #2160A6;color: white;font-weight: bold;margin-top: 3px;border: 1px solid black;margin-bottom: 3px;height: 24px;cursor: pointer;}
 .assetadminbtn_1 {background-color: #4C9AD8;color: white;font-weight: bold;margin-top: 3px;border: 1px solid black;margin-bottom: 3px;height: 24px;cursor: pointer;}
 .prochist td {font-weight:100;line-height:13px!Important;padding:4px 2px 4px 2px;background-color:White;}
 .Viewpg_heading {background-color:#6A99E6;text-align:center;line-height:26px;margin:3px 0px;font-weight:bold;color:White;font-size:15px;border:1px solid #2C6BD1;width:97.8%;}               
 .spnheader {float:left;margin-left:5px;}
 .exceldiv {float:right;margin-right:5px;margin-top:5px;}
 #Master_InnerContent_rdoassetreqtype td{background-color:aliceBlue;padding-right: 22px;margin-left: 13px !important;}
 .Quantity{border: 1px solid gray;line-height: 20px;width: 83px;background-color: #F0F8FF;}
 .Itemname{color: #30658e;font-weight: bold;font-size: 12px;}
 .Budget{font-weight: bold;font-size: 15px;font-family:Calibri;}
 .REQLINK {float:left;margin-left:10PX;}
 .maincontainer{background-color:White;padding:10px;width:800px;}
 .docpreview {padding-bottom: 3px;background-repeat: no-repeat;background-image: url(../images/attachment.gif);line-height: 19px;padding-left: 20px;background-position: 3px -1px;}
 .Businessjust{padding: 5px!Important;color: #6299c5;line-height: 14px!Important;}
 .headerborder{line-height: 23px;border: 1px solid #C0C0C0;padding-left: 5px;margin-bottom:-9px;}
 .assetadminbtn {background-color: #2160A6;color: white;line-height: 20px;font-weight: bold;border: 1px solid black;margin-bottom: 3px;cursor: pointer;font-size: 11px;}
 .Historylink{font-size: 12px;padding-left: 17px;float: right;margin-right: 5px;background-image: url(../Images/mimeico_script.gif);background-repeat: no-repeat;background-position-x: 0px;background-position-y: 4px;font-weight: bolder;}
 a.tooltip{outline: none;font-weight: normal;color: #FF5500;font-family: arial,helvetica,clean,sans-serif;font-size: 1em;padding-left: 2px;cursor: pointer;text-align:left;}
 a.tooltip strong{line-height: 30px;}
 a.tooltip:hover{text-decoration: none;}
 a.tooltip span{z-index: 10;display: none;padding: 5px 5px;margin-top: -30px;margin-left: 28px;line-height: 16px;font-weight: bold;font-size: 1.2em;}
 a.tooltip:hover span{display: inline;position: absolute;color: #111;border: 1px solid #9DBEF2;background: #E8F1F5;}
 .callout{z-index: 20;position: absolute;top: 30px;border: 0;left: -12px;}
 .TBLMAIL P {margin-bottom: 13px;line-height: 10px;font-family: Calibri;font-size: 14px;}
 .mainmail {background-color:#F0FBFF;width:800px;padding:5PX;}
 .mailheading {background-color:#CFCFCF;line-height:20px;color:Gray;font-weight:bold;width:800px;}
 .mail_c{width: 589px;line-height: 19px;background-color: #EBEBEB;border: 1px solid gray;padding: 0px 5px;font-size: 11px;font-weight: bold;}
 .mailright {float:left;width:600px;}
 .mailright td {border:0px solid gray!Important;}
 .mailleft {height: 63px;float: left;width: 140px;}
 .mailleft img{margin-top: 18px;margin-left: 50px;}
 .mail_z {font-weight:bold;}
 .nobold {font-weight:100;}
 .scrapbutton {padding: 2px 5px;background-color: #2160A6;color: white;font-weight: bold;border: 1px solid black;}
 .deactivebutton {border: 1px solid black;background-color: indianRed;font-weight: bold;color: white;padding: 2px 5px;}
 .viewlink{text-decoration: underline!Important;font-weight: bold;}
 .mycheckbox_1 label {width:170px!Important;}
 .btn_2 {float: right; margin-right: 10px;width: 110px; height: 23px; margin-top: 5px;}