*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a, a:focus, a:hover, a:active{
	outline: 0;
	text-decoration: none;
	color: #FFF;
}
input::-ms-clear {
    display: none;
}
.associateEntryContent{
	padding-left: 1.3em;
    padding-right: 1.3em;
}
.breadcrumb{
	background-color: transparent;
	margin-bottom: 0.1em;
	padding-top: 0.06em;
}
.breadcrumb-item{
	font-family: 'Roboto-Regular';
	font-size: 0.57em;
}
.breadcrumb > li + li:before{
	padding: 0 0.03em;
}
.breadcrumb > .active {
    color: #666666;
}
.breadcrumb-item a{
	color: #0099FF;
}

.searchContent {
	padding: 0 1.3em;
}

h1.tourRequestHeading,.SearchTablewrap h1{
	font-family: 'Roboto-Regular';
	background-color: #8A8A8A;
	color: #FFF;
	font-weight: bold;
	text-align: left;
	font-size: 0.94em;
	padding: 0.52em 1.3em;
	margin-bottom: 1.11em;
}

.guestHouse {
	background-color: #18C0FF;
    padding: 0.66em;
    color: #FFF;
    font-size: 0.78em;
    font-family: Roboto-Regular;
    position: relative;
    text-decoration: none;
    display: block;
    outline: 0;
    cursor: default;
    border: 1px solid #18c0ff;
}

.searchData{
	padding: 0.78em;
	background-color: #DBF1FF;	
} 

.form-group {
	display:inline-block;
	width:7.3em;
	margin-right: 0.76em;
    margin-bottom: 0.3125em;
}

.form-group label {
    color: #666666;
    font-size: 0.73em;
    font-family: Roboto-Regular;
    margin-bottom: 0.26em;
}

.input-form input {
    border: 1px solid #999999;
    padding: 0.46em 0.52em;
    font-family: Roboto-Regular;
    color: #333333;
    font-size: 0.68em;
    line-height: 1.5;
    width: 100%;
	height:2.3em;
}

.input-form .custom-select-head {
    border: 1px solid #999999;
    padding: 0.46em 2em 0.46em 0.52em;
    font-family: Roboto-Regular;
    background-color: #FFF;
    font-size: 0.68em;
    text-decoration: none;
    display: inline-block;
    background-image: url(../images/arrow_main_menu.png);
    background-repeat: no-repeat;
    background-size: 0.9em;
    background-position: right 0.8em center;
    width: 100%;
    cursor: pointer;
    color: transparent;
    color: #333333 \9;
    text-shadow: 0 0 0 #333333;
}

.input-form .custom-select-head.open {
    background-image: url(../images/arrow_main_menu_open.png);
}

.custom-select-options li {
    border-bottom: 1px solid #999999;
    padding: 0.46em 0.52em;
    font-family: Roboto-Regular;
    background-color: #FFF;
    color: #333333;
    font-size: 0.68em;
    cursor: pointer;
}

.custom-select-options {
    display: none;
    border: 1px solid #999999;
    position: absolute;
    width: inherit;
    z-index: 1;
}

.input-form.custom-select {
    width: inherit;
    position: relative;
}

.input-form-from input,.input-form-to input {
    background-image: url(../images/icon_calendar.png);
    background-repeat: no-repeat;
    background-size: 1.4em;
    background-position: right 0.4em center;
}

.bookingSearch {
	background-color: #18acea;
	font-family: 'Roboto-Regular';
    font-size: 0.72em;
    color: #ffffff;
    padding: 0.72em 1.44em;
    display: inline-block;
	vertical-align: middle;
}

.SearchTablewrap {
    margin-top: 1.33em;
} 

.SearchTablewrap h1 {
	font-size: 0.78em;
	font-weight:bold;
	padding: 0.52em;
	margin-bottom: 0;
}

.SearchTablewrap h1 span{
	font-size: 0.93em;
}

.searchTable {
	width: 100%;
}

.searchTable th,.searchTable td {
	font-size:0.72em;
	color:#666666;
}

.searchTable thead th{
	padding: 0.86em 0;
	text-align:center;
}

.searchTable thead th:first-child {
	text-align:left;
}

.searchTable thead th:first-child,.searchTable tbody td:first-child{
	padding-left: 1.08em;
}

.searchTable thead th:last-child,.searchTable tbody td:last-child{
	padding-right: 1.08em;
}

.searchTable tbody tr {
	border:1px solid #8cdefc;	
}

.searchTable tbody td{
	padding: 1.44em 0;
	background-color:#ffffff;
	text-align:center;
}

.searchTable tbody td:first-child{
	background-color:#8cdefc;
	text-align:left;
	border-bottom: 1px solid #ffffff;
}

.searchTable tbody:last-child tr:last-child td:first-child {
	border-bottom: none;
}

.searchTable th{
	font-weight:bold;
}

.searchTable td:first-child a {
	color:#3366cc;
	text-decoration:underline;
}

.searchTable .edit {
	background-color: #20b355;
    padding: 0.26em 0.73em;
	border-radius: 5px;
}

.searchTable thead {
	background-color:#c5c5c5;
}

@media only screen and (max-width: 767px) {
	.searchContent {
		padding: 0 1em;
	}
	
	.guestHouse {
		cursor:pointer;
		padding: 0.64em 0 0.64em 0.85em;
	}
	
	.searchData {
		padding:0.66em 0.66em 0.4em;
		margin-bottom: 1.33em;
	}
	
	.form-group { 
		width:10.2em;
		margin-right:0;
	}

	.form-group:nth-child(odd){ 
		margin-right:1em;
	}
	
	.bookingSearch {
		display:block;
		text-align: center;
		text-decoration: none;
		margin-top: 0.92em;
	}
	
	.SearchTablewrap h1 {
		font-size: 1em;
		padding: 0.83em 0 0.83em 0.66em; 
	}
	
	.searchTable table,.searchTable thead,.searchTable tbody,.searchTable th,.searchTable td,.searchTable tr {
		display: block;
	}

	.searchTable thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

    .searchTable tr {
		margin: 0 0 0.33em 0;
    }
      
    .searchTable tr:nth-child(odd) {
      background: #ccc;
    }
    
	.searchTable td {
		border: none;
		border-bottom: 1px solid #c5c5c5;
		position: relative;
		padding-left: 50%;
	}

	.searchTable td:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 40%;
		white-space: nowrap;
	}

	.searchTable td:nth-of-type(2):before { content: "Requester Name";text-align:left;background-color:#c5c5c5;font-size: 1.01em;height: 100%;text-align:center;padding-top:0.785em; }
	.searchTable td:nth-of-type(3):before { content: "Tour Date"; text-align:left;background-color:#c5c5c5;font-size: 1.01em;height: 100%;text-align:center;padding-top:0.785em;}
	.searchTable td:nth-of-type(4):before { content: "Request Type";text-align:left;background-color:#c5c5c5;font-size: 1.01em;height: 100%;text-align:center;padding-top:0.785em; }
	.searchTable td:nth-of-type(5):before { content: "Department";text-align:left;background-color:#c5c5c5;font-size: 1.01em;height: 100%;text-align:center;padding-top:0.785em; }
	.searchTable td:nth-of-type(6):before { content: "App. Date";text-align:left;background-color:#c5c5c5;font-size: 1.01em;height: 100%;text-align:center;padding-top:0.785em; }
	.searchTable td:nth-of-type(7):before { content: "Status"; text-align:left;background-color:#c5c5c5;font-size: 1.01em;height: 100%;text-align:center;padding-top:0.785em;}
	.searchTable td:nth-of-type(8):before { content: "Action"; text-align:left;background-color:#c5c5c5;font-size: 1.01em;height: 100%;text-align:center;padding-top:0.785em;}
	
	.searchTable tbody td {
		padding: 0.83em 0;
		padding-left:42%;
		text-align:left;
		font-size: 0.93em;
	}
	
	.searchTable tbody tr {
		border:1px solid #8a8a8a;
	}
	
	.searchTable tbody td:first-child {
		display:none;
	}
	
	.searchTable tbody td:last-child {
		padding-left:43.5%;
	}
	
	.searchTable tbody td:last-child {
		padding-right:0;
	}
	
	.searchTable .edit {
		padding: 0.235em 5.32em;
	}
}

 