.form-group {
	margin-right: 2.145em;
}

@media only screen and (max-width: 767px){
	.form-group {
		margin-right: 0;
	}
	
	.searchTable td:nth-of-type(2):before { content: "Requester Name";text-align:left;background-color:#c5c5c5;font-size: 1.01em;height: 100%;text-align:center;padding-top:0.785em; }
	.searchTable td:nth-of-type(3):before { content: "Tour Date"; text-align:left;background-color:#c5c5c5;font-size: 1.01em;height: 100%;text-align:center;padding-top:0.785em;}
	.searchTable td:nth-of-type(4):before { content: "Department";text-align:left;background-color:#c5c5c5;font-size: 1.01em;height: 100%;text-align:center;padding-top:0.785em; }
	.searchTable td:nth-of-type(5):before { content: "App. Date";text-align:left;background-color:#c5c5c5;font-size: 1.01em;height: 100%;text-align:center;padding-top:0.785em; }
	.searchTable td:nth-of-type(6):before { content: "Status"; text-align:left;background-color:#c5c5c5;font-size: 1.01em;height: 100%;text-align:center;padding-top:0.785em;}
	.searchTable td:nth-of-type(7):before { content: "Action"; text-align:left;background-color:#c5c5c5;font-size: 1.01em;height: 100%;text-align:center;padding-top:0.785em;}
}