.tableView {
    border-collapse: collapse;
    margin-bottom: 4px;
    padding: 0px;
    margin: 0px;
    margin-top: 8px !Important;
}

    .tableView tr th, .tableView tr td {
        border: 1px solid Silver;
        line-height: 24px;
        font-size: 11px;
    }

    .tableView tr span {
        margin-left: 5px;
    }

    .tableView select {
        margin-top: 3px;
        border: 1px solid gray;
    }

.PagerStyle td {
    border: none !Important;
}

.legendcs {
    border: 1px solid #D4D4D4;
    background-color: #E7E6E8;
    line-height: 25px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.tableView .forminput {
    border: 1px solid gray;
    margin-left: 5px;
    height: 21px;
    width: 150px;
    line-height: 20px;
    padding-left: 5px;
    font-family: Arial;
}

.tableView .formlabel {
    color: #6299c5;
    margin-left: 10px;
}

.tableView select {
    width: 130px;
    margin-left: 5px;
}

.tableView .tcat {
    font-weight: bold;
}

.tableView .collvlstyle {
    text-align: right;
    color: #454545;
}

.tableGridView .collvlstyle {
    text-align: right;
    color: #454545;
    font-family: Verdana, Arial, Helvetica !Important;
}

.emptyrow {
    font-weight: bold;
    padding-left: 10px;
    font-size: 12px;
    margin-left: 5px;
}

.mandatory {
    color: Red;
}

.HeaderStyle12 {
    padding: 0px;
}

.clear {
    clear: both;
}

.header_1 {
    padding: 2px;
    padding-left: 5px;
    height: 25px;
    font-family: Cambria;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #4D4D4D;
}

.header_2 {
    margin-left: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.backrowdiv {
    font-weight: bold;
    border: 1px solid #C0C0C0;
    background-color: #F0F0F0;
    width: 99%;
    padding-left: 5px;
    text-align: left;
    margin-left: 7px;
    margin-top: 5px;
    line-height: 23px;
    font-size: 11px;
    font-family: Trebuchet MS;
    margin-bottom: 5px;
}

    .backrowdiv a {
        background-image: url('../images/icon_back.gif');
        background-repeat: no-repeat;
        padding-left: 19px;
    }

.collvlstyle {
    text-align: right;
}

.vendortable td {
    padding: 2px;
}

.mainpgheading {
    padding: 2px;
    padding-left: 13px;
    font-family: Cambria;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #4D4D4D;
}

.headmain {
    margin-left: 7px;
}

.tableGridView {
    border-collapse: collapse;
}

    .tableGridView tr th, .tableGridView tr td {
        border: 1px solid Silver;
        line-height: 20px;
        font-family: Verdana, Arial, Helvetica;
        font-size: 11px;
    }

    .tableGridView tr th {
        background: url(../images/bg_header.jpg) #cae8ea no-repeat;
    }

    .tableGridView .forminput {
        border: 1px solid #C0C0C0;
        height: 21px;
        width: 150px;
        line-height: 21px;
        padding-left: 5px;
        margin-left: 3px;
    }

    .tableGridView .formlabel {
        color: #6299c5;
        margin-left: 10px;
    }

    .tableGridView span label {
        color: black;
    }

    .tableGridView td {
        padding: 2px;
    }

    .tableGridView .forminputhreval {
        width: 100px;
        border: none !important;
        padding-left: 5px;
    }

    .tableGridView .forminputhrevallarg {
        width: 203px;
        border: none !important;
        padding-left: 5px;
    }

    .tableGridView .selectstyle {
        border: 1px solid gray;
        margin-left: 3px;
        height: 23px;
    }

.btn_2 {
    float: right;
    margin-right: 10px;
    width: 110px;
    height: 23px;
    margin-top: 5px;
}

.headerpadding {
    padding: 3px;
    font-size: 11px;
}

.trbottom {
    background-color: #E0E0E0;
}

.supevaladminbtn {
    background-color: #2160A6;
    color: white;
    font-weight: bold;
    margin-top: 3px;
    border: 1px solid black;
    margin-bottom: 3px;
    height: 24px;
    cursor: pointer;
}

.SHPAGING {
    text-align: center !Important;
    border: 1px solid #C0C0C0;
    width: 98%;
    text-align: center;
}

.paging_1 {
    font-size: 14px;
    background-color: #6D929B;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: calibri;
    width: 29px;
}

.paging_2 {
    font-size: 14px;
    background-color: #6D929B;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: calibri;
    padding: 4px 14px;
}

.paging_1:hover {
    font-size: 14px;
    background-color: #8AAFB8;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: calibri;
    width: 29px;
}

.paging_2:hover {
    font-size: 14px;
    background-color: #8AAFB8;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: calibri;
    padding: 4px 14px;
}

.paging_3 {
    font-size: 14px;
    background-color: #838D97;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: calibri;
    width: 95px;
}

.paging_1 td {
    border: 0px !Important;
}

.Pagingtbl td {
    border: 0px !Important;
}

.headerborder {
    border: 1px solid #C0C0C0;
    border-bottom: 0px !Important;
}

.txt_1 {
    line-height: 13PX !Important;
}

.suptable {
    text-align: center;
    font-weight: bold;
    margin: 2px;
    border-collapse: collapse;
}

    .suptable .header_1 {
        background-color: #CAE8EA;
        color: #6d929b;
    }

    .suptable .header_2 {
        background-color: #CAE8EA;
        color: #6d929b;
        line-height: 13px;
    }

.nodata {
    width: 99.9%;
    background-color: #FFF8E9;
    font-weight: bold;
    color: red;
    border: 1px solid #CDCDCD;
    margin: 2px;
    padding-left: 3px;
    line-height: 21px;
}

.nodata_1 {
    width: 99.9%;
    background-color: #FCE1E2;
    font-weight: bold;
    color: red;
    border: 1px solid #CDCDCD;
    margin: 2px;
    padding-left: 3px;
    line-height: 21px;
}

.legend {
    background-color: #FFF8E9;
    /*width: 100%;*/
    border: 1px solid #C0C0C0;
    padding: 7PX 4PX 4PX 4PX;
    clear: both;
    margin-top: 10px;
    height:35px;
    margin-right:2px;
    margin-left:4px;
}

    .legend img {
        width: 20px;
        float: left;
        /*margin-left: 113px;*/
    }

    .legend b {
        float: left;
        font-size: 12px;
        line-height: 21px;
        margin-left: 5px;
        padding-right:20px;
    }

.Notstartsup {
    color: Black;
    cursor: pointer;
}

    .Notstartsup .mainsup {
        width: 387px;
        border: 1px solid #474747;
        height: 100px;
        float: left;
        margin-left: 3px;
        background-color: #E8E8E8;
        margin-bottom: 3px;
    }

        .Notstartsup .mainsup img {
            margin: 4px;
        }

    .Notstartsup .mainsup_1 {
        float: left;
    }

    .Notstartsup .mainsup_2 {
        width: 143px;
        float: left;
        margin-top: 8px;
        font-size: 12px;
    }

    .Notstartsup .mainsup_3 {
        float: left;
        margin-top: 20px;
    }

    .Notstartsup .supno {
        background-color: #6D6D6E;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        color: White;
        border-bottom: 1px solid #474747;
        padding:4px;
    }

    .Notstartsup .supname {
        font-weight: bold;
        font-size: 12px;
        clear: both;
        line-height: 10px;
        margin-bottom:2px;
    }

    .Notstartsup .supdesignation {
        font-size: 10px;
        clear: both;
        /*margin-top: -3px;*/
    }

    .Notstartsup .suporg {
        margin-top: 3px;
        font-size: 10px;
        color: black;
        line-height: 10px;
        /*font-weight: bold;*/
    }

    .Notstartsup .evalbtn {
        margin-left: 1px;
        font-size: 11px;
        font-weight: bold;
        color: white;
        background-color: #6D6D6E;
        width: 160px;
        padding-left: 32px;
        margin-top: 2px;
        line-height: 26px;
        background-image: url(../Images/PMS/notstarted.png);
        background-repeat: no-repeat;
        background-position: 7px 5px;
    }

.compledsup {
    color: Black;
    cursor: pointer;
}

    .compledsup .mainsup {
        width: 387px;
        border: 1px solid #474747;
        height: 100px;
        float: left;
        margin-left: 3px;
        background-color: #DCFAD2;
        margin-bottom: 3px;
    }

        .compledsup .mainsup img {
            margin: 4px;
        }

    .compledsup .mainsup_1 {
        float: left;
    }

    .compledsup .mainsup_2 {
        width: 143px;
        float: left;
        margin-top: 8px;
    }

    .compledsup .mainsup_3 {
        float: left;
        margin-top: 20px;
    }

    .compledsup .supno {
        background-color: #42B518;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        color: White;
        border-bottom: 1px solid #474747;
        padding:4px;
    }

    .compledsup .supname {
        font-weight: bold;
        font-size: 12px;
        clear: both;
        line-height: 10px;
        margin-bottom:2px;
    }

    .compledsup .supdesignation {
        font-size: 10px;
        clear: both;
        /*margin-top: -3px;*/
    }

    .compledsup .suporg {
        margin-top: 3px;
        font-size: 10px;
        color: black;
        line-height: 10px;
        /*font-weight: bold;*/
    }

    .compledsup .evalbtn {
        margin-left: 1px;
        font-size: 11px;
        font-weight: bold;
        color: white;
        background-color: #42B518;
        width: 160px;
        padding-left: 32px;
        margin-top: 2px;
        line-height: 26px;
        background-image: url(../Images/PMS/completed.png);
        background-repeat: no-repeat;
        background-position: 7px 5px;
    }

.Pendingsup {
    color: Black;
    cursor: pointer;
}

    .Pendingsup .mainsup {
        width: 387px;
        border: 1px solid #474747;
        height: 100px;
        float: left;
        margin-left: 3px;
        background-color: #FCDDC2;
        margin-bottom: 3px;
    }

        .Pendingsup .mainsup img {
            margin: 4px;
        }

    .Pendingsup .mainsup_1 {
        float: left;
    }

    .Pendingsup .mainsup_2 {
        width: 143px;
        float: left;
        margin-top: 8px;
        padding:2px;
    }

    .Pendingsup .mainsup_3 {
        float: left;
        margin-top: 20px;
    }

    .Pendingsup .supno {
        background-color: #E87F23;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        color: White;
        border-bottom: 1px solid #474747;
        padding:4px;
    }

    .Pendingsup .supname {
        font-weight: bold;
        font-size: 12px;
        clear: both;
        line-height: 10px;
        margin-bottom:2px;
    }

    .Pendingsup .supdesignation {
        font-size: 10px;
        clear: both;
        /*margin-top: -3px;*/
    }

    .Pendingsup .suporg {
        margin-top: 3px;
        font-size: 10px;
        color: black;
        line-height: 10px;
        /*font-weight: bold;*/
    }

    .Pendingsup .evalbtn {
        margin-left: 1px;
        font-size: 11px;
        font-weight: bold;
        color: white;
        background-color: #E87F23;
        width: 160px;
        padding-left: 32px;
        margin-top: 2px;
        line-height: 26px;
        background-image: url(../Images/PMS/Pending.png);
        background-repeat: no-repeat;
        background-position: 7px 5px;
    }

.supeval_period {
    margin-bottom: 5px;
    margin-left: 13px;
    font-size: 13px;
    line-height: 22px;
    width: 97.8%;
    color: #4583bf;
    background-color: #CFE6FC;
    font-weight: bold;
    border: 1px solid #4583BF;
    padding-left: 10px;
    margin-top: 5px;
}

.guidelines {
    background-color: #DCFCE0;
    padding: 7px;
    margin-top: 6px;
    width: 98.9%;
    border: 1px solid #C0C0C0;
}

    .guidelines h4 {
        text-align: center;
        text-decoration: underline;
        font-size: 14px;
        margin-bottom: 4px;
    }

    .guidelines LI {
        background-repeat: no-repeat;
        margin-bottom: 9px;
        background-image: url(../Images/icon_boxarrow.gif);
        padding-left: 23px;
        font-size: 12px;
    }

    .guidelines table {
        border-collapse: collapse;
        font-size: 12px;
        margin-left: 4px;
        margin-top: -10px;
    }

    .guidelines .header {
        background-color: #BACBE6;
        font-weight: bold;
    }

    .guidelines table td {
        background-color: white;
        color: black;
        border: 1px solid gray;
        padding: 2px;
        font-size: 11px;
    }

.EVALPERIOD {
    color: #4a4a49;
    /*padding-right: 6px;*/
    margin-right: 2px;
    line-height: 19px;
    margin-left: 4px;
    /*float: left;*/
    background-color: #DEE687;
    margin-top: 4px;
    margin-bottom:4px;
    padding-left: 4px;
    padding-right: 4px;
    /*background-image: url(../../assets/images/PMS/NORMPERIOD.png);*/
    background-repeat: no-repeat;
    border: 1px solid gray;
    background-position: 3px 3px;
    font-weight:bold;
    /*height: 20px;
    width: 250px;*/
}

.lblcss {
    color: #6299C5 !important;
    font-weight: 100 !Important;
}

.RatingAbbreviation {
    width: 100%;
    border-collapse: collapse;
    /*margin-top: 5px;*/
    font-size: 11px;
    margin-bottom: 5px;
}

    .RatingAbbreviation TD {
        background-color: #FAF0C8;
        border: 1px solid gray;
        padding: 4px 3px 4px 16px;
    }

        .RatingAbbreviation TD span {
            font-weight: bold;
        }

.evalcriteria {
    padding: 5px !Important;
    line-height: 14px !Important;
    font-size: 11px !Important;
    font-weight: 100 !Important;
}

.MYRATING label {
    line-height: 13px;
    font-weight: bold;
}

.MYRATING td {
    padding: 3px 6px;
    background-color: #E5EBAE;
}

.sykiheader {
    background-color: #ECECD6;
    border: 1px solid #C5C8C9;
    margin: 2px 0px;
    width: 200px;
    padding-bottom: 1px;
}
