
.yuiTab .ajax__tab_header
{
	font-family: arial,helvetica,clean,sans-serif;
	font-size: 12px;
	border-bottom: solid 5px #2647a0;
}
.yuiTab .ajax__tab_header .ajax__tab_outer
{
	background: url(Images/sprite.png) #d8d8d8 repeat-x;
	margin: 0px 0.16em 0px 0px;
	padding: 1px 0px 1px 0px;
	vertical-align: bottom;
	border: solid 1px #a3a3a3;
	border-bottom-width: 0px;
}
.yuiTab .ajax__tab_header .ajax__tab_tab
{
	color: #000;
	padding: 0.35em 0.75em;
	margin-right: 0.01em;
}
.yuiTab .ajax__tab_hover .ajax__tab_outer
{
	background: url(Images/sprite.png) #bfdaff repeat-x left -1300px;
}
.yuiTab .ajax__tab_active .ajax__tab_tab
{
	color: #fff;
}
.yuiTab .ajax__tab_active .ajax__tab_outer
{
	background: url(Images/sprite.png) #2647a0 repeat-x left -1400px;
}
.yuiTab .ajax__tab_body
{
	font-family: verdana,tahoma,helvetica;
	font-size: 10px;
	padding: 0.25em 0.5em;
	background-color: #edf5ff;
	border: solid 1px #808080;
	border-top-width: 0px;
}
    /*Header*/
.Tab .ajax__tab_header
{
    color: #4682b4;
    font-family:Calibri;
    font-size: 12px;
    /*font-weight: bold;*/
    background-color: #ffffff;
    margin-left: 0px;
    vertical-align:middle;
}
/*Body*/
.Tab .ajax__tab_body
{
    border:1px solid #b4cbdf;
    padding-top:0px;
}
/*Tab Active*/
.Tab .ajax__tab_active .ajax__tab_tab
{
    color: #ffffff;
    background:url("../Images/Tab/tab_active.gif") repeat-x;
    height:20px;
}
.Tab .ajax__tab_active .ajax__tab_inner
{
    color: #ffffff;
    background:url("../Images/Tab/tab_left_active.gif") no-repeat left;
    padding-left:10px;
}
.Tab .ajax__tab_active .ajax__tab_outer
{
    color: #ffffff;
    background:url("../Images/Tab/tab_right_active.gif") no-repeat right;
    padding-right:6px;
}
/*Tab Hover*/
.Tab .ajax__tab_hover .ajax__tab_tab
{
    color: #000000;
    background:url("../Images/Tab/tab_hover.gif") repeat-x;
    height:20px;
    cursor:pointer; 
}
.Tab .ajax__tab_hover .ajax__tab_inner
{
    color: #000000;
    background:url("../Images/Tab/tab_left_hover.gif") no-repeat left;
    padding-left:10px;
    cursor:pointer;
}
.Tab .ajax__tab_hover .ajax__tab_outer
{
    color: #000000;
    background:url("../Images/Tab/tab_right_hover.gif") no-repeat right;
    padding-right:6px;
    cursor:pointer;
}
/*Tab Inactive*/
.Tab .ajax__tab_tab
{
    color: #666666;
    background:url("../Images/Tab/tab_Inactive.gif") repeat-x;
    height:20px;
}
.Tab .ajax__tab_inner
{
    color: #666666;
    background:url("../Images/Tab/tab_left_inactive.gif") no-repeat left;
    padding-left:10px;
}
.Tab .ajax__tab_outer
{
    color: #666666;
    background:url("../Images/Tab/tab_right_inactive.gif") no-repeat right;
    padding-right:6px;
    margin-right: 2px;
}


