a, a:hover{
    cursor: pointer;
    text-decoration: none;
}


table.dataTable thead tr {
    background: url(../images/tablebg.gif) #80a9ea repeat left top;
    FONT: 12px Verdana, Tahoma;
    COLOR: #ffffff;
}

table.dataTable tbody tr:nth-child(even) {
    background-color: #ffffff;
}

table.dataTable tbody tr:nth-child(odd) {
    background-color: #DBF1FF;
}


.dataTables_wrapper .dataTables_paginate .paginate_button {
    font-size: x-small;
    padding: 1px 0px;
}