.hidden{display:none;
}
.panel{
	background:#414e67;
	border:1px solid #222;
	color:#fff;
	font-size:100%;
	line-height:136%;
	position:absolute;
	text-align:left;
}
.panel a{
	color: #ffffff;
	text-decoration:none;
}
.panel #e2escroll{
	position:absolute;
	left:17em;
	top:6em;
	overflow: hidden;
	width: 12px;
}
#sayt_switch{
	position: absolute;
	width: 100%;
	text-align: right;
	left: -4px;
}
.ac_options{
	font-family: verdana;
	color: #FFFFFF;
	font-size: 10px;
}
.ac_options a{
	font-family: verdana; color:#9BB1BC;
}
.ac_options a.disabled{
	color:#FFFFFF;
	text-decoration: none;
	cursor: default;
}
#sayt_def{
	padding-left: 10px;
	padding-top: 0px;
	font-size: 13px;
	position: relative;
	z-index: 100;
	width: 70%;
	padding-bottom: 10px;
}
#masthead #ston{
	font-size: 12px;
}
#sayt_def a{
	color:#9BB1BC;
}
#masthead #stoff{
	line-height: 21px;
}
#e2eup, #e2edown{
	background:transparent url(images/arrow.gif) no-repeat;
	height:8px;
	width:10px;
	font-size:1px;
	display:block;
}
#e2escroll .up{background-position:0 0; margin-bottom:5px;}
#e2escroll .disabled{cursor:default;opacity:0.2;filter:Alpha(Opacity=20);}
#e2escroll .down{background-position:0 -13px;}
#ps_autocomplete a {
	border-top:1px solid #CBD4DB;
	padding-top:8px;
}
.panel ul{
	list-style:none;
	margin:0px 6px 6px 6px;
	padding:0;
	width:16em;
}
.panel a strong{
	color: #8AA0AB;
}
.panel ul li{
	margin-bottom:2px;
	white-space:nowrap;
}
.panel ul li a{display:block;
	padding:0 .2em 1px .2em;
}
.panel ul li a:hover{background:
	#636f89;
}
.panel ul li.sel a{outline:
	#838da2 solid thin;
}
.panel ul li a:hover b,.panel ul li.sel a b{
	color:#fff;
}
#e2etoggle img {
	display:block;
	width:427px;
	margin-top:-3px;
}
#e2etoggle {
	cursor:pointer;
	display:block;
	position:relative;
	z-index: 100;
}
#atg{
	margin-top:-1px;
	position:relative;
	width:325px;
	z-index:1;
	padding-top: 5px;
}
#atg{
	margin-top:0;
	width:318px;
}
#atgl{
	position: relative;
	display: none;
	overflow: hidden;
}
#atgl li a b{
	color: #9ab3bc;
	font-weight:bold;
}
#atgl li span{
	color: #fc0;
	text-decoration:none;
}
#yschact{
	width:327px;
	padding-top:4px;
}
#yschact.open{
	background-color:#363d50;
	border:1px solid #363d50;
	border-top:none;
	color: #fff;
	padding:4px 0 2px 8px;
}
#yschact.open .ttl{
	color: #e9ae31;
	font-weight:bold;
}
#masthead div.locals_div{
	height: 20px;overflow: hidden;background: white;
	width: 140px;
}
#masthead .locals_div input{
	padding-top: 2px;padding-right: 3px;padding-left: 3px;
	width: 140px;
}