h1 {
	margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;
} 

.ddl {
    border: 1px solid #7d6754;
    border-radius: 5px;
    padding: 3px;
    -webkit-appearance: none;
    /*background-image: url('../Images/Arrowdownhead.png');*/
    background-position: 88px;
    background-repeat: no-repeat;
    text-indent: 0.01px; /*In Firefox*/
    text-overflow: ''; /*In Firefox*/
}

h1.Heading {
    padding: 0.89em 1.11em;
    text-align: left;
    margin-bottom: 1.33em;
    font-family: 'Roboto-Regular';
    background-color: #8A8A8A;
    color: #FFF;
    font-weight: bold;
}

h4 {
    font-family: arial;
    font-size: 16px;
    line-height: 17px;
}

.someCss {
    font-size: 11px;
    font-family: Tahoma;
    color: #003399;
    background-color: #FFE6A0;
}

.HeaderStyleNew {
    background-color: #18C0FF;
    padding: 0.66em;
    color: #FFF;
    font-size: 0.78em;
    font-family: Verdana, Arial, Helvetica;
    font-weight: bold;
    position: relative;
    outline: 0;
    cursor: default;
    border: 1px solid #18c0ff;
}

.TableStyleNew {
    color: #FFF;
    font-size: 0.78em;
    font-family: Verdana, Arial, Helvetica;
    position: relative;
    outline: 0;
    cursor: default;
    border: 1px solid #18c0ff;
    width: 100%;
}

.roundedPanelnew {
    border-color: #81BEF7;
    border-width: 1px;
    color: black;
    font-weight: bold;
    vertical-align: middle;
    overflow: hidden !Important;
}

.listul {
    list-style-type: disc;
    list-style-image: url(../images/blue.gif);
    list-style-position: inside;
    float: left;
}
