.headertext {
	COLOR: #98cb00; FONT-FAMILY: Verdana; FONT-SIZE: 100%; FONT-WEIGHT: bold; TEXT-DECORATION: none; TEXT-TRANSFORM: uppercase
}
.headertext A {
	COLOR: #98cb00; TEXT-DECORATION: none; TEXT-TRANSFORM: uppercase
}
.headertext A:hover {
	COLOR: #98cb00; TEXT-DECORATION: underline; TEXT-TRANSFORM: uppercase
}
.thinheadertext {
	COLOR: #98cb00; FONT-FAMILY: Verdana; FONT-SIZE: 85%; TEXT-DECORATION: none; TEXT-TRANSFORM: uppercase
}
.thinheadertext A {
	COLOR: #98cb00; TEXT-DECORATION: none; TEXT-TRANSFORM: uppercase
}
.thinheadertext A:hover {
	COLOR: #98cb00; TEXT-DECORATION: underline; TEXT-TRANSFORM: uppercase
}
