/* Div container to wrap the datagrid */
div#div-datagrid 
{
	/*width: 420px;
	height: 200px;
	overflow: auto;
	scrollbar-base-color:#ffeaff;*/
	clear: both; 
	scrollbar-face-color: #dde1ed;
    background-repeat: no-repeat; 
    background-position: center; 
    margin: 8px; 
    scrollbar-highlight-color: #ffffff;
    overflow: auto; 
    scrollbar-shadow-color: #73779d; 
    scrollbar-3dlight-color: #96a2c8;
    scrollbar-arrow-color: #73779d; 
    scrollbar-track-color: #ebeaf2; 
    scrollbar-darkshadow-color: #faf6f2;
    scrollbar-base-color: #c0ced9;
    position: relative; 
    left: 0px; 
    top: 0px; 
    border-top-width: 1px;
    border-left-width: 1px; 
    border-left-color: #a9b5da; 
    border-bottom-width: 1px;
    border-bottom-color: #9da0ba; 
    border-top-color: #a9b5da; 
    border-right-width: 1px;
    border-right-color: #9da0ba;
    border:#CCDCE0 1px solid;
}

/* Locks the left column */
td.locked, th.locked 
{
	/*font-size: 14px;
	font-weight: bold;
	text-align: left;
	background-color: navy;
	color: white;
	border-right: 1px solid silver;*/
	position:relative;
	cursor: default;
	/*IE5+ only*/
	left: expression(document.getElementById("div-datagrid").scrollLeft-2);
}

/* Locks table header */
th 
{
	/*font-size: 14px;
	font-weight: bold;
	text-align: left;
	background-color: navy;
	color: white;
	border-right: 1px solid silver;
	border-top: 1px solid silver;*/
	position:relative;
	cursor: default;
	/*IE5+ only*/
	top: expression(document.getElementById("div-datagrid").scrollTop-2);
	
	z-index: 10;
}

/* Keeps the header as the top most item. Important for top left item*/
th.locked 
{
	z-index: 99;
}
