.oneRow {
    white-space: nowrap;
    padding: 0 2px 0 2px;
}

.tableGridView {
    border-collapse: collapse;
}

    .tableGridView tr th {
        color: #000000;
    }

    .tableGridView tr th, .tableGridView tr td {
        border: 1px solid Silver;
        padding: 2px;
        line-height: 20px;
    }

.PagerStyle table tr td {
    border: none;
    padding: 0;
}
