.oneRow {
    white-space: nowrap;
    padding: 0 2px 0 2px;
}

.tableGridView {
    border-collapse: collapse;
}

    .tableGridView tr th {
        color: #000000;
    }

    .tableGridView tr th, .tableGridView tr td {
        border: 1px solid Silver;
        padding: 2px;
        line-height: 20px;
    }

.successmessage {
    font-family: Verdana, Arial, Helvetica;
    background-color: #CEE3F6;
    height: 24px;
    vertical-align: middle;
    font-weight: bold;
    padding: 5px 0px 5px 5px;
    margin: 2px;
    border: solid 1px #0094ff;
}

.errormessage {
    font-family: Verdana, Arial, Helvetica;
    background-color: #ffeaea;
    height: 24px;
    vertical-align: middle;
    font-weight: bold;
    padding: 5px 0px 5px 5px;
    margin: 2px;
    border: solid 1px #ff0000;
}

.PagerStyle table tr td {
    border: none;
    padding: 0;
}
.Alternatedata {
    /*BackColor ="White" ForeColor="#5D838C"*/
    background-color: White;
    color: #5D838C
}

.grdrow.cmgrdrow {
    font-size:10px;
}

.grdHeader.cmgrdhead {
    color: #000000;
    background: #CAE8EA url(../aspxview/images/bg_header.jpg) no-repeat;
   
}
    .grdHeader.cmgrdhead tr th, .grdrow.cmgrdrow tr td {
        border: 1px solid Silver;
        padding: 2px;
        line-height: 20px;
    }